<div class="a-content">
  <div class="heading-container">
    <h1 class="heading"> {{'CONTENT.PLURAL' | translate}} </h1>
    <!--<button class="add-item" mat-mini-fab routerLink="create">+</button>-->
  </div>
  <div class="row">
    <div class="item item-wrapper col-md-4" routerLink="create">
      <mat-card class="item-card new-item-card">
        <mat-card-content>
          <div class="new-item">{{'CONTENT.CREATE' | translate}}</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="content">
      <div class="item item-wrapper col-md-4" *ngFor="let item of content" routerLink="edit/{{item._id}}">
        <mat-card class="item-card">
          <mat-card-content>
            <!-- <div class="col-sm-12 item-img-container">
              <div class="item-img">
                <img src={{item.offer_imageURL}} alt={{item.name}} />
              </div>
            </div> -->
            <div class="col-sm-12 item-details">
              <div class="item-heading">
                <div class="item-title">{{item.name}}</div>
              </div>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>
