@import "../../../../variables.scss";
.s_single {
  &-date {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    color: #fff;
    padding: 10px;
    font-size: 1.25rem;
    @extend .light-shadow;
    background-color: $secondary;
  }
}
