<div class="wallet_singlePost_wrapper">
	<div class="singlePost row">
		<div class="col-sm-12 singlePost-img-container">
			<div class="singlePost-img">
				<img src={{singlePost.post_event_imageURL}} alt={{singlePost.name}} />
				<div *ngIf="singlePost.dateTime" class="post-date"><span class="white mdi mdi-calendar"></span> {{singlePost.dateTime | date: 'd.M'}}</div>
			</div>
		</div>
		<div class="col-sm-12 singlePost-details">
			<div class="singlePost-heading">
				<div class="singlePost-title">{{singlePost.title}}</div>
				<div class="singlePost-type">{{singlePost.type}}</div>
			</div>
			<div class="singlePost-description">
				<p *ngIf="singlePost.content">
					{{singlePost.content}}
				</p>
				<p *ngIf="singlePost.description">
					{{singlePost.description}}
				</p>
			</div>
			<div class="singlePost-info">
				<div class="">
					<div class="singleCoop-subtitle">
						<img src="../../../assets/media/images/Map-Icon.png" alt="Shop" />
						<span class="mdi mdi-shopping"></span>{{singlePost.merchant_name}}
					</div>
				</div>
				<div class="share">						
					<app-share-icon></app-share-icon>
					<span class="mdi mdi-share-variant share-icon"></span><img src="../../../assets/media/images/Share.png" alt="share" />
				</div>
			</div>
		</div>
	</div>
</div>


<div class="wallet_s_single_wrapper synergy-single post-single row">
	<div class="s_single col-md-12">
		<div appSticky position="top" class="row s_single-title-container">
			<div class="col-md-12">
				<h1 class="s_single-title">{{singleCoop.name}}</h1>
			</div>
		</div>
		<div class="row s_single-img-area">
			<div class="col-md-12 s_single-img-container">
				<div class="s_single-img">
					<img src={{singlePost.post_event_imageURL}} alt={{singlePost.name}} />
				</div>
			<div *ngIf="singlePost.dateTime" class="s_single-date">
				<span class="white mdi mdi-calendar"></span> {{singlePost.dateTime | date: 'd.M'}}
			</div>
		</div>
		<div class="row s_single-details">
			<div class="col-md-12">
				<div class="row s_single-info-container">
					<div class="col-md-6 s_single-info">
						<div class="info-row"><span class="mdi mdi-shop"></span>{{singlePost.merchant_name}}</div>
						<div class="info-row"><span class="mdi mdi-map"></span>{{singlePost.merchant_name}}</div>
					
					</div>
				</div>
				<div class="row s_single-description">
					<div class="col-md-12">
						<p [innerHTML]="singlePost.content"></p>
					</div>
				</div>
			</div>
		</div>

		<!-- Microcredit Campaigns -->
		<div class="row section-list" *ngIf="singleMicrocredits && singleMicrocredits.length">
			<div class="col-md-12">
				<h3 class="list-tiltle">{{'LISTS.CAMPAIGN_LIST' | translate }}</h3>
				<owl-carousel-o [options]="customOptionsSingle">
					<ng-template carouselSlide *ngFor="let microcredit of (singleMicrocredits)">
						<app-card-microcredit [microcredit]="microcredit" type="single" (mousedown)="mousedown()"
							(mousemove)="mousemove()" (mouseup)="mouseup(microcredit, 'microcredit')">
						</app-card-microcredit>
					</ng-template>
				</owl-carousel-o>
			</div>
		</div>

		<!-- Offers of Coop -->
		<div class="row section-list" *ngIf="singleOffers && singleOffers.length">
			<div class="col-md-12">
				<h3 class="list-tiltle">{{ 'LISTS.OFFERS_LIST' | translate }}</h3>
				<owl-carousel-o [options]="customOptionsSingle">
					<ng-template carouselSlide *ngFor="let offer of (singleOffers);">
						<app-card-offer [offer]="offer" type="single"></app-card-offer>
					</ng-template>
				</owl-carousel-o>
			</div>
		</div>

		<!-- News & Events of Coop -->
		<div class="row section-list" *ngIf="singlePosts && singlePosts.length">
			<div class="col-md-12">
				<h3 class="list-tiltle">{{ 'LISTS.NEWSEVENTS_LIST' | translate }}</h3>
				<owl-carousel-o [options]="customOptionsSingle">
					<ng-template carouselSlide *ngFor="let post of (singlePosts)">
						<app-card-post [post]="post" type="single" (mousedown)="mousedown()" (mousemove)="mousemove()"
							(mouseup)="mouseup(post, 'post')"></app-card-post>
					</ng-template>
				</owl-carousel-o>
			</div>
		</div>

	</div>



</div>

<!-- Post Event Modal -->
<ng-template #postModal let-c="close" let-d="dismiss">
	<button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
	<app-single-post [singlePost]="singlePost"></app-single-post>
</ng-template>

<!-- Microcredit Campaign Modal -->
<ng-template #campaignModal let-c="close" let-d="dismiss">
	<button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
	<app-single-microcredit [singleMicrocredit]="singleMicrocredit"></app-single-microcredit>
</ng-template>