<div class="m-offers">
  <div class="heading-container">
    <h1 class="heading"> {{'OFFER.PLURAL' | translate}} </h1>
    <!--<button class="add-item" mat-mini-fab routerLink="create">+</button>-->
  </div>
  <div class="row">
    <div class="item item-wrapper col-md-4" routerLink="create">
      <mat-card class="item-card new-item-card">
        <mat-card-content>
          <div class="new-item">{{'OFFER.CREATE' | translate}}</div>
        </mat-card-content>
      </mat-card>
    </div>
    <ng-container *ngIf="offers">
      <div class="item item-wrapper col-md-4" *ngFor="let item of offers" routerLink="edit/{{item.offer_id}}">
        <app-card-offer [offer]="item"></app-card-offer>
        <!-- <mat-card class="item-card">
          <mat-card-content>
            <div class="col-sm-12 item-img-container">
              <div class="item-img">
                <img src={{item.offer_imageURL}} alt={{item.title}} />
                <div class="item-expires">{{'GENERAL.TO' | translate}} {{item.expiresAt | date: 'd.M'}}</div>
              </div>
            </div>
            <div class="col-sm-12 item-details">
              <div class="item-heading">
                <div class="item-title">{{item.title}}</div>
                <div>
                  <span class="points">{{item.cost}}</span>
                </div>
              </div>
              <div class="item-description">
                {{item.subtitle}}
              </div>
            </div>

          </mat-card-content>
        </mat-card> -->
      </div>
    </ng-container>
  </div>
</div>