<p>sub-offer-form works!</p>

<p>{{transaction.offer_id}}</p>
<p>Cost: {{transaction.cost}}</p>
<p>Customer;s Points: {{transaction.points}}</p>

<div *ngIf='!transaction.possible_quantity'>
    <p>
        Not enough points
    </p>
</div>
<form *ngIf='transaction.possible_quantity' [formGroup]="submitForm">
    <!--begin: Form Wizard Step 1-->
    <div class="col-xl-6">
        <h5>Transaction's quantity</h5>
        <div class="form-group">
            <label>Quantity</label>
            <div class="input-group">
                <span class="input-group-text">€</span>
                <input type="number" class="form-control" name="quantity" formControlName="quantity"
                    placeholder="Quantity" value="0">
            </div>
            <span *ngIf="isControlHasError('quantity','required')"
                class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</span>
            <span *ngIf="isControlHasError('quantity','min')"
                class="error text-danger">{{ 'FORM.VALIDATION.MIN_VALUE_FIELD' | translate }}
                {{ '1' }}</span>
            <span *ngIf="isControlHasError('quantity','max')"
                class="error text-danger">{{ 'FORM.VALIDATION.MAX_VALUE_FIELD' | translate }}
                {{ transaction.possible_quantity }}</span>
            <span class="form-text text-muted">Please enter
                transaction's
                quantity.</span>
        </div>
    </div>
</form>
<button type="button" (click)="onNextStep()">Go to next step</button>