@import "../../../variables.scss";

.scanner-offer-info {
	margin-bottom: 20px;
	.col-head {
		&.offer-id {
			color: $tertiary;
		}
		&.cost {
			color: $secondary;
		}
		&.points {
			color: $primary;
		}
	}
	.offer-num {
		font-size: 26px;
		height: 35px;
		line-height: 35px;
		&.small {
			font-size: 16px;
		}
	}
}