<div *ngIf='type===1'>
  <p>{{'MEMBER.WIZARD.SUB_FINAL.AMOUNT' | translate}}: {{support.amount}}</p>
  <p>{{'MEMBER.WIZARD.SUB_FINAL.PAYMENT' | translate}}: {{support.method}}</p>
  <p>{{'MEMBER.WIZARD.SUB_FINAL.PAYMENT_ID' | translate}}: {{support.payment_id}}</p>
  <p *ngIf="support.method!='store'">{{'MEMBER.WIZARD.SUB_FINAL.INSTRUCTIONS' | translate}}:
    {{'SUPPORT.PAYMENT.BANK' | translate}} ||
    {{support.how.title | translate}} : {{support.how.value}}</p>
  <p *ngIf="support.method=='store'">{{'MEMBER.WIZARD.SUB_FINAL.INSTRUCTIONS' | translate}}:
    {{'SUPPORT.PAYMENT.STORE' | translate}} </p>
  <button type="button" (click)="onNextStep()">{{'MEMBER.WIZARD.CLOSE' | translate}}</button>
</div>
