<form [formGroup]="submitForm">
  <!--begin: Form Wizard Step 1-->
  <div>
    <h5>Transaction amount</h5>
    <div class="form-group">
      <label>Amount</label>
      <div class="input-group">
        <span class="input-group-text">€</span>
        <input type="number" class="form-control" name="amount" formControlName="amount" placeholder="Amount" value="0">
      </div>
      <span *ngIf="isControlHasError('amount','required')"
        class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</span>
      <span *ngIf="isControlHasError('amount','min')"
        class="error text-danger">{{ 'FORM.VALIDATION.MIN_VALUE_FIELD' | translate }}
        {{ campaign.minAllowed | currency: 'EUR'}}</span>
      <span *ngIf="isControlHasError('amount','max')"
        class="error text-danger">{{ 'FORM.VALIDATION.MAX_VALUE_FIELD' | translate }}
        {{ campaign.maxAllowed | currency: 'EUR'}}</span>
      <span class="form-text text-muted">Please enter
        transaction's
        amount.</span>
    </div>
    <div class="">
      <mat-checkbox type="checkbox" name="amount" formControlName="paid" placeholder="Amount" value="0"
        labelPosition="before">Paid?</mat-checkbox>
    </div>
  </div>
  <div *ngIf="rejected" class="merchant-alert">
    Unfortunately there is no user with the details you have entered.
  </div>
</form>
<button mat-raised-button type="button" (click)="onPreviousStep()" class="mr-2">Previous Step</button>
<button mat-raised-button type="button" (click)="onNextStep()" *ngIf="!rejected">Complete transaction</button>
