<form [formGroup]="submitForm">
    <!--begin: Form Wizard Step 1-->
    <div class="col-xl-6">
        <h5>Transaction's amount</h5>
        <div class="form-group">
            <label>Amount</label>
            <div class="input-group">
                <span class="input-group-text">€</span>
                <input type="number" class="form-control" name="amount" formControlName="amount" placeholder="Amount"
                    value="0">
            </div>
            <span *ngIf="isControlHasError('amount','required')"
                class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</span>
            <span *ngIf="isControlHasError('amount','min')"
                class="error text-danger">{{ 'FORM.VALIDATION.MIN_VALUE_FIELD' | translate }}
                {{ support.minAmount | currency: 'EUR'}}</span>
            <span *ngIf="isControlHasError('amount','max')"
                class="error text-danger">{{ 'FORM.VALIDATION.MAX_VALUE_FIELD' | translate }}
                {{ support.maxAmount | currency: 'EUR'}}</span>
            <span class="form-text text-muted">Please enter
                transaction's
                amount.</span>
        </div>
        <div class="form-group">
            <label>Paid?</label>
            <div class="input-group">
                <input type="checkbox" class="form-control" name="amount" formControlName="paid" placeholder="Amount"
                    value="0">
            </div>
        </div>
    </div>
</form>

<button type="button" (click)="onNextStep()">Go to next step</button>