.nav {
	.side-menu-item-active {
		a {
			color: #fff;
		}
	}
	a {
		//padding: 8px 8px 8px 32px;
		min-width: 240px;
		text-decoration: none;
		font-size: 24px;
		color: #aaa;
		display: flex;
		align-items: center;
		transition: all 0.3s;
		.mdi {
			margin-right: 20px;
			transition: color 0.2s;
		}
		.menu-text {
			font-size: 18px;
			transition: opacity 0.3s ease-out;
		}
		
	}
}

.nav a:hover {
	color: #f1f1f1;
	.mdi {
		color: #37aba7;
	}
}

.closebtn, .togglebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	color: #f1f1f1;
	text-decoration: none;
	&:hover {
		opacity: 0.7;
	}
}

.togglebtn {
	right: 15px;
	transition: transform 0.3s, opacity 0.3s;
}

@media screen and (max-width: 1024px) {
	.togglebtn {
		display: none;
	}

}
@media screen and (min-width: 1025px) {
	.closebtn {
		display: none;
	}

}
