<div *ngIf='type===1'>
    <p>Transaction Amount: {{transaction.final_amount}}</p>
    <p>Points to Redeem: {{transaction.discount_points}}</p>
    <button mat-raised-button type="button" (click)="onNextStep()">Complete Transaction</button>
</div>

<div *ngIf='type===2'>
    <p>Points to Redeem: {{transaction.discount_points}}</p>
    <p>Quantity: {{transaction.quantity}}</p>
    <button mat-raised-button type="button" (click)="onNextStep()">Complete Transaction</button>
</div>

<div *ngIf='type===3'>
    <p>Tokens Remaining Before: {{transaction.initial_tokens - transaction.redeemed_tokens}}</p>
    <p>Tokens Redeemed Now: {{transaction.discount_tokens}}</p>
    <p>Tokens Remaining Now:
        {{transaction.initial_tokens - (transaction.redeemed_tokens + transaction.discount_tokens)}}
    </p>
    <button mat-raised-button type="button" (click)="onNextStep()">Complete Transaction</button>
</div>