<mat-card class="synergy-card offer-card" *ngIf="offer">
  <mat-card-content>
		<!--begin::Content-->
		<div class="wallet_offer_wrapper s_archive_wrapper">
			<div class="offer s_archive row" >
				<div class="col-sm-12 s_archive-img-container">
					<div class="s_archive-img">
						<img src={{offer.offer_imageURL}} alt={{offer.title}} />
						<div class="s_archive-date">έως {{offer.expiresAt | date: 'd.M'}}</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="s_archive-heading">
						<h4 class="s_archive-title">{{offer.title}}</h4>
						<div>
							<span class="s_archive-points">{{offer.cost}}</span>
						</div>
					</div>
					<div class="s_archive-subtitle">
						{{offer.subtitle}}
					</div>
					<div class="s_archive-info">
						<div class="s_archive-merchant" *ngIf="type!='single'">
							<div class="s_archive-merch-name" ><span class="mdi mdi-shopping"></span>{{offer.merchant_name}}</div>
							<div class="s_archive-merch-adress"><span class="mdi mdi-pin"></span>{{offer.adress}}</div>
						</div>
						<app-share-icon></app-share-icon>
					</div>
				</div>
			</div>
		</div>
		<!--end::Content-->
  </mat-card-content>
</mat-card>
