<div class="scan-modal-container">
	<button type="button" class="close-btn" aria-label="Close" (click)="onFinalStep()">
		<span aria-hidden="true">&times;</span>
	</button>
	<aw-wizard>
		<aw-wizard-step stepTitle="Scan Or Add">
			<div class="step-container row justify-content-md-center">
				<div class="col-xl-6">
					<app-sub-scanner *ngIf="!showIdentifierForm" (scan_identifier)="onSuccessScanIdentifier($event)">
					</app-sub-scanner>
					<button  class="btn btn-primary" type="button" (click)="onShowIdentifierFormChange()">
						<span *ngIf="!showIdentifierForm; else back_to_scanner">
							Identifier Form
						</span>
						<ng-template #back_to_scanner>
							<span>Back to Scanner</span>
						</ng-template>
					</button>
					<div *ngIf="showIdentifierForm">
						<app-sub-identifier-form (add_identifier)="onSubmitIdentifierForm($event)">
						</app-sub-identifier-form>
					</div>
				</div>
			</div>
		</aw-wizard-step>
		<aw-wizard-step stepTitle="Microcredit" awOptionalStep>
			<div class="step-container row justify-content-md-center">
				<app-sub-microcredit-form (add_microcredit)="onSubmitMicrocreditForm($event)">
				</app-sub-microcredit-form>
				<!--<button type="button" awPreviousStep>Previous Step</button>-->
			</div>
		</aw-wizard-step>
		<aw-wizard-step stepTitle="Final">
			<div class="step-container row justify-content-md-center">
				<app-sub-final-step (finalize)="onFinalStep($event)" [type]=3></app-sub-final-step>
			</div>
		</aw-wizard-step>
	</aw-wizard>
</div>