<div class="scan-modal-container">
  <button type="button" class="close-btn" aria-label="Close" (click)="onFinalStep()">
    <span aria-hidden="true">&times;</span>
  </button>
  <aw-wizard>

    <!--start::Step A - Scan/Enter Identifier-->
    <aw-wizard-step stepTitle="Scan Or Add">
      <scanner-notice></scanner-notice>
      <div class="step-container row justify-content-md-center">
        <div class="col-xl-6">
          <app-sub-scanner *ngIf="!showIdentifierForm" (scan_identifier)="onSuccessScanIdentifier($event)">
          </app-sub-scanner>
          <button class="btn btn-primary" type="button" (click)="onShowIdentifierFormChange()">
            <span *ngIf="!showIdentifierForm; else back_to_scanner">
              Identifier Form
            </span>
            <ng-template #back_to_scanner>
              <span>Back to Scanner</span>
            </ng-template>
          </button>
          <div *ngIf="showIdentifierForm">
            <app-sub-identifier-form (add_identifier)="onSubmitIdentifierForm($event)">
            </app-sub-identifier-form>
          </div>
        </div>
      </div>
    </aw-wizard-step>
    <!--end::Step A - Scan/Enter Identifier-->

    <!--start::Step B - Enter Tokens-->
    <aw-wizard-step stepTitle="Microcredit">
      <scanner-notice></scanner-notice>
      <div *ngIf="loading" class="spinner-overlay">
        <mat-spinner></mat-spinner>
      </div>
      <div class="step-container row justify-content-md-center">
        <app-sub-microcredit-form (previous_step)="onPreviousStep($event)"
          (add_microcredit)="onSubmitMicrocreditForm($event)">
        </app-sub-microcredit-form>
        <!--<button type="button" awPreviousStep>Previous Step</button>-->
      </div>
    </aw-wizard-step>
    <!--end::Step B - Enter Tokens-->

    <!--start::Step C - Final-->
    <aw-wizard-step stepTitle="Final">
      <scanner-notice></scanner-notice>
      <div class="step-container row justify-content-md-center">
        <app-sub-final-step (finalize)="onFinalStep($event)" [type]=3></app-sub-final-step>
      </div>
    </aw-wizard-step>
  </aw-wizard>
  <!--end::Step C - Final-->

</div>