@import "../../../../variables.scss";

.item-card {
  cursor: pointer;
}
.m-offers {
  .item-wrapper {
    margin-bottom: 20px;

    .item-card {
      cursor: pointer;
    }
  }

  > .row {
    margin-top: 20px;
  }

  .heading-container {
    position: relative;
  }
  //   .add-item {
  //     font-size: 34px;
  //     font-weight: 400;
  //     width: 40px;
  //     height: 40px;
  //     line-height: 34px;
  //     position: absolute;
  //     top: -4px;
  //     right: 2px;
  //   }
  // }

  // .item {
  //   &-card {
  //     padding-top: 0;
  //     padding-left: 0;
  //     padding-right: 0;
  //     cursor: pointer;
  //   }

  //   &-img {
  //     position: relative;
  //     height: auto;
  //     overflow: hidden;
  //     padding-top: 50%;
  //     background-position: 50% 50%;
  //     background-size: cover;

  //     &-container {
  //       padding: 0;
  //       margin-bottom: 20px;
  //     }

  //     img {
  //       right: 0;
  //       width: 100%;
  //       height: 100%;
  //       bottom: 0;
  //       left: 0;
  //       top: 0;
  //       position: absolute;
  //       object-position: 50% 50%;
  //       object-fit: cover;
  //     }
  //   }

  //   &-expires,
  //   &-type {
  //     position: absolute;
  //     z-index: 1;
  //     right: -1px;
  //     bottom: 30%;
  //     background-color: $primary;
  //     color: #fff;
  //     padding: 5px 15px;
  //     font-size: 1.22rem;
  //   }

  //   &-heading {
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-between;
  //     margin-bottom: 18px;
  //     position: relative;

  //     .points {
  //       font-size: 1.1rem;
  //     }
  //   }

  //   &-description {
  //     font-size: 1.1rem;
  //     color: #8b8b8b;
  //     margin-bottom: 5px;
  //   }

  //   &-title {
  //     font-size: 1.4rem;
  //   }

  //   &-subtitle {
  //     font-size: 14px;
  //     margin-bottom: 5px;
  //     color: #8b8b8b;

  //     img {
  //       position: relative;
  //       top: -2px;
  //       margin-right: 5px;
  //       max-width: fit-content;
  //     }
  //   }

  //   &-info {
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-between;

  //     .share {
  //       cursor: pointer;
  //     }
  //   }
  // }
}
