<mat-card class="dashboard-card microcredit-card" *ngIf="microcredit">
  <mat-card-content>
		<!--begin::Content-->
		<div class="wallet_microcredit_wrapper">
			<div class="microcredit row" >
				<div class="col-sm-12 microcredit-img-container">
					<div class="microcredit-img">
						<img src={{microcredit.img}} alt={{microcredit.title}} />
					</div>
					
				</div>
				<div class="col-sm-12 microcredit-amount">
					<div class="microcredit-heading">
						<div class="microcredit-title">{{microcredit.title}}</div>
						<div>
							<span class="points">{{microcredit.price_reduced | currency:'EUR'}}</span><br>
							<span class="points">από {{microcredit.price_initial | currency:'EUR'}}</span>
						</div>
					</div>
					<div class="microcredit-description">
						{{microcredit.desc}}
						<div class="microcredit-reddem">
							Εξαργύρωση από {{microcredit.begins}} εώς {{microcredit.expires}}
						</div>
					</div>
					
					
					<div class="microcredit-info">
						<div class="">
							<div class="microcredit-subtitle" *ngIf="type!='single'"><img src="../../../assets/media/images/Shop-Icon.png" alt="Shop" />{{microcredit.merchant_name}}</div>
							<div class="microcredit-subtitle" *ngIf="type!='single'"><img src="../../../assets/media/images/Map-Icon.png" alt="Shop" />{{microcredit.merchant_name}}</div>
						</div>
						<app-share-icon></app-share-icon>
					</div>
				</div>
			</div>
		</div>
		<!--end::Content-->
  </mat-card-content>
</mat-card>
