@import "../settings.component.scss";
// @import "../../../../variables.scss";

// .form {
// 	margin-bottom: 1.5rem;

// 	.form-group {
// 		padding-left: 30px;
// 		padding-right: 30px;
// 		margin-bottom: 1.5rem;

// 		.payment {
// 			margin-bottom: 1.5rem;
// 		}
// 	}

// 	.form-actions {
// 		margin-top: 20px;
// 		button {
// 			float: right;
// 			font-size: 18px;
// 			padding: 4px 22px;
// 		}
// 	}

// 	mat-form-field {
// 		width: 100%;
// 	}
// }
