<div class="a-content">

  <div class="row">

    <!--begin::Button (Create Content)-->
    <div class="item item-wrapper col-md-4" routerLink="create">
      <mat-card class="item-card new-item-card">
        <mat-card-content>
          <div class="new-item">{{'CONTENT.CREATE' | translate}}</div>
        </mat-card-content>
      </mat-card>
    </div>
    <!--end::Button (Create Content)-->

  </div>
  <div class="row">

    <!--begin::Content List-->
    <ng-container *ngIf="content">
      <div class="item item-wrapper col-md-4" *ngFor="let item of content" routerLink="edit/{{item._id}}">

        <mat-card class="item-card content-card">
          <mat-card-content>

            <div class="wallet_offer_wrapper s_archive_wrapper">
              <div class="offer s_archive row">
                <div class="col-md-12">
                  <div class="s_archive-content container-fluid">
                    <div class="s_archive-heading row">
                      <h4 class="s_archive-title col-12">{{item.name}}</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </mat-card-content>
        </mat-card>

      </div>
    </ng-container>
    <!--end::Content List-->

  </div>
</div>
