<div class="dashboard">
  <div class="row">
    <div class="col-md-6">

      <!--start::Loyalty Badge-->
      <div *ngIf="configAccess[1]" class="row">
        <div *ngIf="loyalty_badge" class="badge-container">
          <div class="mr-4">
            <img *ngIf="loyalty_badge.image" [src]="loyalty_badge.image">
          </div>
          <div *ngIf="loyalty_badge.text" class="bagde-text">
            <!-- <h2 *ngIf="badge.text">{{badge.text.title.rendered}}</h2>
          <p [innerHTML]="badge.text.content.rendered" *ngIf="badge.text"></p> -->
            <div *ngIf="translate.currentLang == 'en'">
              <h2>{{loyalty_badge.text.en_title}}</h2>
              <p [innerHTML]="loyalty_badge.text.en_content"></p>
            </div>
            <div *ngIf="translate.currentLang == 'el'">
              <h2>{{loyalty_badge.text.el_title}}</h2>
              <p [innerHTML]="loyalty_badge.text.el_content"></p>
            </div>
          </div>
        </div>
      </div>
      <!--end::Loyalty Badge-->

      <!--start::Microcredit Badge-->
      <div *ngIf="!configAccess[1]&&configAccess[2]" class="row">
        <div *ngIf="microcredit_badge" class="badge-container">
          <div class="mr-4">
            <img *ngIf="loyalty_badge.image" [src]="loyalty_badge.image">
          </div>
          <div *ngIf="loyalty_badge.text" class="bagde-text">
            <div *ngIf="translate.currentLang == 'en'">
              <h2>{{loyalty_badge.text.en_title}}</h2>
              <p [innerHTML]="loyalty_badge.text.en_content"></p>
            </div>
            <div *ngIf="translate.currentLang == 'el'">
              <h2>{{loyalty_badge.text.el_title}}</h2>
              <p [innerHTML]="loyalty_badge.text.el_content"></p>
            </div>
          </div>
        </div>
      </div>
      <!--end::Microcredit Badge-->
    </div>


    <div class="col-md-6">
      <mat-card class="dashboard-card wallet-card">
        <mat-card-header class="wallet-card-header">
          <mat-card-title>{{'MEMBER.DASHBOARD.WALLET_TITLE' | translate}}</mat-card-title>
          <span class="mdi mdi-qrcode wallet-card-icon" (click)="openQrcode()"></span>
        </mat-card-header>
        <mat-card-content>
          <!--begin::Content-->
          <div class="wallet_single_wrapper">

            <!--begin::Loyalty Points (Balance)-->
            <div *ngIf="configAccess[1]">
              <div *ngIf="balance" class="single row wallet-row" (click)="openWallet()">
                <div class="col-9 single-content" *ngIf="balance.text">
                  <span class="wallet-img">
                    <img src="../../../assets/media/images/Synergy-Icon.png" alt="Synergy" />
                  </span>
                  <div class="" *ngIf="translate.currentLang == 'en'">
                    <div class="single-title">{{balance.text.en_title}}</div>
                    <div class="single-subtitle"><span
                        class="mdi mdi-shopping"></span>{{'MEMBER.DASHBOARD.WALLET_SUBTITLE' | translate}}
                    </div>
                  </div>
                  <div class="" *ngIf="translate.currentLang == 'el'">
                    <div class="single-title">{{balance.text.el_title}}</div>
                    <div class="single-subtitle"><span
                        class="mdi mdi-shopping"></span>{{'MEMBER.DASHBOARD.WALLET_SUBTITLE' | translate}}
                    </div>
                  </div>
                </div>
                <div class="col-3 single-amount">
                  <div *ngIf="balance">
                    <span class="points">{{balance.points}}</span>
                  </div>
                </div>
              </div>
            </div>
            <!--end::Loyalty Points (Balance)-->

            <!--begin::Microcredit Supports List-->
            <div *ngIf="configAccess[2]">
              <div class="single row wallet-coop"
                *ngFor="let s of (supportsList) | paginate: { id: 'tr_paginator', itemsPerPage: 3, currentPage: p }"
                (click)="openSupportItem(s)">
                <div class="col-sm-9 single-content">
                  <div class="wallet-img">
                    <img src={{s.campaign_imageURL}} alt={{s.title}} />
                  </div>
                  <div class="">
                    <div class="single-title">{{s.title}}</div>
                    <div class="single-subtitle"><span class="mdi mdi-shopping"></span>{{s.partner_name}}</div>
                    <div class="single-subtitle">
                      {{'GENERAL.FROM' | translate}} {{s.redeemStarts | date: 'd.M.y' }}
                      {{'GENERAL.TO' | translate}} {{s.redeemEnds | date: 'd.M.y' }}</div>
                  </div>
                </div>
                <div class="col-sm-3 single-amount">
                  <div>
                    <span class="points">{{ s.initialTokens - s.redeemedTokens | currency:'EUR' }}</span>
                  </div>
                </div>
              </div>
              <div class="pagination-wrapper">
                <pagination-controls autoHide="true" id='tr_paginator' (pageChange)="p=$event"></pagination-controls>
              </div>
            </div>
            <!--end::Microcredit Supports List-->

          </div>
          <!--end::Content-->
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!--start::Loaylty Offers List-->
  <div *ngIf="configAccess[1]">
    <div class="row section-list" *ngIf="offers">
      <div class="col-md-12">
        <h3 class="list-tiltle">{{'OFFER.PLURAL' | translate }}</h3>
        <div class="row">
          <div class="item col-lg-4 col-md-6" *ngFor="let offer of (offers)">
            <app-card-offer [offer]="offer" type="all"></app-card-offer>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end::Loaylty Offers List-->

</div>

<!--start::Modals-->
<!--start::QR Code Modal-->
<ng-template #qrcodeModal let-c="close" let-d="dismiss">
  <div *ngIf="qrcode" class="qrcode-popup">
    <button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <app-qr-code></app-qr-code>
    <div *ngIf="qrcode.text">
      <p *ngIf="translate.currentLang == 'en'" class="qr-code-text" [innerHTML]="qrcode.text.en_content"></p>
      <p *ngIf="translate.currentLang == 'el'" class="qr-code-text" [innerHTML]="qrcode.text.el_content"></p>
    </div>
  </div>
</ng-template>
<!--end::QR Code Modal-->

<!--start::Loyalty Points Modal-->
<ng-template #walletModal let-c=" close" let-d="dismiss">
  <div class="container wallet-popup">
    <button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="single row-flex">
      <div class="">
        <span class="wallet-img">
          <img src="../../../assets/media/images/Synergy-Icon.png" alt="Synergy" />
        </span>
      </div>
      <div *ngIf="balance.text" class="">
        <h3 *ngIf="translate.currentLang == 'en'" class="balance-title">{{balance.text.en_title}}</h3>
        <h3 *ngIf="translate.currentLang == 'el'" class="balance-title">{{balance.text.el_title}}</h3>
      </div>
      <div *ngIf="balance.points" class="balance-amount">
        <div>
          <span class="points">{{balance.points}}</span>
        </div>
      </div>
    </div>
    <div *ngIf="balance.text" class="balance-text mt-3">
      <p *ngIf="translate.currentLang == 'en'" [innerHTML]="balance.text.en_content"></p>
      <p *ngIf="translate.currentLang == 'el'" [innerHTML]="balance.text.el_content"></p>
    </div>
  </div>
</ng-template>
<!--end::Loyalty Points Modal-->

<!--start::Microcredit Support Modal-->
<ng-template #supportsModal let-c="close" let-d="dismiss">
  <button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <app-card-supports [supportItem]="supportItem"></app-card-supports>
</ng-template>
<!--end::Microcredit Support Modal-->
<!--end::Modals-->
