.user-menu {
	display: flex;
	.header-topbar {
		
		&-avatar {
			height: 30px;
			width: 30px;
			border-radius: 50%;
			background-size: cover;
			cursor: pointer;
		}
		&-name {
			text-align: center;
			font-size: 16px;
			color: #999;
			//margin-bottom: 1px;
			padding: 0.8rem 0;
			border-bottom: 1px solid #eee;
			background-color: #f4f8f8;
		}
		.dropdown-menu {
			padding-top: 0;
		}
		.dropdown-toggle::after {
			content: none;
		}
	}
	.menu-icon {
		width: 45px;
		padding: 2px 7px;
		cursor: pointer;
		transition: opacity 0.2s;
		&:hover {
			opacity: 0.6;
		}
	}

	.navigation {
		text-align: center;
		&-custom {
			text-align: center;
			margin-top: 20px;
		}
	}
}
@media screen and (min-width: 1025px) {
	.menu-icon {
		display: none;
	}
}