<div class="">
  <form class="form" [formGroup]="submitForm">
    <div class="row">
      <div class="heading col-md-12">{{ 'SETTINGS.ACCOUNT' | translate }}</div>
    </div>
    <div class="form-section form-section--first">
      <div class="wizard-v3-form">
        <div class="form-group">
          <mat-form-field>
            <mat-label>{{ 'FIELDS.PROFILE.EMAIL.TITLE' | translate }}</mat-label>
            <input matInput type="email" name="email" formControlName="email">
          </mat-form-field>
        </div>
      </div>
    </div>

    <!--begin: Form Actions -->
    <!-- <div class="form-actions">
      <button (click)="onSubmit()" (keyup.enter)="onSubmit()" mat-danger-button class="btn">
        {{ 'FORM.BUTTONS.SUBMIT' | translate }}
      </button>
    </div> -->
    <!--end: Form Actions -->
  </form>
</div>

<div class="single-delete">
  <button mat-raised-button class="delete-text" (click)="deleteItemModal()">
    {{'SETTINGS.DEACTIVATE' | translate}}
  </button>
</div>

<!-- Remove Item Modal -->
<ng-template #remove_item let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'SETTINGS.DEACTIVATE' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{'SETTINGS.DEACTIVATE_CONFRIRM' | translate}}?
  </div>
  <div class="modal-footer">
    <button mat-raised-button class="btn btn-secondary mr-3"
      (click)="deleteItem();c('Close click'); ">{{'SETTINGS.DEACTIVATE' | translate}}</button>
    <button mat-raised-button class="btn" (click)="c('Close click');">{{'SETTINGS.CANCEL' | translate}}</button>
  </div>
</ng-template>