<!--begin::Body-->
<div class="auth_body">

  <!--begin::Register-->
  <div class="auth_container">
    <div class="auth_title">
      <h3>{{ 'AUTH.REGISTER.TITLE' | translate }}</h3>
    </div>

    <!--begin::Auth Notice-->
    <auth-notice></auth-notice>
    <!--end::Auth Notice-->

    <!--begin::Form-->
    <form class="auth_form" [formGroup]="authForm" autocomplete="off">

      <!--begin::Form Group "Name"-->
      <div class="form-group">
        <mat-form-field>
          <mat-label>{{ 'FIELDS.PROFILE.MEMBER_NAME.TITLE' | translate }}</mat-label>
          <input matInput type="text" placeholder="{{ 'FIELDS.PROFILE.MEMBER_NAME.PLACEHOLDER' | translate }}"
            formControlName="fullname" />
          <mat-error *ngIf="isControlHasError('fullname','required')" class="error text-danger">
            {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
          </mat-error>
          <mat-error *ngIf="isControlHasError('fullname','minlength')" class="error text-danger">
            {{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}: {{validator.name.minLength}}
          </mat-error>
          <mat-error *ngIf="isControlHasError('fullname','maxlength')" class="error text-danger">
            {{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}: {{validator.name.maxLength}}
          </mat-error>
        </mat-form-field>
      </div>
      <!--end::Form Group "Name"-->

      <!--begin::Form Group "Email"-->
      <div class="form-group">
        <mat-form-field>
          <mat-label>{{ 'FIELDS.PROFILE.EMAIL.TITLE' | translate }}</mat-label>
          <input matInput type="email" placeholder="{{ 'FIELDS.PROFILE.EMAIL.PLACEHOLDER' | translate }}"
            formControlName="email" autocomplete="off" />
          <mat-error *ngIf="isControlHasError('email','required')" class="error text-danger">
            {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
          </mat-error>
          <mat-error *ngIf="isControlHasError('email','email')" class="error text-danger">
            {{ 'FORM.VALIDATION.INVALID_FIELD' | translate }}
          </mat-error>
          <mat-error *ngIf="isControlHasError('email','minlength')" class="error text-danger">
            {{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}: {{validator.email.minLength}}
          </mat-error>
          <mat-error *ngIf="isControlHasError('email','maxlength')" class="error text-danger">
            {{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}: {{validator.email.maxLength}}
          </mat-error>
        </mat-form-field>
      </div>
      <!--end::Form Group "Email"-->

      <!--begin::Form Group "Password"-->
      <div class="form-group">
        <mat-form-field>
          <mat-label>{{ 'FIELDS.PROFILE.PASSWORD.TITLE' | translate }}</mat-label>
          <input matInput type="password" placeholder="{{ 'FIELDS.PROFILE.PASSWORD.PLACEHOLDER' | translate }}"
            formControlName="password" autocomplete="off" />
          <mat-error *ngIf="isControlHasError('password','required')" class="error text-danger">
            {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
          </mat-error>
          <mat-error *ngIf="isControlHasError('password','minlength')" class="error text-danger">
            {{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}: {{validator.password.minLength}}
          </mat-error>
          <mat-error *ngIf="isControlHasError('password','maxlength')" class="error text-danger">
            {{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}: {{validator.password.maxLength}}
          </mat-error>
        </mat-form-field>
      </div>
      <!--end::Form Group "Password"-->

      <!--begin::Form Group "Password(confirm)"-->
      <div class="form-group">
        <mat-form-field>
          <mat-label>{{ 'FIELDS.PROFILE.CONFIRM_PASSWORD.TITLE' | translate }}</mat-label>
          <input matInput type="password" placeholder="{{ 'FIELDS.PROFILE.CONFIRM_PASSWORD.PLACEHOLDER' | translate }}"
            formControlName="confirmPassword" autocomplete="off" />
          <mat-error *ngIf="isControlHasError('confirmPassword','required')" class="error text-danger">
            {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
          </mat-error>
          <mat-error *ngIf="isControlHasError('confirmPassword','minlength')" class="error text-danger">
            {{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}: {{validator.password.minLength}}
          </mat-error>
          <mat-error *ngIf="isControlHasError('confirmPassword','maxlength')" class="error text-danger">
            {{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}: {{validator.password.maxLength}}
          </mat-error>
          <mat-error
            *ngIf="authForm.get('confirmPassword').errors && authForm.get('confirmPassword').errors.ConfirmPassword"
            class="error text-danger">
            {{ 'FORM.VALIDATION.PASSWORD_CONFIRMATION' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <!--end::Form Group "Password(confirm)"-->

      <!--begin::Form Group "Terms"-->
      <div class="form-group">
        <mat-checkbox name="agree" formControlName="agree">
          {{ 'AUTH.TERMS.A' | translate }}
          <a (click)="openTermsDialog()">
            <strong>
              {{ 'AUTH.TERMS.B' | translate }}
            </strong>
          </a>
        </mat-checkbox>
        <mat-error *ngIf="isControlHasError('agree','required')" class="error text-danger">
          {{ 'FORM.VALIDATION.AGREEMENT_REQUIRED' | translate }}
        </mat-error>
      </div>
      <!--end::Form Group "Terms"-->

      <!--begin::Form Actions-->
      <div class="auth_actions">
        <a href="javascript:;" routerLink="/auth/forgot-password" class="auth_link mr-2">
          {{ 'AUTH.GENERAL.FORGOT_BUTTON' | translate }}
        </a>
        <button mat-raised-button type="button" class="btn btn-secondary mr-2" routerLink="/auth/login">
          {{ 'AUTH.GENERAL.BACK_BUTTON' | translate }}
        </button>
        <button mat-raised-button class="btn btn-primary" (click)="submitForm()" (keyup.enter)="submitForm()">
          {{ 'AUTH.REGISTER.BUTTON' | translate }}
        </button>
      </div>
      <!--end::Form Actions-->

    </form>
    <!--end::Form-->

    <!--begin::Case canPartnerAutoRegistration-->
    <div *ngIf="subAccessConfig[3]" class="auth_head">
      <span class="auth_label">
        {{ 'AUTH.MESSAGES.PARTNER_ACCOUNT' | translate }}
      </span>&nbsp;&nbsp;
      <a class="auth_link" href="javascript:;" routerLink="/auth/partner">
        {{ 'AUTH.REGISTER.BUTTON' | translate }} {{ 'AUTH.GENERAL.AS_PARTNER' | translate }}
      </a>
    </div>
    <!--end::Case canPartnerAutoRegistration-->

  </div>
  <!--end::Register-->

  <!--begin::Loading Spinner-->
  <div *ngIf="loading" class="spinner-overlay">
    <mat-spinner></mat-spinner>
  </div>
  <!--end::Loading Spinner-->

</div>
<!--end::Body-->
