<!--begin::Head-->
<div class="kt-login__head">
	<span class="kt-login__signup-label">{{ 'AUTH.MESSAGES.ALREADY_VALIDATED' | translate }}</span>&nbsp;&nbsp;
	<a href="javascript:;" routerLink="/auth/login"
		class="kt-link kt-login__signup-link">{{ 'AUTH.LOGIN.BUTTON' | translate }}</a>
</div>
<!--end::Head-->

<!--begin::Body-->
<div class="kt-login__body">
	<!--begin::Ask Verification Email-->
	<div class="kt-login__form">
		<div class="kt-login__title">
			<h3>{{ 'AUTH.VERIFY_EMAIL.TITLE_ASK' | translate }}</h3>
		</div>

		<auth-notice></auth-notice>

		<!--begin::Form-->
		<form class="kt-form" [formGroup]="emailForm" autocomplete="off">
			<div class="form-group">
				<mat-form-field>
					<mat-label>{{ 'AUTH.INPUT.EMAIL' | translate }}</mat-label>
					<input matInput type="email" placeholder="{{ 'AUTH.INPUT.EMAIL' | translate }}"
						formControlName="email" autocomplete="off" />
					<mat-error *ngIf="isControlHasError('email','required')">
						<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email','email')">
						<strong>{{ 'AUTH.VALIDATION.INVALID_FIELD' | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email','minlength')">
						<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }}
							{{validator.email.minLength}}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email','maxlength')">
						<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }}
							{{validator.email.maxLength}}</strong>
					</mat-error>
				</mat-form-field>
			</div>

			<!--begin::Action-->
			<div class="kt-login__actions">
				<a href="javascript:;" routerLink="/" class="kt-link kt-login__link-forgot"> </a>
				<button (click)="submit()" (keyup.enter)="submit()"
					[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
					id="kt_login_signin_submit"
					class="btn btn-primary btn-elevate kt-login__btn-primary">{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}</button>
			</div>
			<!--end::Action-->
		</form>
		<!--end::Form-->

	</div>
	<!--end::Ask Verification Email-->
</div>

<!--end::Body-->