<!--begin::Body-->
<div class="auth_body">

  <!--begin::Ask Verification Email-->
  <div class="auth_container">
    <div class="auth_title">
      <h3>{{ 'AUTH.VERIFY_EMAIL.TITLE_ASK' | translate }}</h3>
    </div>

    <!--begin::Auth Notice-->
    <auth-notice></auth-notice>
    <!--end::Auth Notice-->

    <!--begin::Form-->
    <form class="auth_form" [formGroup]="authForm" autocomplete="off">

      <!--begin::Form Group "Email"-->
      <div class="form-group">
        <mat-form-field>
          <mat-label>{{ 'FIELDS.PROFILE.EMAIL.TITLE' | translate }}</mat-label>
          <input matInput type="email" placeholder="{{ 'FIELDS.PROFILE.EMAIL.PLACEHOLDER' | translate }}"
            formControlName="email" autocomplete="off" />
          <mat-error *ngIf="isControlHasError('email','required')" class="error text-danger">
            {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
          </mat-error>
          <mat-error *ngIf="isControlHasError('email','email')" class="error text-danger">
            {{ 'FORM.VALIDATION.INVALID_FIELD' | translate }}
          </mat-error>
          <mat-error *ngIf="isControlHasError('email','minlength')" class="error text-danger">
            {{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}: {{validator.email.minLength}}
          </mat-error>
          <mat-error *ngIf="isControlHasError('email','maxlength')" class="error text-danger">
            {{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}: {{validator.email.maxLength}}
          </mat-error>
        </mat-form-field>
      </div>
      <!--end::Form Group "Email"-->

      <!--begin::Form Actions-->
      <div class="auth_actions">
        <button class="btn btn-primary" (click)="submitForm()" (keyup.enter)="submitForm()">
          {{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}
        </button>
      </div>
      <!--end::Form Actions-->

    </form>
    <!--end::Form-->

    <div class="auth_head">
      <span class="auth_label">
        {{ 'AUTH.MESSAGES.ALREADY_VALIDATED' | translate }}
      </span>&nbsp;&nbsp;
      <a href="javascript:;" routerLink="/auth/login" class="auth_link">
        {{ 'AUTH.LOGIN.BUTTON' | translate }}
      </a>
    </div>

  </div>
  <!--end::Ask Verification Email-->

  <!--begin::Loading Spinner-->
  <div *ngIf="loading" class="spinner-overlay">
    <mat-spinner></mat-spinner>
  </div>
  <!--end::Loading Spinner-->

</div>
<!--end::Body-->
