<p>edit-microcredit-campaign works!</p>

<button (click)="openModal()"> Add Support </button>


<h4> Paid Supports </h4>
<div *ngFor='let item of paidSupports'>
    <p> Initial Tokens {{item.initialTokens}} </p>
    <p>Payment ID {{item.backer_id}} -- {{item.status}}</p>
    <input type="checkbox" name="" value="{{item.status}}" [checked]="item.status==='confirmation'"
        (change)="onToUnpayCheckBoxChange(item._id)">
    <p> ----- ----- ----- ----- ----- ----- ----- ----- </p>
</div>

<h4> Unpaid Supports </h4>
<div *ngFor='let item of unpaidSupports'>
    <p> Initial Tokens {{item.initialTokens}} </p>
    <p>Payment ID {{item.backer_id}} -- {{item.status}}</p>
    <input type="checkbox" name="" value="{{item.status}}" [checked]="item.status==='confirmation'"
        (change)="onToPayCheckBoxChange(item._id)">
    <p> ----- ----- ----- ----- ----- ----- ----- ----- </p>
</div>

<button (click)="onSubmit()"> Submit </button>