<div class="scanner">
	<h1 class="col-md-12 heading">Home</h1>
	<h2 class="col-md-12 section-heading">Scan</h2>
	<div class="row">	
		<div class="item item-wrapper col-md-4" (click)="openModalA()">
			<mat-card class="item-card loyalty-item-card">
			 <mat-card-content>
				<div class="loyalty-item">{{ 'MERCHANT.SCANNER.LOYALTY_TITLE' | translate }}</div>
			 </mat-card-content>
			</mat-card>
		</div>
		<ng-container *ngIf="offers">
			<div class="item item-wrapper col-md-4" *ngFor="let item of offers" (click)="openModalB(item.offer_id)">
				<mat-card class="item-card">
				  <mat-card-content>
					<div class="col-sm-12 item-img-container">
						<div class="item-img">
							<img src={{item.offer_imageURL}} alt={{item.title}} />	
							<div class="item-expires">{{'GENERAL.TO' | translate}} {{item.expiresAt | date: 'd.M'}}</div>
							<div class="item-type offer">{{ 'OFFER.TITLE' | translate }}</div>							
						</div>				
					</div>
					<div class="col-sm-12 item-details">				
						<div class="item-heading">
							<div class="item-title">{{item.title}}</div>
							<div>
								<span class="points">{{item.cost}}</span>
							</div>
						</div>
						<div class="item-description">
							{{item.description}}
						</div>
					</div>
					
				  </mat-card-content>
				</mat-card>
			</div>
		</ng-container>
		<ng-container *ngIf="microcredit">	
			<div class="item item-wrapper col-md-4" *ngFor="let item of microcredit" (click)="openModalC(item.campaign_id)">			
				<mat-card class="item-card">
				  <mat-card-content>
					<div class="col-sm-12 item-img-container">
						<div class="item-img">
							<img src={{item.campaign_imageURL}} alt={{item.title}} />
							<div class="item-expires">{{'GENERAL.TO' | translate}} {{item.expiresAt | date: 'd.M'}}</div>
							<div class="item-type campaign">{{ 'CAMPAIGN.TITLE' | translate }}</div>	
						</div>				
					</div>
					<div class="col-sm-12 item-details">					
						<div class="item-heading">
							<div class="item-title">{{item.title}}</div>
							<div>
								<span class="points">{{item.category}}</span>
							</div>
						</div>
						<div class="item-description">
							{{item.description}}
						</div>
					</div>
				  </mat-card-content>
				</mat-card>
			</div>
		</ng-container>
	</div>
	<div class="wide-container">
		<h2 class="section-heading mt-5">News from the Community</h2>
		<ng-container *ngIf="posts">
			<owl-carousel-o [options]="customOptions">
				<ng-template carouselSlide *ngFor="let item of posts">
					<mat-card class="item-card item-card" (mousedown)="mousedown()" (mousemove)="mousemove()" (mouseup)="mouseup(item)">
					  <mat-card-content>
							<!--begin::Content-->
							<div class="item">
								<div class="col-sm-12 item-img-container">
									<div class="item-img">
										<img src={{item.post_event_imageURL}} alt={{item.title}} />
										<div *ngIf="item.dateTime" class="item-expires"><span class="white mdi mdi-calendar"></span> {{item.dateTime | date: 'd.M'}}</div>
									</div>
									
								</div>
								<div class="col-sm-12 item-amount">
									<div class="item-heading">
										<div class="item-title">{{item.title}}</div>
										<div>
											<span class="points">{{item.cost}}</span>
										</div>
									</div>
									<div class="item-description">
										{{item.description}}
									</div>
									<div *ngIf="!singleMerchant" class="item-info">
										<div class="" >
											<div class="item-subtitle"><span class="mdi mdi-shopping"></span>{{item.merchant_name}}</div>
											<div *ngIf="item.location"  class="item-subtitle"><span class="mdi mdi-pin"></span>{{item.location}}</div>
										</div>
										
									</div>
								</div>
							</div>
							<!--end::Content-->
					  </mat-card-content>
					</mat-card>
				</ng-template>
			</owl-carousel-o>	
		</ng-container>
	</div>
</div>

<ng-template #postModal let-c="close" let-d="dismiss">
	<button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
	<div class="wallet_singlePost_wrapper">
		<div class="singlePost row">
			<div class="col-sm-12 singlePost-img-container">
				<div class="singlePost-img">
					<img src={{singlePost.post_event_imageURL}} alt={{singlePost.name}} />
					<div *ngIf="singlePost.dateTime" class="post-date"><span class="white mdi mdi-calendar"></span> {{singlePost.dateTime | date: 'd.M'}}</div>
				</div>
			</div>
			<div class="col-sm-12 singlePost-details">
				<div class="singlePost-heading">
					<div class="singlePost-title">{{singlePost.title}}</div>
					<div *ngIf="singlePost.createdAt.length" class="singlePost-createdAt">{{singlePost.createdAt | date: 'd/M/y'}}</div>
				</div>
				<div class="singlePost-description">
					<p *ngIf="singlePost.content">
						{{singlePost.content}}
					</p>
					<p *ngIf="singlePost.description">
						{{singlePost.description}}
					</p>
				</div>
				<div class="singlePost-info">
					<div class="">
						<div class="singleCoop-subtitle">
							<!--<img src="../../../assets/media/images/Map-Icon.png" alt="Shop" />-->
							<span class="mdi mdi-shopping"></span>{{singlePost.merchant_name}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>