<p>scanner works!</p>
<main id="logout-button-holder">
    <button mat-raised-button id="logout-button" (click)="openModalA()">Scan for Points</button>
</main>

<main id="logout-button-holder">
    <button *ngFor="let item of offers" mat-raised-button id="logout-button" (click)="openModalB(item.offer_id)">Scan
        for Offer: {{item.title}}</button>
</main>


<main id="logout-button-holder">
    <button *ngFor="let item of microcredit" mat-raised-button id="logout-button"
        (click)="openModalC(item.campaign_id)">Scan
        for Campaigns: {{item.title}}</button>
</main>