<div class="new-microcredit">
  <mat-card>
    <mat-card-content>

      <!--begin::Form-->
      <form class="form container single-form" [formGroup]="submitForm">
        <div class="heading">{{ 'CAMPAIGN.CREATE_SUB' | translate}}</div>

        <hr>
        <div class="row">
          <div class="sub-heading col-md-12">{{ 'FIELDS.MICROCREDIT_CAMPAIGN.SUBSECTIONS.BASIC' | translate }}</div>
        </div>

        <div class="row">
          <div class="col-md-6">

            <!--begin::Form Group "Title"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.MICROCREDIT_CAMPAIGN.TITLE.TITLE' | translate}}</mat-label>
                <input matInput type="text" name="Title" formControlName="title"
                  placeholder="{{'FIELDS.MICROCREDIT_CAMPAIGN.TITLE.PLACEHOLDER' | translate}}">
                <mat-error *ngIf="isControlHasError('title','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-error *ngIf="isControlHasError('title','minlength')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}: {{validator.title.minLength}}
                </mat-error>
                <mat-error *ngIf="isControlHasError('title','maxlength')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}: {{validator.title.maxLength}}
                </mat-error>
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.MICROCREDIT_CAMPAIGN.TITLE.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Title"-->

          </div>
          <div class="col-md-6">

            <!--begin::Form Group "Subtitle"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.MICROCREDIT_CAMPAIGN.SUBTITLE.TITLE' | translate}}</mat-label>
                <input matInput type="text" formControlName="subtitle"
                  placeholder="{{'FIELDS.MICROCREDIT_CAMPAIGN.SUBTITLE.PLACEHOLDER' | translate}}">
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.MICROCREDIT_CAMPAIGN.SUBTITLE.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Subtitle"-->

          </div>
        </div>
        <div class="row">
          <div class="col-md-6">

            <!--begin::Form Group "Description"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.MICROCREDIT_CAMPAIGN.DESCRIPTION.TITLE' | translate}}</mat-label>
                <textarea matInput rows="5" type="text" name="Description" formControlName="description"
                  placeholder="{{'FIELDS.MICROCREDIT_CAMPAIGN.DESCRIPTION.PLACEHOLDER' | translate}}"></textarea>
                <mat-error *ngIf="isControlHasError('description','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-error *ngIf="isControlHasError('description','minlength')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}: {{validator.description.minLength}}
                </mat-error>
                <mat-error *ngIf="isControlHasError('description','maxlength')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}: {{validator.description.maxLength}}
                </mat-error>
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.MICROCREDIT_CAMPAIGN.DESCRIPTION.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Description"-->

          </div>
          <div class="col-md-6">

            <!--begin::Form Group "Category"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.MICROCREDIT_CAMPAIGN.CATEGORY.TITLE' | translate}}</mat-label>
                <input matInput type="text" name="Category" formControlName="category"
                  placeholder="{{'FIELDS.MICROCREDIT_CAMPAIGN.CATEGORY.PLACEHOLDER' | translate}}">
                <mat-error *ngIf="isControlHasError('category','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.MICROCREDIT_CAMPAIGN.CATEGORY.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Category"-->

            <!--begin::Form Group "Image"-->
            <div class="form-group">
              <label class="">{{'FIELDS.MICROCREDIT_CAMPAIGN.IMAGE.TITLE' | translate}}</label>
              <div class="">
                <div class="upload-img">
                  <div class="upload-img-container">
                    <img *ngIf="previewUrl" class="upload-img-holder" [src]="previewUrl">
                    <div *ngIf="previewUrl" class="image-cancel">
                      <span class="mdi mdi-close-circle" (click)="onImageCancel()">
                      </span>
                    </div>
                  </div>
                </div>
                <button class="upload-img-btn" type="button" mat-raised-button (click)="fileInput.click()">
                  {{'FIELDS.MICROCREDIT_CAMPAIGN.IMAGE.ACTION' | translate}}
                </button>
                <label class="avatar_upload">
                  <input #image type="file" hidden (change)="fileProgress($event)" name="profile_avatar"
                    formControlName="profile_avatar" accept=".png, .jpg, .jpeg" #fileInput>
                </label>
                <mat-error *ngIf="showImageError" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
              </div>
            </div>
            <!--end::Form Group "Image"-->

          </div>
        </div>

        <hr>
        <div class="row">
          <div class="sub-heading col-md-12">{{ 'FIELDS.MICROCREDIT_CAMPAIGN.SUBSECTIONS.TERMS' | translate }}</div>
        </div>

        <div class="row">
          <div class="col-md-6">

            <!--begin::Form Group "Terms"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.MICROCREDIT_CAMPAIGN.TERMS.TITLE' | translate}}</mat-label>
                <textarea matInput type="text" name="Terms" formControlName="terms" class="short"
                  placeholder="{{'FIELDS.MICROCREDIT_CAMPAIGN.TERMS.PLACEHOLDER' | translate}}"></textarea>
                <mat-error *ngIf="isControlHasError('terms','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-error *ngIf="isControlHasError('terms','minlength')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}: {{validator.terms.minLength}}
                </mat-error>
                <mat-error *ngIf="isControlHasError('terms','maxlength')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}: {{validator.terms.maxLength}}
                </mat-error>
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.MICROCREDIT_CAMPAIGN.TERMS.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Terms"-->

          </div>
          <div class="col-md-6">

            <!--begin::Form Group "Access"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.MICROCREDIT_CAMPAIGN.ACCESS.TITLE' | translate}}</mat-label>
                <mat-select name="access" formControlName="access">
                  <mat-option *ngFor="let item of accessList" value="{{item.value}}">
                    {{item.title | translate}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('access','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.MICROCREDIT_CAMPAIGN.ACCESS.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Access"-->

          </div>
        </div>

        <hr>
        <div class="row">
          <div class="sub-heading col-md-12">{{ 'FIELDS.MICROCREDIT_CAMPAIGN.SUBSECTIONS.FINANCIAL' | translate }}</div>
        </div>

        <div class="row">
          <div class="col-md-6">

            <!--begin::Form Group "Quantitative"-->
            <div class="form-group">
              <mat-checkbox (click)="onIsQuantitativeCheckboxChange()" type="checkbox" class="" name="redeem"
                formControlName="quantitative" value="false" labelPosition="before">
                {{'FIELDS.MICROCREDIT_CAMPAIGN.QUANTITATIVE' | translate}}
              </mat-checkbox>
            </div>
            <!--end::Form Group "Quantitative"-->

          </div>
        </div>

        <!--begin::Case !isQuantitative-->
        <div class="row" *ngIf="!isQuantitative">
          <div class="col-md-6">

            <!--begin::Form Group "Min_Allowed"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.MICROCREDIT_CAMPAIGN.MIN_ALLOWED_PRICE.TITLE' | translate}}</mat-label>
                <input matInput type="number" name="MinAllowed" formControlName="minAllowed"
                  placeholder="{{'FIELDS.MICROCREDIT_CAMPAIGN.MIN_ALLOWED_PRICE.PLACEHOLDER' | translate}}">
                <mat-error *ngIf="isControlHasError('minAllowed','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.MICROCREDIT_CAMPAIGN.MIN_ALLOWED_PRICE.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Min_Allowed"-->

          </div>
          <div class="col-md-6">

            <!--begin::Form Group "Max_Amount"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.MICROCREDIT_CAMPAIGN.MAX_AMOUNT.TITLE' | translate}}</mat-label>
                <input matInput type="number" name="MaxAmount" formControlName="maxAmount"
                  placeholder="{{'FIELDS.MICROCREDIT_CAMPAIGN.MAX_AMOUNT.PLACEHOLDER' | translate}}">
                <mat-error *ngIf="isControlHasError('maxAmount','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-error *ngIf="isControlHasError('maxAmount','minlength')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MIN_VALUE_FIELD' | translate }}: {{validator.maxAmount.minValue}}
                </mat-error>
                <mat-error *ngIf="isControlHasError('maxAmount','maxlength')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MAX_VALUE_FIELD' | translate }}: {{validator.maxAmount.maxValue}}
                </mat-error>
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.MICROCREDIT_CAMPAIGN.MAX_AMOUNT.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Max_Amount"-->

          </div>
        </div>
        <!--end::Case !isQuantitative-->

        <!--begin::Case isQuantitative-->
        <div class="row" *ngIf="isQuantitative">
          <div class="col-md-6">

            <!--begin::Form Group "Min_Allowed"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.MICROCREDIT_CAMPAIGN.MIN_ALLOWED.TITLE' | translate}}</mat-label>
                <input matInput type="number" name="MinAllowed" formControlName="minAllowed"
                  placeholder="{{'FIELDS.MICROCREDIT_CAMPAIGN.MIN_ALLOWED.PLACEHOLDER' | translate}}">
                <mat-error *ngIf="isControlHasError('minAllowed','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.MICROCREDIT_CAMPAIGN.MIN_ALLOWED.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Min_Allowed"-->

            <!--begin::Form Group "Step"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.MICROCREDIT_CAMPAIGN.STEP.TITLE' | translate}}</mat-label>
                <input matInput type="number" name="step" formControlName="step"
                  placeholder="{{'FIELDS.MICROCREDIT_CAMPAIGN.STEP.PLACEHOLDER' | translate}}">
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.MICROCREDIT_CAMPAIGN.STEP.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Step"-->

          </div>
          <div class="col-md-6">

            <!--begin::Form Group "Max_Allowed"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.MICROCREDIT_CAMPAIGN.MAX_ALLOWED.TITLE' | translate}}</mat-label>
                <input matInput type="number" name="MaxAllowed" formControlName="maxAllowed"
                  placeholder="{{'FIELDS.MICROCREDIT_CAMPAIGN.MAX_ALLOWED.PLACEHOLDER' | translate}}">
                <mat-error *ngIf="isControlHasError('maxAllowed','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.MICROCREDIT_CAMPAIGN.MAX_ALLOWED.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Max_Allowed"-->

            <!--begin::Form Group "Max_Amount"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.MICROCREDIT_CAMPAIGN.MAX_AMOUNT.TITLE' | translate}}</mat-label>
                <input matInput type="number" name="MaxAmount" formControlName="maxAmount"
                  placeholder="{{'FIELDS.MICROCREDIT_CAMPAIGN.MAX_AMOUNT.PLACEHOLDER' | translate}}">
                <mat-error *ngIf="isControlHasError('maxAmount','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.MICROCREDIT_CAMPAIGN.MAX_AMOUNT.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Max_Amount"-->

          </div>
        </div>
        <!--end::Case isQuantitative-->

        <hr>
        <div class="row">
          <div class="sub-heading col-md-12">{{ 'FIELDS.MICROCREDIT_CAMPAIGN.SUBSECTIONS.DATES' | translate }}</div>
        </div>

        <div class="row">
          <div class="col-md-6">

            <!--begin::Form Group "Support Starts"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.MICROCREDIT_CAMPAIGN.SUPPORT_STARTS.TITLE' | translate}}</mat-label>
                <input matInput [matDatepicker]="supportStartsPicker" [min]="minDate" name="SupportStarts"
                  formControlName="supportStarts"
                  placeholder="{{'FIELDS.MICROCREDIT_CAMPAIGN.SUPPORT_STARTS.PLACEHOLDER' | translate}}">
                <mat-datepicker-toggle matSuffix [for]="supportStartsPicker"></mat-datepicker-toggle>
                <mat-datepicker #supportStartsPicker></mat-datepicker>
                <mat-error *ngIf="isControlHasError('supportStarts','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-error
                  *ngIf="submitForm.get('supportStarts').errors && submitForm.get('supportStarts').errors.SupportStartsGreaterThanSupportEnds"
                  class="error text-danger">
                  {{ 'FORM.VALIDATION.CAMPAIGN_DATES.SUPPORTSTARTSTOSUPPORTENDS' | translate }}
                </mat-error>
                <mat-error
                  *ngIf="submitForm.get('supportStarts').errors && submitForm.get('supportStarts').errors.SupportStartsGreaterThanRedeemStarts"
                  class="error text-danger">
                  {{ 'FORM.VALIDATION.CAMPAIGN_DATES.SUPPORTSTARTSTOREDEEMSTARTS' | translate }}
                </mat-error>
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.MICROCREDIT_CAMPAIGN.SUPPORT_STARTS.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Support Starts"-->

            <!--begin::Form Group "Support Ends"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.MICROCREDIT_CAMPAIGN.REDEEM_STARTS.TITLE' | translate}}</mat-label>
                <input matInput [matDatepicker]="redeemStartsPicker" [min]="minDate" name="RedeemStarts"
                  formControlName="redeemStarts"
                  placeholder="{{'FIELDS.MICROCREDIT_CAMPAIGN.REDEEM_STARTS.PLACEHOLDER' | translate}}">
                <mat-datepicker-toggle matSuffix [for]="redeemStartsPicker"></mat-datepicker-toggle>
                <mat-datepicker #redeemStartsPicker></mat-datepicker>
                <mat-error *ngIf="isControlHasError('redeemStarts','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-error
                  *ngIf="submitForm.get('redeemStarts').errors && submitForm.get('redeemStarts').errors.SupportStartsGreaterThanRedeemStarts"
                  class="error text-danger">
                  {{ 'FORM.VALIDATION.CAMPAIGN_DATES.SUPPORTSTARTSTOREDEEMSTARTS' | translate }}
                </mat-error>
                <mat-error
                  *ngIf="submitForm.get('redeemStarts').errors && submitForm.get('redeemStarts').errors.RedeemStartsGreaterThanRedeemEnds"
                  class="error text-danger">
                  {{ 'FORM.VALIDATION.CAMPAIGN_DATES.REDEEMSTARTSTOREDEEMENDS' | translate }}
                </mat-error>
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.MICROCREDIT_CAMPAIGN.REDEEM_STARTS.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Support Ends"-->

          </div>
          <div class="col-md-6">

            <!--begin::Form Group "Redeem Starts"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.MICROCREDIT_CAMPAIGN.SUPPORT_ENDS.TITLE' | translate}}</mat-label>
                <input matInput [matDatepicker]="supportEndsPicker" [min]="minDate" name="SupportEnds"
                  formControlName="supportEnds"
                  placeholder="{{'FIELDS.MICROCREDIT_CAMPAIGN.SUPPORT_ENDS.PLACEHOLDER' | translate}}">
                <mat-datepicker-toggle matSuffix [for]="supportEndsPicker"></mat-datepicker-toggle>
                <mat-datepicker #supportEndsPicker></mat-datepicker>
                <mat-error *ngIf="isControlHasError('supportEnds','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-error
                  *ngIf="submitForm.get('supportEnds').errors && submitForm.get('supportEnds').errors.SupportStartsGreaterThanSupportEnds"
                  class="error text-danger">
                  {{ 'FORM.VALIDATION.CAMPAIGN_DATES.SUPPORTSTARTSTOSUPPORTENDS' | translate }}
                </mat-error>
                <mat-error
                  *ngIf="submitForm.get('supportEnds').errors && submitForm.get('supportEnds').errors.SupportEndsGreaterThanRedeemEnds"
                  class="error text-danger">
                  {{ 'FORM.VALIDATION.CAMPAIGN_DATES.SUPPORTENDSTOREDEEMENDS' | translate }}
                </mat-error>
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.MICROCREDIT_CAMPAIGN.SUPPORT_ENDS.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Redeem Starts"-->

            <!--begin::Form Group "Redeem Ends"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.MICROCREDIT_CAMPAIGN.REDEEM_ENDS.TITLE' | translate}}</mat-label>
                <input matInput [matDatepicker]="redeemEndsPicker" [min]="minDate" name="RedeemEnds"
                  formControlName="redeemEnds">
                <mat-datepicker-toggle matSuffix [for]="redeemEndsPicker"></mat-datepicker-toggle>
                <mat-datepicker #redeemEndsPicker></mat-datepicker>
                <mat-error *ngIf="isControlHasError('redeemEnds','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-error
                  *ngIf="submitForm.get('redeemEnds').errors && submitForm.get('redeemEnds').errors.RedeemStartsGreaterThanRedeemEnds"
                  class="error text-danger">{{ 'FORM.VALIDATION.CAMPAIGN_DATES.REDEEMSTARTSTOREDEEMENDS' | translate }}
                </mat-error>
                <mat-error
                  *ngIf="submitForm.get('redeemEnds').errors && submitForm.get('redeemEnds').errors.SupportEndsGreaterThanRedeemEnds"
                  class="error text-danger">{{ 'FORM.VALIDATION.CAMPAIGN_DATES.SUPPORTENDSTOREDEEMENDS' | translate }}
                </mat-error>
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.MICROCREDIT_CAMPAIGN.REDEEM_ENDS.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Redeem Ends"-->

          </div>
        </div>

        <!--begin::Form Actions-->
        <div class="row">
          <div class="form-actions col-md-12">
            <button mat-raised-button type="button" (click)="onSubmit('draft')" (keyup.enter)="onSubmit('draft')"
              class="btn mr-3">
              {{ 'FIELDS.MICROCREDIT_CAMPAIGN.SUBMIT_DRAFT' | translate }}
            </button>
            <button mat-raised-button type="button" (click)="onSubmit('publish')" (keyup.enter)="onSubmit('publish')"
              class="btn btn-primary">
              {{ 'FIELDS.MICROCREDIT_CAMPAIGN.SUBMIT_CAMPAIGN' | translate }}
            </button>
          </div>
        </div>
        <!--end::Form Actions-->

      </form>
      <!--end::Form-->

    </mat-card-content>
  </mat-card>
</div>

<!--begin::Confirmation Modal (Publish Item)-->
<ng-template #publish_item let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'CAMPAIGN.PUBLISH' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{'CAMPAIGN.PUBLISH_CONFIRM_A' | translate}} '{{title}}'?
    <br>
    {{'CAMPAIGN.PUBLISH_CONFIRM_B' | translate}}.
  </div>
  <div class="modal-footer">
    <button mat-raised-button class="btn btn-secondary mr-3" (click)="publishItem();c('Close click');">
      {{'CAMPAIGN.PUBLISH' | translate}}
    </button>
    <button mat-raised-button class="btn" (click)="c('Close click');">
      {{'CAMPAIGN.CANCEL' | translate}}
    </button>
  </div>
</ng-template>
<!--end::Confirmation Modal (Publish Item)-->