<div class="support">

  <!--start::Microcredit Campaigns List-->
  <div class="row section-list" *ngIf="campaigns">
    <div class="col-md-12">
      <h3 class="list-tiltle">{{'CAMPAIGN.PLURAL' | translate }}</h3>
      <div class="row">
        <div class="item col-lg-4 col-md-6" *ngFor="let campaign of campaigns" (click)="openMicrocredit(campaign)">
          <app-card-microcredit [microcredit]="campaign" type="all"></app-card-microcredit>
        </div>
      </div>
    </div>
  </div>
  <!--end::Microcredit Campaigns List-->

</div>

<!--start::Modals-->
<!--start::Microcredit Campaigns Modal-->
<ng-template #campaignModal let-c="close" let-d="dismiss">
  <button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <app-single-microcredit [microcredit]="singleMicrocredit"></app-single-microcredit>
</ng-template>
<!--end::Microcredit Campaigns Modal-->
<!--end::Modals-->