<div class="login">
	<div class="">
		<!--begin::Aside-->
		<div class="page-wrapper">
			<div class="auth-logo">
				<a routerLink='' class="login-logo">
					<img src="./assets/media/images/logo.png" alt="">
				</a>
			</div>
			<mat-card class="auth-card">
			  <mat-card-header class="auth-card-header">
				<mat-card-title>{{ 'AUTH.MESSAGES.WELCOME_TITLE' | translate }}</mat-card-title>
				<mat-card-subtitle>{{ 'AUTH.MESSAGES.WELCOME_SUBTITLE' | translate }}</mat-card-subtitle>
			  </mat-card-header>
			  <mat-card-content>
					<!--begin::Content-->
					<div class="login_wrapper">
						<router-outlet></router-outlet>
					</div>
					<!--end::Content-->
			  </mat-card-content>
			</mat-card>
		</div>
		<!--begin::Aside-->


	</div>
</div>