.login {
  margin-top: 20px;
  height: 100%;

  .header_right__wrapper {
    display: flex;
    float: right;
  }

  .auth-logo {
    margin-bottom: 20px;
    text-align: center;
  }

  .page-wrapper {
    max-width: 700px;
    margin: 0 auto;
  }

  mat-form-field {
    width: 100%;
  }

  .auth-card {
    padding: 40px;
    text-align: center;

    &-header {
      .mat-card-header-text {
        margin: 0 auto;

        .mat-card-title {
          font-size: 2rem;
        }
      }
    }
  }
}

.auth_form {
  max-width: 350px;
  margin: 0 auto 20px;

  .payment {
    width: 100%;
    padding: 0px 2.5px;
    float: left;
  }

  .upload_image {
    clear: both;
  }
}

// .spinner-overlay {
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   background-color: rgba(255, 255, 255, 0.7);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 200;
// }

.footer {
  margin-top: 40px;
  padding-bottom: 20px;

  .row {
    max-width: 900px;
    margin: 0 auto;

    img {
      max-width: 250px;
    }

    .eu-img-container {
      text-align: center;

      .eu-img {
        max-width: 110px;
        margin: 0 auto;
      }
    }
  }
}
