<div class="login">
  <div class="">
    <div class="header_right__wrapper">
      <sng-language-switcher></sng-language-switcher>
    </div>

    <div class=" page-wrapper">
      <div class="auth-logo">
        <a routerLink='' class="login-logo">
          <img src="./assets/media/images/logo.png" alt="">
        </a>
      </div>

      <mat-card class="auth-card">
        <mat-card-header class="auth-card-header">
          <mat-card-title>{{ 'AUTH.MESSAGES.WELCOME_TITLE' | translate }}</mat-card-title>
          <mat-card-subtitle>{{ 'AUTH.MESSAGES.WELCOME_SUBTITLE' | translate }}</mat-card-subtitle>
        </mat-card-header>
        <hr>
        <mat-card-content>
          <!--begin::Content-->
          <div class="login__wrapper">
            <router-outlet></router-outlet>
          </div>
          <!--end::Content-->
        </mat-card-content>
      </mat-card>
    </div>

    <!--begin::Aside-->
    <div class="container footer">
      <div class="row">
        <div class="col-md-6">
          This application is part of a
          project that has
          received funding from the European Union’s Horizon 2020 research and
          innovation programme under grant agreement No 825268.
        </div>
        <div class="col-md-3">
          <img src="../assets/media/images/ngi-logo.png" />
        </div>
        <div class="col-md-3 eu-img-container">
          <img class="eu-img" src="../assets/media/images/eu-logo.jpg" />
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <p>Version: {{version}}</p>
        </div>
      </div>
    </div>
    <!--end::Aside-->

  </div>
</div>
