<div class="microcredit">	
	<h2 class="section-heading"> Campaigns </h2>
	<div class="row" *ngIf="campaigns">	
		<div class="item item-wrapper col-md-4" routerLink="create">
			<mat-card class="item-card new-item-card">
			 <mat-card-content>
				<div class="new-item">Add New Campaign</div>
			 </mat-card-content>
			</mat-card>
		</div>
		<ng-container *ngIf="campaigns">
			<div class="item item-wrapper col-md-4" *ngFor="let item of campaigns" [routerLink]="item.status=='draft' ? ['edit-draft/'+item.campaign_id] : ['edit/'+item.campaign_id]">
				<mat-card class="item-card">
					<mat-card-content>
						<div class="col-sm-12 item-img-container">
							<div class="item-img">
								<img *ngIf="item.campaign_imageURL" src={{item.campaign_imageURL}} alt={{item.title}} />	
								<div class="item-expires">έως {{item.expiresAt | date: 'd.M'}}</div>
								<div *ngIf="item.status=='draft'" class="item-draft">Draft</div>								
							</div>				
						</div>
						<div class="col-sm-12 item-details">				
							<div class="item-heading">
								<div class="item-title">{{item.title}}</div>
								<div>
									<span class="points">{{item.cost}}</span>
								</div>
							</div>
							<div class="item-description">
								{{item.description}}
							</div>
							<!--<button mat-raised-button routerLink="edit/{{item.campaign_id}}"> Edit Campaign</button>-->
						</div>
						
					
					</mat-card-content>
				</mat-card>
			</div>
		</ng-container>
	</div>
</div>
	<router-outlet></router-outlet>

