<div *ngIf="access === 'partner'">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="partnerForm" class="form" id="personal_form">
        <div class="row">
          <div class="heading col-md-12">{{ 'SETTINGS.PERSONAL_INFO' | translate }}</div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label class="col-form-label">{{ 'FIELDS.PROFILE.PARTNER_IMAGE.TITLE' | translate }}</label>
            <div class="">
              <div class="avatar" id="merchat_avatar">
                <div class="avatar-img">
                  <div class="avatar-container">
                    <img *ngIf="previewUrl" class="avatar-holder" [src]="previewUrl">
                    <div *ngIf="!originalImage" class="image-cancel">
                      <span class="mdi mdi-close-circle" (click)="onImageCancel()">
                      </span>
                    </div>
                  </div>
                </div>
                <button type="button" mat-raised-button
                  (click)="fileInputMerch.click()">{{ 'FIELDS.PROFILE.PARTNER_IMAGE.ACTION' | translate }}</button>
                <label class="avatar-upload">
                  <input type="file" hidden (change)="fileProgress($event)" name="profile_avatar"
                    accept=".png, .jpg, .jpeg" #fileInputMerch>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{ 'FIELDS.PROFILE.PARTNER_NAME.TITLE' | translate }}</mat-label>
                <input matInput type="text" name="name" formControlName="name"
                  placeholder="{{ 'FIELDS.PROFILE.PARTNER_NAME.PLACEHOLDER' | translate }}">
                <mat-error *ngIf="isPartnerControlHasError('name','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</mat-error>
                <mat-error *ngIf="isPartnerControlHasError('name','minlength')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}
                  {{validator.name.minLength}}</mat-error>
                <mat-error *ngIf="isPartnerControlHasError('name','maxlength')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}
                  {{validator.name.maxLength}}</mat-error>
                <mat-hint class="form-text text-muted">{{ 'FIELDS.PROFILE.PARTNER_NAME.DESC' | translate }}
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{ 'FIELDS.PROFILE.SUBTITLE.TITLE' | translate }}</mat-label>
                <input matInput type="text" formControlName="subtitle"
                  placeholder="{{ 'FIELDS.PROFILE.SUBTITLE.PLACEHOLDER' | translate }}">
                <mat-hint class="form-text text-muted">{{ 'FIELDS.PROFILE.SUBTITLE.DESC' | translate }}</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.PROFILE.DESCRIPTION.TITLE' | translate}}</mat-label>
                <textarea matInput class="short" type="text" formControlName="description"
                  placeholder="{{'FIELDS.PROFILE.DESCRIPTION.PLACEHOLDER' | translate}}"></textarea>
                <mat-hint class="form-text text-muted">{{'FIELDS.PROFILE.DESCRIPTION.DESC' | translate}}</mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.PROFILE.SECTOR.TITLE' | translate}}</mat-label>
                <mat-select formControlName="sector">
                  <mat-option *ngFor="let item of sectorList" value="{{item.value}}">{{item.title | translate}}
                  </mat-option>
                </mat-select>
                <mat-hint class="form-text text-muted">{{'FIELDS.PROFILE.SECTOR.DESC' | translate}}</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.PROFILE.TIMETABLE.TITLE' | translate}}</mat-label>
                <textarea matInput class="short" type="text" formControlName="timetable"
                  placeholder="{{'FIELDS.PROFILE.TIMETABLE.PLACEHOLDER' | translate}}"></textarea>
                <mat-hint class="form-text text-muted">{{'FIELDS.PROFILE.TIMETABLE.DESC' | translate}}</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.PROFILE.ADDRESS.TITLE' | translate}}</mat-label>
                <input matInput type="text" name="address" formControlName="street"
                  placeholder="{{'FIELDS.PROFILE.ADDRESS.PLACEHOLDER' | translate}}" value="Address Line">
                <mat-hint class="form-text text-muted">{{'FIELDS.PROFILE.ADDRESS.DESC' | translate}}</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.PROFILE.POSTCODE.TITLE' | translate}}</mat-label>
                <input matInput type="text" formControlName="postCode"
                  placeholder="{{'FIELDS.PROFILE.POSTCODE.PLACEHOLDER' | translate}}">
                <mat-hint class="form-text text-muted">{{'FIELDS.PROFILE.POSTCODE.DESC' | translate}}</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.PROFILE.CITY.TITLE' | translate}}</mat-label>
                <input matInput type="text" name="city" formControlName="city"
                  placeholder="{{'FIELDS.PROFILE.CITY.PLACEHOLDER' | translate}}">
                <mat-hint class="form-text text-muted">{{'FIELDS.PROFILE.CITY.DESC' | translate}}</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.PROFILE.LAT.TITLE' | translate}}</mat-label>
                <input matInput type="text" name="lat" formControlName="lat"
                  placeholder="{{'FIELDS.PROFILE.LAT.PLACEHOLDER' | translate}}">
                <mat-hint class="form-text text-muted">{{'FIELDS.PROFILE.LAT.DESC' | translate}}</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.PROFILE.LONG.TITLE' | translate}}</mat-label>
                <input matInput type="text" name="long" formControlName="long"
                  placeholder="{{'FIELDS.PROFILE.LONG.PLACEHOLDER' | translate}}">
                <mat-hint class="form-text text-muted">{{'FIELDS.PROFILE.LONG.DESC' | translate}}</mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.PROFILE.PHONE.TITLE' | translate}}</mat-label>
                <input matInput type="text" formControlName="phone"
                  placeholder="{{'FIELDS.PROFILE.PHONE.PLACEHOLDER' | translate}}">
                <mat-hint class="form-text text-muted">{{'FIELDS.PROFILE.PHONE.DESC' | translate}}</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.PROFILE.WEBSITE.TITLE' | translate}}</mat-label>
                <input matInput type="text" formControlName="websiteURL"
                  placeholder="{{'FIELDS.PROFILE.WEBSITE.PLACEHOLDER' | translate}}">
                <mat-hint class="form-text text-muted">{{'FIELDS.PROFILE.WEBSITE.DESC' | translate}}</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
              <div formArrayName="payments">
                <mat-form-field class="payment" *ngFor="let payment of payments.controls; index as i">
                  <input matInput type="text" [formControlName]="i" placeholder="{{paymentsList[i].title | translate}}">
                  <mat-error *ngIf="showPaymentError">
                    <strong>{{ 'AUTH.VALIDATION.REQUIRED_ONE' | translate }}</strong>
                  </mat-error>
                  <mat-hint class="form-text text-muted">{{'FIELDS.PROFILE.PAYMENT.DESC' | translate}}</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>



        <!-- <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.PROFILE.NATIONAL_BANK.TITLE' | translate}}</mat-label>
                <input matInput type="text" formControlName="nationalBank"
                  placeholder="{{'FIELDS.PROFILE.NATIONAL_BANK.PLACEHOLDER' | translate}}">
                <mat-hint class="form-text text-muted">{{'FIELDS.PROFILE.NATIONAL_BANK.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.PROFILE.PIREAUS_BANK.TITLE' | translate}}</mat-label>
                <input matInput type="text" formControlName="pireausBank"
                  placeholder="{{'FIELDS.PROFILE.PIREAUS_BANK.PLACEHOLDER' | translate}}">
                <mat-hint class="form-text text-muted">{{'FIELDS.PROFILE.PIREAUS_BANK.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.PROFILE.EUROBANK.TITLE' | translate}}</mat-label>
                <input matInput type="text" formControlName="eurobank"
                  placeholder="{{'FIELDS.PROFILE.EUROBANK.PLACEHOLDER' | translate}}">
                <mat-hint class="form-text text-muted">{{'FIELDS.PROFILE.EUROBANK.DESC' | translate}}</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.PROFILE.ALPHA_BANK.TITLE' | translate}}</mat-label>
                <input matInput type="text" formControlName="alphaBank"
                  placeholder="{{'FIELDS.PROFILE.ALPHA_BANK.PLACEHOLDER' | translate}}">
                <mat-hint class="form-text text-muted">{{'FIELDS.PROFILE.ALPHA_BANK.DESC' | translate}}</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.PROFILE.PAYPAL.TITLE' | translate}}</mat-label>
                <input matInput type="text" formControlName="paypal"
                  placeholder="{{'FIELDS.PROFILE.PAYPAL.PLACEHOLDER' | translate}}">
                <mat-hint class="form-text text-muted">{{'FIELDS.PROFILE.PAYPAL.DESC' | translate}}</mat-hint>
              </mat-form-field>
            </div> -->

        <!--begin: Form Actions -->
        <div class="row">
          <div class="form-actions col-md-12">
            <button (click)="onPartnerSubmit()" mat-raised-button (keyup.enter)="onPartnerSubmit()"
              class="btn-md btn-tall btn-wide font-bold font-transform-u" data-ktwizard-type="action-submit">
              {{ 'FORM.BUTTONS.SUBMIT' | translate }}
            </button>
          </div>
        </div>
        <!--end: Form Actions -->
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="access !== 'partner'">
  <div class="">
    <form [formGroup]="memberForm" class="form" id="personal_form">
      <div class="heading">{{ 'SETTINGS.PERSONAL_INFO' | translate }}</div>
      <div class="form_section">
        <div class="row">
          <div class="form-group col-md-12">
            <label class="">{{'FIELDS.PROFILE.MEMBER_IMAGE.TITLE' | translate}}</label>
            <div class="">
              <div class="avatar" id="user_avatar">
                <div class="avatar-img">
                  <div class="avatar-container">
                    <img *ngIf="previewUrl" class="avatar-holder" [src]="previewUrl">
                    <div *ngIf="!originalImage" class="image-cancel">
                      <span class="mdi mdi-close-circle" (click)="onImageCancel()">
                      </span>
                    </div>
                  </div>
                </div>
                <button type="button" mat-raised-button
                  (click)="fileInput.click()">{{'FIELDS.PROFILE.MEMBER_IMAGE.TITLE' | translate}}</button>
                <label class="avatar-upload">
                  <input type="file" hidden (change)="fileProgress($event)" name="profile_avatar"
                    accept=".png, .jpg, .jpeg" id="profile_avatar_file" #fileInput>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group col-md-12">
            <mat-form-field>
              <mat-label>{{'FIELDS.PROFILE.MEMBER_NAME.TITLE' | translate}}</mat-label>
              <input matInput type="text" name="name" formControlName="name"
                placeholder="{{'FIELDS.PROFILE.MEMBER_NAME.PLACEHOLDER' | translate}}">
              <mat-error *ngIf="isMemberControlHasError('name','required')" class="error text-danger">
                {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</mat-error>
              <mat-error *ngIf="isMemberControlHasError('name','minlength')" class="error text-danger">
                {{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}
                {{validator.name.minLength}}</mat-error>
              <mat-error *ngIf="isMemberControlHasError('name','maxlength')" class="error text-danger">
                {{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}
                {{validator.name.maxLength}}</mat-error>
              <mat-hint class="form-text text-muted">{{'FIELDS.PROFILE.MEMBER_NAME.DESC' | translate}}</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>

      <!--begin: Form Actions -->
      <div class="form-actions">
        <button (click)="onMemberSubmit()" mat-raised-button (keyup.enter)="onMemberSubmit()"
          class="btn-md btn-tall btn-wide font-bold font-transform-u" data-ktwizard-type="action-submit">
          {{ 'FORM.BUTTONS.SUBMIT' | translate }}
        </button>
      </div>
      <!--end: Form Actions -->
    </form>
  </div>
</div>