<div class="new-offer">
  <mat-card>
    <mat-card-content>

      <!--begin::Form-->
      <form class="form container single-form" [formGroup]="submitForm">

        <div class="row">
          <div class="heading col-md-12">{{'OFFER.CREATE_SUB' | translate}}</div>
        </div>

        <div class="row">
          <div class="col-md-6">

            <!--begin::Form Group "Title"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.OFFER.TITLE.TITLE' | translate}}</mat-label>
                <input matInput type="text" name="Title" formControlName="title"
                  placeholder="{{'FIELDS.OFFER.TITLE.PLACEHOLDER' | translate}}">
                <mat-error *ngIf="isControlHasError('title','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-error *ngIf="isControlHasError('title','minlength')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}: {{validator.title.minLength}}
                </mat-error>
                <mat-error *ngIf="isControlHasError('title','maxlength')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}: {{validator.title.maxLength}}
                </mat-error>
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.OFFER.TITLE.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Title"-->

            <!--begin::Form Group "Description"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.OFFER.DESCRIPTION.TITLE' | translate}}</mat-label>
                <textarea class="short" matInput type="text" name="Description" formControlName="description"
                  placeholder="{{'FIELDS.OFFER.DESCRIPTION.PLACEHOLDER' | translate}}">
                </textarea>
                <mat-error *ngIf="isControlHasError('description','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-error *ngIf="isControlHasError('description','minlength')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}: {{validator.description.minLength}}
                </mat-error>
                <mat-error *ngIf="isControlHasError('description','maxlength')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}: {{validator.description.maxLength}}
                </mat-error>
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.OFFER.DESCRIPTION.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Description"-->

          </div>
          <div class="col-md-6">

            <!--begin::Form Group "Subtitle"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.OFFER.SUBTITLE.TITLE' | translate}}</mat-label>
                <input matInput type="text" formControlName="subtitle"
                  placeholder="{{'FIELDS.OFFER.SUBTITLE.PLACEHOLDER' | translate}}">
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.OFFER.SUBTITLE.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Subtitle"-->

            <!--begin::Form Group "Expiration Date"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.OFFER.EXPIRATION.TITLE' | translate}}</mat-label>
                <input matInput [matDatepicker]="picker" [min]="minDate" name="expiration" formControlName="expiration">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="isControlHasError('expiration','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.OFFER.EXPIRATION.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Expiration Date"-->

            <!--begin::Form Group "Cost"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.OFFER.COST.TITLE' | translate}}</mat-label>
                <input matInput type="number" name="points" formControlName="cost"
                  placeholder="{{'FIELDS.OFFER.COST.PLACEHOLDER' | translate}}">
                <mat-error *ngIf="isControlHasError('cost','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-error *ngIf="isControlHasError('cost','min')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MIN_VALUE_FIELD' | translate }}: {{validator.cost.minValue}}
                </mat-error>
                <mat-error *ngIf="isControlHasError('cost','max')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MAX_VALUE_FIELD' | translate }}: {{validator.cost.maxValue}}
                </mat-error>
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.OFFER.COST.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Cost"-->

            <!--begin::Form Group "Image"-->
            <app-image-upload [parentForm]="submitForm" previousURL=''>
            </app-image-upload>
            <!-- <div class="form-group">
              <label class="">{{'FIELDS.OFFER.IMAGE.TITLE' | translate}}</label>
              <div class="">
                <div class="upload-img">
                  <div class="upload-img-container">
                    <img *ngIf="previewUrl" class="upload-img-holder" [src]="previewUrl">
                    <div *ngIf="previewUrl" class="image-cancel">
                      <span class="mdi mdi-close-circle" (click)="onImageCancel()">
                      </span>
                    </div>
                  </div>
                </div>
                <button class="upload-img-btn" type="button" mat-raised-button (click)="fileInput.click()">
                  {{'FIELDS.OFFER.IMAGE.ACTION' | translate}}
                </button>
                <label class="avatar__upload">
                  <i class="fa fa-pen"></i>
                  <input type="file" hidden (change)="fileProgress($event)" name="profile_avatar"
                    formControlName="profile_avatar" accept=".png, .jpg, .jpeg" #fileInput>
                </label>
                <mat-error *ngIf="showImageError" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
              </div>
            </div> -->
            <!--end::Form Group "Image"-->

          </div>
        </div>

        <!--begin::Form Actions-->
        <div class="row">
          <div class="form-actions col-md-12">
            <button mat-raised-button (click)="onSubmit()" (keyup.enter)="onSubmit()" class="btn btn-primary">
              {{ 'FORM.BUTTONS.SUBMIT' | translate }}
            </button>
          </div>
        </div>
        <!--end::Form Actions-->

      </form>
      <!--end::Form-->

    </mat-card-content>
  </mat-card>
</div>
