<div>
    <div class="kt-heading kt-heading--md">Current Balance</div>
    <p class="points-paragraph">You currently have <span class="points">{{balance}}</span> points.</p>
</div>

<div>
    <div class="kt-heading kt-heading--md">Current Badge</div>
    <p class="points-paragraph">You currently have <span class="points">{{badge}}</span> points.</p>
</div>

<div *ngFor="let item of supports">
    <p> ID: {{item.support_id}} || Tokens: {{item.initialTokens}} ||
        Redeemed Tokens: {{item.redeemedTokens}} || Status: {{item.status}} </p>
</div>