<div class="dashboard">
	<div class="badge-container">
		<div class="mr-4">
			<img src="../../../assets/media/images/Badge-Icon.png">
		</div>
		<div class="">
			<h2>Τίτλος Badges</h2>
			<p>Μπορείτε αγοράζοντας να μπλα μπλα μπλα</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<mat-card class="dashboard-card wallet-card">
			  <mat-card-header class="wallet-card-header">
				<mat-card-title>Το πορτοφόλι μου</mat-card-title>
				<img class="wallet-card-icon" src="../../../assets/media/images/QR-Icon.png">
			  </mat-card-header>
			  <mat-card-content>
					<!--begin::Content-->
					<div class="wallet_single_wrapper">						
						<div class="single row wallet-row">
							<div class="col-sm-9 single-content">
								<span class="wallet-img">
									<img src="../../../assets/media/images/Synergy-Icon.png" alt="Synergy" />
								</span>
								<div class="">
									<div class="single-title">Synergey Πόντοι</div>
									<div class="single-subtitle"><img src="../../../assets/media/images/Shop-Icon.png" alt="Shop" />όλο το δίκτυο</div>
								</div>
							</div>
							<div class="col-sm-3 single-amount">
								<div>
									<span class="points">{{balance}}</span>
								</div>
							</div>
						</div>
						<div class="single row wallet-coop" *ngFor="let single of (list)" (click)="openCoop(single.id)">
							<div class="col-sm-9 single-content">
								<div class="wallet-img">
									<img src={{single.img}} alt={{single.title}} />
								</div>
								<div class="">

									<div class="single-title">{{single.title}}</div>
									<div class="single-subtitle"><img src="../../../assets/media/images/Shop-Icon.png" alt="Shop" />{{coops[single.coop_id]['name']}}</div>
									<div class="single-subtitle">εώς {{single.expires}}</div>
								</div>
							</div>
							<div class="col-sm-3 single-amount">
								<div>
									<span class="points">{{single.price_reduced | currency:'EUR'}}</span>
								</div>
							</div>
						</div>
					</div>
					<!--end::Content-->
			  </mat-card-content>
			</mat-card>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>Προσφορές</h3>
		</div>
	</div>
	<div class="row" *ngIf="offers">
		<div class="col-md-6" *ngFor="let offer of (offers)">
			<app-card-offer [offer]="offer"></app-card-offer>
		</div>
	</div>
</div>

<ng-template #microcredit_item let-c="close" let-d="dismiss">
	<button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
	<app-card-microcredit [microcredit]="microcredit"></app-card-microcredit>
</ng-template>