<div class="explore">

  <!--start::Partners List-->
  <div class="row section-list" *ngIf="partners">
    <div class="col-md-12">
      <h3 class="list-tiltle">{{ 'USER.PARTNER.PLURAL' | translate }}</h3>
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let partner of (partners)">
          <app-card-partner [partner]="partner" (mousedown)="mousedown()" (mousemove)="mousemove()"
            (mouseup)="mouseup(partner, 'partner')"></app-card-partner>
        </ng-template>
      </owl-carousel-o>
      <div class="section-list-footer"><a [routerLink]="['/partners']">{{ 'USER.PARTNER.ALL' | translate }}</a>
      </div>
    </div>
  </div>
  <!--end::Partners List-->

  <!--start::Loyalty Offers List-->
  <div *ngIf="configAccess[1]">
    <div class="row section-list" *ngIf="offers">
      <div class="col-md-12">
        <h3 class="list-tiltle">{{ 'OFFER.PLURAL' | translate }}</h3>
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let offer of (offers)">
            <app-card-offer [offer]="offer" type="all"></app-card-offer>
          </ng-template>
        </owl-carousel-o>
        <div class="section-list-footer"><a [routerLink]="['/offers']">{{ 'OFFER.ALL' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
  <!--end::Loyalty Offers List-->

  <!--start::Community Posts & Events List-->
  <div *ngIf="configAccess[0]">
    <div class="row section-list" *ngIf="posts">
      <div class="col-md-12">
        <h3 class="list-tiltle">{{ 'POST_EVENT.PLURAL' | translate }}</h3>
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let post of (posts)">
            <app-card-post [post]="post" (mousedown)="mousedown()" (mousemove)="mousemove()"
              (mouseup)="mouseup(post, 'post')"></app-card-post>
          </ng-template>
        </owl-carousel-o>
        <div class="section-list-footer"><a [routerLink]="['/posts']">{{ 'POST_EVENT.ALL' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
  <!--end::Community Posts & Events List-->

</div>

<!--start::Modals-->
<!--start::Partner Modal-->
<ng-template #partnerModal let-c="close" let-d="dismiss">
  <button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <app-single-partner [partner]="singleCoop">
  </app-single-partner>
</ng-template>
<!--end::Partner Modal-->

<!--start::Community Post/Event Modal-->
<ng-template #postModal let-c="close" let-d="dismiss">
  <button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <app-single-post [singlePost]="singlePost"></app-single-post>
</ng-template>
<!--end::Community Post/Event Modal-->
<!--end::Modals-->