.support {
	.item-wrapper {
		margin-bottom: 20px;
	}
	> .row {
		margin-top: 20px;
	}
	.item {
		&-card {
			padding-top: 0;
			padding-left: 0;
			padding-right: 0;
		}
		&-img {
			position: relative;
			height: auto;
			overflow: hidden;
			padding-top: 50%;
			background-position: 50% 50%;
			background-size: cover;
			&-container {
				padding: 0;
				margin-bottom: 20px;
			}
			img {
				right: 0;
				width: 100%;
				height: 100%;
				bottom: 0;
				left: 0;
				top: 0;
				position: absolute;
				object-position: 50% 50%;
				object-fit: cover;
			}
		}
		&-expires {
			position: absolute;
			z-index: 1;
			right: -1px;
			bottom: 30%;
			background-color: #37aba7;
			color: #fff;
			padding: 5px 15px;
			font-size: 1.22rem;
		}
		&-heading {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 18px;
			position: relative;
			.points {
				font-size: 1.1rem;
			}
		}
		&-description {
			font-size: 1.1rem;
			color: #8b8b8b;
			margin-bottom: 20px;
			padding-bottom: 15px;
			border-bottom: 1px solid #eee;
		}
		&-title {
			font-size: 1.4rem;
		}
		&-subtitle {
			font-size: 14px;
			margin-bottom: 5px;
			color: #8b8b8b;
			img {
				position: relative;
				top: -2px;
				margin-right: 5px;
				max-width: fit-content;
			}
		}
		&-info {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.share {
				cursor: pointer;
			}
		}
	}
}
