<!--begin::Body-->
<div class="kt-login__body">

  <!--begin::Check Password Restoration-->
  <div class="kt-login__form">
    <div class="kt-login__title">
      <h3>Restore Password</h3>
    </div>

    <!--begin::Notice-->
    <auth-notice></auth-notice>
    <!--end::Notice-->

    <!--begin::Form-->
    <form *ngIf="check" class="kt-form" [formGroup]="passwordForm" autocomplete="off" class="login-form">
      <div class="form-group">
        <mat-form-field>
          <mat-label>{{ 'AUTH.INPUT.NEW_PASSWORD' | translate }}</mat-label>
          <input matInput type="password" placeholder="{{ 'AUTH.INPUT.NEW_PASSWORD' | translate }}"
            formControlName="newPassword" autocomplete="off" />
          <mat-error *ngIf="isControlHasError('newPassword','required')">
            <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
          </mat-error>
          <mat-error *ngIf="isControlHasError('newPassword','minlength')">
            <strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }}
              {{validator.password.minLength}}</strong>
          </mat-error>
          <mat-error *ngIf="isControlHasError('newPassword','maxlength')">
            <strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }}
              {{validator.password.maxLength}}</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>{{ 'AUTH.INPUT.CONFIRM_PASSWORD' | translate }}</mat-label>
          <input matInput type="password" placeholder="{{ 'AUTH.INPUT.CONFIRM_PASSWORD' | translate }}"
            formControlName="confirmPassword" autocomplete="off" />
          <mat-error *ngIf="isControlHasError('confirmPassword','required')">
            <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
          </mat-error>
          <mat-error *ngIf="isControlHasError('confirmPassword','minlength')">
            <strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }}
              {{validator.password.minLength}}</strong>
          </mat-error>
          <mat-error *ngIf="isControlHasError('confirmPassword','maxlength')">
            <strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }}
              {{validator.password.maxLength}}</strong>
          </mat-error>
          <mat-error
            *ngIf="passwordForm.get('confirmPassword').errors && passwordForm.get('confirmPassword').errors.ConfirmPassword">
            <strong>Passsword and ConfirmPassword didn't match.</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <!--begin::Action-->
      <div class="kt-login__actions">
        <a href="javascript:;" routerLink="/" class="kt-link kt-login__link-forgot">
        </a>
        <button (click)="submit()" (keyup.enter)="submit()"
          [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
          id="kt_login_signin_submit"
          class="btn btn-primary btn-elevate kt-login__btn-primary">{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}</button>
      </div>
      <!--end::Action-->

    </form>
    <!--end::Form-->

    <div class="kt-login__head">
      <span class="kt-login__signup-label">Do you have already validated your email address?</span>&nbsp;&nbsp;
      <a href="javascript:;" routerLink="/auth/login"
        class="kt-link kt-login__signup-link">{{ 'AUTH.LOGIN.BUTTON' | translate }}</a>
    </div>

  </div>
  <!--end::Check Password Restoration-->

</div>
<!--end::Body-->
