<div ngbDropdown placement="left" class="share-dropdown">
	<div ngbDropdownToggle class="share-dropdown-wrapper">
		<div class="share">
			<span class="mdi mdi-share-variant share-icon"></span>
			<!--<img src="../../../assets/media/images/Share.png" alt="share" />-->
		</div>
	</div>
	<div ngbDropdownMenu class="dropdown-menu dropdown-menu-fit dropdown-menu-right">
		<!--begin: Navigation -->
		<div class="navigation">
			<a ngbDropdownItem href="javascript:;" class="navigation-item">
				<div class="navigation-item-details">
					<span class="mdi mdi-facebook"></span>
				</div>
			</a>
			<a ngbDropdownItem href="javascript:;" class="navigation-item">
				<div class="navigation-item-details">
					<span class="mdi mdi-twitter"></span>
				</div>
			</a>
		</div>
		<!--end: Navigation -->
	</div>
</div>
