@import "../../../../variables.scss";

.share-dropdown {
	.dropdown-toggle {
		&:after {
			content: none;
		}
	}
	.dropdown-menu {
		min-width: 0;
		margin: 0;
	}
	.dropdown-item {
		padding: 0.25rem 0.8rem;
		line-height: 1;
		span {
			font-size: 24px;
			margin: 0;
		}
		&:hover, &:focus {
			background-color: transparent;
			span {
				color: #222;
			}
		}
	}
	.share-icon {
		transition: color 0.3s;
		&:hover {
			color:$primary;
		}
	}
	&.show {
		.share-icon {
			color: $primary;
		}
	}
}