@import "./../../../variables.scss";

.badge-container {
  display: flex;
  margin-top: 1.2rem;
  margin-bottom: 2rem;

  img {
    max-width: 100px;
  }
}

.dashboard-card {
  margin-bottom: 2rem;
  margin-top: 1rem;

  &.offer-card {
    padding-top: 0;
  }
}

.wallet-card {
  &-header {
    border-bottom: 2px solid #eee;
    margin-bottom: 10px;
  }

  &-icon {
    position: absolute;
    top: -25px;
    right: -8px;
    cursor: pointer;
    border-radius: 50%;
    transition: box-shadow 0.3s;
    color: #fff;
    background-color: $tertiary;
    font-size: 51px;
    width: 75px;
    height: 75px;
    text-align: center;

    &:hover {
      box-shadow: 0 3px 11px -2px #d1cbcb;
    }
  }

  .single {
    //border-bottom: 1px solid #eee;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;

    &-content {
      display: flex;
      align-items: center;
    }

    .wallet-img {
      margin-right: 20px;
      width: 60px;

      img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    &-title {
      font-size: 18px;
      margin-bottom: 5px;
    }

    &-status {
      width: 20px;
      height: 20px;

      &.mat-warn {
        background-color: $tertiary;
      }

      &.mat-primary {
        background-color: $primary;
      }
    }

    &-subtitle {
      font-size: 14px;
      margin-bottom: 5px;
      color: #8b8b8b;

      img {
        position: relative;
        top: -2px;
        margin-right: 5px;
      }
    }

    &-amount {
      justify-content: flex-end;
      display: flex;
      align-items: center;

      .points {
        font-size: 1.4rem;
      }
    }
  }
}

.balance {
  &-title {
    color: $dark-font;
    margin-bottom: 0px;
  }

  &-amount {
    .points {
      color: $amount-color;
    }
  }
}

.wallet-coop,
.wallet-row {
  cursor: pointer;
  transition: background-color 0.4s;

  &:hover {
    background-color: #f0f2f4;
  }
}

.wallet-popup {
  padding: 20px;

  .row-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .points {
    font-size: 24px;
  }
}

.qr-code-text {
  background: #fff;
  padding: 15px;
}
