<form [formGroup]="submitForm">
  <div class="row">
    <div class="col-xl-12">
      <div class="form-group transaction">
        <h4 class="transaction-title">{{ 'PARTNER.WIZARD.SUB_DISCOUNT_FORM.HEADING' | translate }}</h4>
        <div class="form-group">
          <div class="input-group amount-input">
            <span class="input-group-text">€</span>
            <input type="number" class="form-control final-amount" name="final_amount" formControlName="final_amount"
              placeholder="10">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 discount-container">
      <div class="">
        <h4>
          {{ 'PARTNER.WIZARD.SUB_DISCOUNT_FORM.TITLE' | translate }}
          <span class="discount">{{transaction.discount_amount | currency:'EUR'}}</span>.
        </h4>
        <div class="">
          <mat-checkbox (click)="onWantRedeemCheckboxChange()" type="checkbox" name="redeem"
            formControlName="wantRedeem" value="false">
            {{ 'PARTNER.WIZARD.SUB_DISCOUNT_FORM.CTA' | translate }}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
</form>
<button class="mr-2" mat-raised-button type="button"
  (click)="onPreviousStep()">{{ 'PARTNER.WIZARD.PREVIOUS_STEP' | translate }}</button>
<button mat-raised-button type="button" (click)="onNextStep()">{{ 'PARTNER.WIZARD.COMPLETE' | translate }}</button>
