@import "../../../variables.scss";

table {
  width: 100%;
}

.plegde-button {
  margin-top: 20px;
  background-color: $primary;
  font-size: 18px;
  color: #fff;
  padding: 6px 20px 6px 20px;
  margin: 0px 0px 10px 0px;
}
