<button mat-raised-button [routerLink]="['create']" class="mb-5"> {{ 'USER.MEMBER.CREATE' | translate }} </button>

<div>
  <div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
				The actual rendered columns are set as a property on the row definition" -->
      <ng-container matColumnDef="user_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User ID </th>
        <td mat-cell *matCellDef="let item"> {{item._id}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let item"> {{item.email}} </td>
      </ng-container>
      <ng-container matColumnDef="card">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Card Number </th>
        <td mat-cell *matCellDef="let item"> {{item.card}} </td>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let item"> {{item.createdAt | date: 'd/M/y, HH:mm'}} </td>
      </ng-container>
      <ng-container matColumnDef="activated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td style="vertical-align:middle" mat-cell *matCellDef="let item">
          <div matTooltip="{{'USER.REACTIVATE_DISABLE' | translate}}" [matTooltipPosition]="'right'"
            [matTooltipDisabled]="!item.activated">
            <button [disabled]="item.activated" class="activate-button" mat-raised-button
              (click)="changeUserActivation(item._id, $event)">{{'USER.REACTIVATE' | translate}}
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef=" displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <!--<h4>Paid Supports</h4>
	<div class="" *ngIf="paidSupports; else no_paid">
		<div *ngFor='let item of paidSupports'>
			<p> Initial Tokens {{item.initialTokens}} </p>
			<p>Payment ID {{item.backer_id}} -- {{item.status}}</p>
			<input type="checkbox" name="" value="{{item.status}}" [checked]="item.status==='confirmation'"
				(change)="onToUnpayCheckBoxChange(item._id)">
			<p> ----- ----- ----- ----- ----- ----- ----- ----- </p>
		</div>
		
	</div>
	<ng-template #no_paid>
		<span>No paid Supports</span>
	</ng-template>
	<h4> Unpaid Supports </h4>
	<div class="" *ngIf="unpaidSupports; else no_unpaid">
		<div *ngFor='let item of unpaidSupports'>
			<p> Initial Tokens {{item.initialTokens}} </p>
			<p>Payment ID {{item.backer_id}} -- {{item.status}}</p>
			<input type="checkbox" name="" value="{{item.status}}" [checked]="item.status==='confirmation'"
				(change)="onToPayCheckBoxChange(item._id)">
			<p> ----- ----- ----- ----- ----- ----- ----- ----- </p>
		</div>
	</div>
	<ng-template #no_unpaid>
		<span>No unpaid Supports</span>
	</ng-template>
	<button mat-raised-button (click)="onSubmit()"> Submit </button>-->
</div>
<!-- <div *ngIf="loading" class="spinner-overlay">
  <mat-spinner></mat-spinner>
</div> -->