<div *ngIf="access !== 'merchant'">
    <div>
        <ng-container *ngFor="let item of transactions">
            <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{item: item}"></ng-container>
        </ng-container>
    </div>

    <ng-template #itemTemplate let-item="item">
        <div class="kt-widget1__item">
            <div class="kt-widget1__info">
                <h3 class="kt-widget1__title">Store: {{item.info.from_name}}</h3>
                <span class="kt-widget1__desc">Receipt: {{item.tx}} <br> {{item.createdAt | date:'medium' }}</span>
            </div>

            <span class="kt-widget1__number"
                [ngClass]="(item.type==='EarnPoints') ? 'kt-font-success' : 'kt-font-danger'">
                {{ (item.type==='EarnPoints') ? '+' : '-' }}
                {{item.info.points}} points
            </span>
        </div>
    </ng-template>
</div>

<div *ngIf="access === 'merchant'">
    <div>
        <ng-container *ngFor="let item of transactions">
            <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{item: item}"></ng-container>
        </ng-container>
    </div>

    <ng-template #itemTemplate let-item="item">
        <div class="kt-widget1__item">
            <div class="kt-widget1__info">
                <h3 class="kt-widget1__title">Customer: {{item.info.to_email}}</h3>
                <span class="kt-widget1__desc">Receipt: {{item.tx}} <br> {{item.createdAt | date:'medium' }}</span>
            </div>

            <span class="kt-widget1__number" [ngClass]="(item.type==='EarnPoints') ? 'kt-font-info' : 'kt-font-focus'">
                <!--{{ (item.type==='EarnPoints') ? '-' : '+' }}-->
                {{item.info.points}} points
            </span>
        </div>
    </ng-template>
</div>