<div class="transaction">
  <h1 class="heading">Your Recent Transactions</h1>

  <div *ngIf="access !== 'merchant'">
    <div>
      <div class="table container">
        <ng-container
          *ngFor="let item of transactions | paginate: { id: 'tr_paginator', itemsPerPage: 10, currentPage: p }">
          <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{item: item}"></ng-container>
        </ng-container>
      </div>
      <div class="pagination-wrapper">
        <pagination-controls autoHide="true" id='tr_paginator' (pageChange)="p=$event"></pagination-controls>
      </div>
    </div>

    <ng-template #itemTemplate let-item="item">
      <div class="transaction-receipt row">
        <div class="transaction-desc col"><span class="title">Receipt:</span> {{item.tx}}</div>
      </div>
      <div class="transaction-details row">
        <div class="transaction-info col">
          <span class="transaction-title">{{item.createdAt | date:'medium' }}</span>
        </div>
        <div class="transaction-info col">
          <span class="transaction-title"><span class="title">Store:</span> {{item.data.merchant_name}}</span>
        </div>
        <div class="transaction-number col" [ngClass]="(item.type==='EarnPoints') ? 'font-success' : 'font-danger'">
          {{ (item.type==='EarnPoints') ? '+' : '-' }}
          {{item.data.points}} points
        </div>
      </div>
    </ng-template>
  </div>

  <div *ngIf="access === 'merchant'">
    <div>
      <div class="table container">
        <ng-container
          *ngFor="let item of transactions | paginate: { id: 'mr_paginator', itemsPerPage: 10, currentPage: p }">
          <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{item: item}"></ng-container>
        </ng-container>
      </div>
    </div>
    <div class="pagination-wrapper">
      <pagination-controls autoHide="true" id='mr_paginator' (pageChange)="p=$event"></pagination-controls>
    </div>

    <ng-template #itemTemplate let-item="item">
      <div class="transaction-item transaction-receipt row">
        <div class="transaction-info col">
          <span class="transaction-desc">Receipt: {{item.tx}} <br> </span>
        </div>
      </div>

      <div class="transaction-details row">
        <div class="transaction-info col">
          <span class="transaction-title">{{item.createdAt | date:'medium' }}</span>
        </div>
        <div class="transaction-info col">
          <span class="transaction-title"><span class="title">Customer:</span> {{item.customer_id}}</span>
        </div>
        <div class="transaction-info col">
          <span class="transaction-number" [ngClass]="(item.type==='EarnPoints') ? 'font-success' : 'font-danger'">
            <!--{{ (item.type==='EarnPoints') ? '-' : '+' }}-->
            {{item.data.points}} points
          </span>
        </div>
      </div>
    </ng-template>
  </div>
</div>
