<div class="wallet_singleMicrocredit_wrapper">
	{{singleMicrocredit.title}}
	<button mat-raised-button (click)="pledgeModal(singleMicrocredit.merchant_id, singleMicrocredit.campaign_id)">Pledge</button>
	<!--<div class="singleMicrocredit row">
		<div class="col-sm-12 singleMicrocredit-img-container">
			<div class="singleMicrocredit-img">
				<img src={{singleMicrocredit.post_event_imageURL}} alt={{singleMicrocredit.name}} />
				<div *ngIf="singleMicrocredit.dateTime" class="post-date"><span class="white mdi mdi-calendar"></span> {{singleMicrocredit.dateTime | date: 'd.M'}}</div>
			</div>
		</div>
		<div class="col-sm-12 singleMicrocredit-details">
			<div class="singleMicrocredit-heading">
				<div class="singleMicrocredit-title">{{singleMicrocredit.title}}</div>
				<div class="singleMicrocredit-type">{{singleMicrocredit.type}}</div>
			</div>
			<div class="singleMicrocredit-description">
				<p *ngIf="singleMicrocredit.content">
					{{singleMicrocredit.content}}
				</p>
				<p *ngIf="singleMicrocredit.description">
					{{singleMicrocredit.description}}
				</p>
			</div>
			<div class="singleMicrocredit-info">
				<div class="">
					<div class="singleCoop-subtitle">
						<img src="../../../assets/media/images/Map-Icon.png" alt="Shop" />
						<span class="mdi mdi-shopping"></span>{{singleMicrocredit.merchant_name}}
					</div>
				</div>
				<div class="share">						
					<app-share-icon></app-share-icon>
					<span class="mdi mdi-share-variant share-icon"></span><img src="../../../assets/media/images/Share.png" alt="share" />
				</div>
			</div>
		</div>
	</div>-->
</div>