<div class="wallet_s_single_wrapper synergy-single microcredit-single row">
	<div class="s_single col-md-12">
		<div appSticky position="top" class="row s_single-title-container">
			<div class="col-md-12">
				<h1 class="s_single-title">{{singleMicrocredit.title}}</h1>
			</div>
		</div>
		<div class="row s_single-img-area">
			<div class="col-md-12 s_single-img-container">
				<div class="s_single-img">
					<img src={{singleMicrocredit.campaign_imageURL}} alt={{singleMicrocredit.title}} />
				</div>
				<div *ngIf="singleMicrocredit.expiresAt" class="s_single-date">
					{{'GENERAL.TO' | translate}} {{singleMicrocredit.expiresAt | date: 'd.M.y'}}
				</div>
			</div>
		</div>
		<div class="row s_single-details">
			<div class="col-md-12">
				<div class="row s_single-info-container">
					<div class="col-md-7 s_single-info">
						<div class="info-row terms">
							<h4>What do I get ?</h4>
							<p [innerHTML]="singleMicrocredit.terms"></p>
						</div>
					</div>
					<div class="col-md-5 s_single-credit">
						<div class="min-amount">
							<span class="from" *ngIf="singleMicrocredit.quantitative==true">
								{{'GENERAL.FROM' | translate}}
							</span>
							<span [ngClass]="{'price-item':singleMicrocredit.quantitative!=true}">
								{{singleMicrocredit.minAllowed | currency:'EUR' }}
							</span>
						</div>
						<div class="price-item" *ngIf="singleMicrocredit.stepAmount>0">
							<span>{{singleMicrocredit.stepAmount}} / per item </span>
						</div>
						<button mat-raised-button
							(click)="pledgeModal(singleMicrocredit.merchant_id, singleMicrocredit.campaign_id)">Pledge</button>
					</div>
				</div>
				<div class="row s_single-description">
					<div class="col-md-4 merchant-info s_single-info-container ">
						<h6>Merchant Info</h6>
						<h5>{{singleMicrocredit.merchant_name}}</h5>
						<img src="{{singleMicrocredit.merchant_imageURL}}" alt="{{singleMicrocredit.merchant_name}}">
						<div *ngIf="singleMicrocredit.address" class="info-row"><span class="mdi mdi-pin"></span>{{singleMicrocredit.address.street}},
							{{singleMicrocredit.address.city}}</div>
						<div *ngIf="singleMicrocredit.contact" class="info-row"><span class="mdi mdi-phone"></span>{{singleMicrocredit.contact.phone}}</div>
						<div class="info-row"><span class="mdi mdi-email"></span>{{singleMicrocredit.email}}</div>
					</div>
					<div class="col-md-8">
						<p [innerHTML]="singleMicrocredit.description"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>