@import "../../../variables.scss";
.s_single {
  &-credit {
    text-align: right;
    .min-amount {
      .from {
        font-size: 10px;
        color: #000;
        text-transform: uppercase;
        margin-top: 13px;
        display: block;
        line-height: 3px;
      }
      .amount {
        font-size: 1.3rem;
        color: $amount-color;
      }
    }
    .price-item {
      color: $primary;
      font-size: 1.4rem;
    }
  }
  &-description {
    .merchant-info {
      padding-right: 15px;
      padding-left: 15px;
      padding-top: 0px;
      h6 {
        text-transform: uppercase;
		color: $primary;
		font-size: 0.8rem;
      }
      img {
        max-width: 100%;
      }
    }
  }
}
