<form [formGroup]="submitForm">
    <div>
        <h5 class="heading">{{ 'MERCHANT.SCANNER.SUB_EMAIL_FORM.HEADING' | translate }}</h5>
        <div class="form-group">
					<mat-form-field>
						<mat-label>Email</mat-label>
            <input matInput type="email" name="email" formControlName="email" placeholder="Email">
            <mat-error *ngIf="isControlHasError('email','email')"
                class="error text-danger">{{ 'FORM.VALIDATION.INVALID_FIELD' | translate }}</mat-error>
            <mat-error *ngIf="isControlHasError('email','email')"
                class="error text-danger">{{ 'FORM.VALIDATION.INVALID_FIELD' | translate }}</mat-error>
            <mat-hint class="form-text text-muted">{{ 'MERCHANT.SCANNER.SUB_EMAIL_FORM.HINT' | translate }}</mat-hint>
					</mat-form-field>
        </div>
    </div>
</form>
<button class="mr-2" mat-raised-button type="button" awPreviousStep>{{ 'MERCHANT.SCANNER.PREVIOUS_STEP' | translate }}</button>
<button mat-raised-button type="button" (click)="onNextStep()">{{ 'MERCHANT.SCANNER.NEXT_STEP' | translate }}</button>