<div class="grid-item grid-item--fluid wizard-v3-wrapper">
    <form class="form" [formGroup]="submitForm" id="kt_form">
        <div class="heading heading--md">Update Your Password</div>
        <div class="form-section form-section--first">
            <div class="wizard-v3-form">
                <div class="form-group">
					<mat-form-field>
						<mat-label>Current Password</mat-label>
						<input matInput type="password" name="password" formControlName="oldPassword">
						<mat-hint class="form-text text-muted">Please enter your current Password.</mat-hint>
						<mat-error *ngIf="isControlHasError('oldPassword','required')"
							class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</mat-error>
						<mat-error *ngIf="isControlHasError('oldPassword','minlength')"
							class="error text-danger">{{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}
							{{validator.password.minLength}}</mat-error>
						<mat-error *ngIf="isControlHasError('oldPassword','maxlength')"
							class="error text-danger">{{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}
							{{validator.password.maxLength}}</mat-error>
					</mat-form-field>
                </div>
                <div class="form-group">
					<mat-form-field>
						<mat-label>New Password</mat-label>
						<input matInput type="password" name="newPassword" formControlName="newPassword">
						<mat-hint class="form-text text-muted">Please enter your new Password.</mat-hint>
						<mat-error *ngIf="isControlHasError('newPassword','required')"
							class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</mat-error>
						<mat-error *ngIf="isControlHasError('newPassword','minlength')"
							class="error text-danger">{{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}
							{{validator.password.minLength}}</mat-error>
						<mat-error *ngIf="isControlHasError('newPassword','maxlength')"
							class="error text-danger">{{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}
							{{validator.password.maxLength}}</mat-error>
					</mat-form-field>
                </div>
                <div class="form-group">
					<mat-form-field>
						<mat-label>Confirm Password</mat-label>
						<input matInput type="password" name="confirmPassword" formControlName="confirmPassword">
						<mat-hint class="form-text text-muted">Please confirm your new Password.</mat-hint>
						<mat-error *ngIf="isControlHasError('confirmPassword','required')"
							class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</mat-error>
						<mat-error *ngIf="isControlHasError('confirmPassword','minlength')"
							class="error text-danger">{{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}
							{{validator.password.minLength}}</mat-error>
						<mat-error *ngIf="isControlHasError('confirmPassword','maxlength')"
							class="error text-danger">{{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}
							{{validator.password.maxLength}}</mat-error>
						<mat-error
							*ngIf="submitForm.get('confirmPassword').errors && submitForm.get('confirmPassword').errors.ConfirmPassword"
							class="error text-danger">
							Passsword and ConfirmPassword didn't match
						</mat-error>
					</mat-form-field>
                </div>

            </div>
        </div>

        <!--begin: Form Actions -->
        <div class="form-actions">

            <div (click)="onSubmit()" (keyup.enter)="onSubmit()"
                class="btn btn-success btn-md btn-tall btn-wide font-bold font-transform-u"
                data-ktwizard-type="action-submit">
                {{ 'FORM.BUTTONS.SUBMIT' | translate }}
            </div>

        </div>
        <!--end: Form Actions -->
    </form>
</div>