<!--begin::Body-->
<div class="login__body">
	<!--begin::Ask Restoration Email-->
	<div class="login__form">
		<div class="login__title">
			<h3>{{ 'AUTH.FORGOT_PASSWORD.TITLE_ASK' | translate }}</h3>
		</div>

		<auth-notice></auth-notice>

		<form class="form" [formGroup]="emailForm" autocomplete="off">
			<div class="form-group">
				<mat-form-field>
					<mat-label>{{ 'AUTH.INPUT.EMAIL' | translate }}</mat-label>
					<input matInput type="email" placeholder="{{ 'AUTH.INPUT.EMAIL' | translate }}"
						formControlName="email" autocomplete="off" />
					<mat-error *ngIf="isControlHasError('email','required')">
						<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email','email')">
						<strong>{{ 'AUTH.VALIDATION.INVALID_FIELD' | translate }}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email','minLength')">
						<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }}
							{{validator.email.minLength}}</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email','maxLength')">
						<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }}
							{{validator.email.maxLength}}</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<!--begin::Action-->
			<div class="login__actions">
				<button routerLink="/auth/login" type="button" [disabled]="loading" id="kt_login_signup_cancel"
					class="btn btn-secondary btn-elevate mr-2">{{ 'AUTH.GENERAL.BACK_BUTTON' | translate }}</button>
				<button (click)="submit()" (keyup.enter)="submit()" id="kt_login_signin_submit"
					class="btn btn-primary btn-elevate login__btn-primary"
					[ngClass]="{'spinner spinner--right spinner--md spinner--light': loading}">{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}</button>
			</div>
			<!--end::Action-->
		</form>
	</div>
	<!--end::Ask Restoration Email-->
</div>