<!--begin::Body-->
<div class="auth_body">

  <!--begin::Register-->
  <div class="auth_container">
    <div class="login_title mb-3">
      <h3>{{ 'AUTH.REGISTER.TITLE' | translate }} {{ 'AUTH.GENERAL.AS_PARTNER' | translate }}</h3>
    </div>

    <!--begin::Notice-->
    <auth-notice></auth-notice>
    <!--end::Notice-->

    <!--begin::Form-->
    <form class="auth_form" [formGroup]="registerForm" autocomplete="off">
      <div class="form-group">
        <mat-form-field>
          <mat-label>{{ 'FIELDS.PROFILE.PARTNER_NAME.TITLE' | translate }}</mat-label>
          <input matInput type="text" placeholder="{{ 'FIELDS.PROFILE.PARTNER_NAME.PLACEHOLDER' | translate }}"
            formControlName="fullname" autocomplete="off" />
          <mat-error *ngIf="isControlHasError('fullname','required')">
            <strong>{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
          </mat-error>
          <mat-error *ngIf="isControlHasError('fullname','minlength')">
            <strong>{{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}
              {{validator.name.minLength}}</strong>
          </mat-error>
          <mat-error *ngIf="isControlHasError('fullname','maxlength')">
            <strong>{{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}
              {{validator.name.maxLength}}</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>{{ 'FIELDS.PROFILE.EMAIL.TITLE' | translate }}</mat-label>
          <input matInput type="text" placeholder="{{ 'FIELDS.PROFILE.PASSWORD.PLACEHOLDER' | translate }}"
            formControlName="email" autocomplete="off" />
          <mat-error *ngIf="isControlHasError('email','email')">
            <strong>{{ 'FORM.VALIDATION.INVALID_FIELD' | translate }}</strong>
          </mat-error>
          <mat-error *ngIf="isControlHasError('email','required')">
            <strong>{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
          </mat-error>
          <mat-error *ngIf="isControlHasError('fullname','minlength')">
            <strong>{{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}
              {{validator.name.minLength}}</strong>
          </mat-error>
          <mat-error *ngIf="isControlHasError('email','maxlength')">
            <strong>{{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}
              {{validator.email.maxLength}}</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>{{ 'FIELDS.PROFILE.PASSWORD.TITLE' | translate }}</mat-label>
          <input matInput type="password" placeholder="{{ 'FIELDS.PROFILE.PASSWORD.PLACEHOLDER' | translate }}"
            formControlName="password" autocomplete="off" />
          <mat-error *ngIf="isControlHasError('password','required')">
            <strong>{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
          </mat-error>
          <mat-error *ngIf="isControlHasError('password','minlength')">
            <strong>{{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}
              {{validator.password.minLength}}</strong>
          </mat-error>
          <mat-error *ngIf="isControlHasError('password','maxlength')">
            <strong>{{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}
              {{validator.password.maxLength}}</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>{{ 'FIELDS.PROFILE.CONFIRM_PASSWORD.TITLE' | translate }}</mat-label>
          <input matInput type="password" placeholder="{{ 'FIELDS.PROFILE.CONFIRM_PASSWORD.PLACEHOLDER' | translate }}"
            formControlName="confirmPassword" autocomplete="off" />
          <mat-error *ngIf="isControlHasError('confirmPassword','required')">
            <strong>{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
          </mat-error>
          <mat-error *ngIf="isControlHasError('confirmPassword','minlength')">
            <strong>{{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}
              {{validator.password.minLength}}</strong>
          </mat-error>
          <mat-error *ngIf="isControlHasError('confirmPassword','maxlength')">
            <strong>{{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}
              {{validator.password.maxLength}}</strong>
          </mat-error>
          <mat-error
            *ngIf="registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').errors.ConfirmPassword">
            <strong>{{ 'FORM.VALIDATION.PASSWORD_CONFIRMATION' | translate }}</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>{{'FIELDS.PROFILE.SECTOR.TITLE' | translate}}</mat-label>
          <mat-select formControlName="sector">
            <mat-option value="{{item.value}}" *ngFor="let item of sectorList">{{item.title | translate}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="isControlHasError('sector','required')">
            <strong>{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
          </mat-error>
          <mat-hint class="form-text text-muted">{{'FIELDS.PROFILE.SECTOR.DESC' | translate}}</mat-hint>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-checkbox name="agree" formControlName="agree">
          {{ 'AUTH.TERMS.A' | translate }} <a
            (click)="openTermsDialog()"><strong>{{ 'AUTH.TERMS.B' | translate }}</strong></a>
        </mat-checkbox>
        <mat-error *ngIf="isControlHasError('agree','required')">
          <strong>{{ 'FORM.VALIDATION.AGREEMENT_REQUIRED' | translate }}</strong>
        </mat-error>
      </div>

      <!--begin::Action-->
      <div class="login__actions">
        <a href="javascript:;" routerLink="/auth/forgot-password" class="login__link-forgot mr-2">
          {{ 'AUTH.GENERAL.FORGOT_BUTTON' | translate }}
        </a>
        <a href="javascript:;" routerLink="/" class="link login__link-forgot">
        </a>
        <button [disabled]="loading" routerLink="/auth/login" type="button" [disabled]="loading"
          id="kt_login_signup_cancel"
          class="btn btn-secondary btn-elevate mr-2">{{ 'AUTH.GENERAL.BACK_BUTTON' | translate }}</button>
        <button [disabled]="loading" (click)="submit()" (keyup.enter)="submit()" id="kt_login_signin_submit"
          class="btn btn-primary btn-elevate login__btn-primary"
          [ngClass]="{'spinner spinner--right spinner--md spinner--light': loading}">{{ 'AUTH.REGISTER.BUTTON' | translate }}
        </button>
        <p *ngIf="loading">Loading...</p>

      </div>
      <!--end::Action-->

    </form>
    <!--end::Form-->

  </div>
  <!--end::Register-->

</div>
<!--end::Body-->
