<div class="row settings">
  <div class="col-md-3 sidebar">
    <mat-card class="settings-card">
      <mat-card-content>
        <ul class="nav flex-column">
          <li *ngFor="let item of menu" [ngClass]="getItemCssClasses('/history/'+item.link)">
            <a class="nav-link" [routerLink]="['/history/'+item.link]">
              {{item.title | translate}}
            </a>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-9">
    <mat-card class="settings-card">
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>
</div>