<div class="m-offers">
  <div class="heading-container">
    <h1 class="heading"> {{'MENU.MERCHANTS' | translate}} </h1>
    <!--<button class="add-item" mat-mini-fab routerLink="create">+</button>-->
  </div>
  <div class="row">
    <div class="item item-wrapper col-md-4" routerLink="create">
      <mat-card class="item-card new-item-card">
        <mat-card-content>
          <div class="new-item">{{'USER.CREATE_MERCHANT' | translate}}</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
