<h1> Create </h1>

<main id="logout-button-holder">
    <button mat-raised-button><a [routerLink]="['offer']">Create Offer</a></button>
</main>
<main id="logout-button-holder">
    <button mat-raised-button><a [routerLink]="['post']">Create Post</a></button>
</main>
<main id="logout-button-holder">
    <button mat-raised-button><a [routerLink]="['event']">Create Event</a></button>
</main>
<main id="logout-button-holder">
    <button mat-raised-button><a [routerLink]="['microcredit']">Create Microcredit Campaign</a></button>
</main>


<router-outlet></router-outlet>