#not-found-container {
	width: 100%;
	height: 100%;
	background-image: url("../../../../assets/media/images/earth-lights.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #fff;
	h1 {		
		margin-bottom: 20px;
	}
	.text {
		margin-bottom: 20px;
	}
	.not-found-content {
		display: flex;
		height: 90%;
		align-items: center;
		justify-content: center;
	}
	a:hover {
	text-decoration: none;
	}
}