.language-switcher {
  margin-right: 10px;

  .toggler {
    width: 30px;
    cursor: pointer;

    img {
      max-width: 100%;
      border-radius: 50%;
    }
  }

  .dropdown-menu {
    padding: 10px 0 0;

    ul {
      list-style: none;
      padding: 0;

      a {
        display: flex;
        justify-content: space-apart;
        margin-bottom: 2px;
        padding: 7px 9px;

        img {
          max-width: 30px;
          margin-right: 10px;
        }
      }
    }

    .lang-active {
      background-color: #f4f4f4;

    }
  }
}
