<!--start::Loaylty Offers List-->
<div class="row section-list" *ngIf="offers">
    <div class="col-md-12">
        <h3 class="list-tiltle">{{ 'OFFER.PLURAL' | translate }}</h3>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let offer of (offers)">
                <app-card-offer [offer]="offer" type="all"></app-card-offer>
            </ng-template>
        </owl-carousel-o>
        <div class="section-list-footer"><a [routerLink]="['/offers']">{{ 'OFFER.ALL' | translate }}</a>
        </div>
    </div>
</div>
<!--end::Loaylty Offers List-->