<!--begin::Body-->
<div class="kt-login__body">

  <!--begin::Check Email Verification-->
  <div class="kt-login__form">
    <div class="kt-login__title">
      <h3>{{ 'AUTH.VERIFY_EMAIL.TITLE' | translate }}</h3>
    </div>

    <!--begin::Notice-->
    <auth-notice></auth-notice>
    <!--end::Notice-->

    <div class="kt-login__head">
      <span class="kt-login__signup-label">{{ 'AUTH.MESSAGES.ALREADY_VALIDATED' | translate }}</span>&nbsp;&nbsp;
      <a href="javascript:;" routerLink="/auth/login"
        class="kt-link kt-login__signup-link">{{ 'AUTH.LOGIN.BUTTON' | translate }}</a>
    </div>

  </div>
  <!--end::Check Email Verification-->

</div>
<!--end::Body-->
