<!--begin::Body-->
<div class="auth_body">

  <!--begin::Check Email Verification-->
  <div class="auth_container">
    <div class="auth_title">
      <h3>{{ 'AUTH.VERIFY_EMAIL.TITLE' | translate }}</h3>
    </div>

    <!--begin::Auth Notice-->
    <auth-notice></auth-notice>
    <!--end::Auth Notice-->

    <div class="auth_head">
      <span class="auth-label">
        {{ 'AUTH.MESSAGES.ALREADY_VALIDATED' | translate }}
      </span>&nbsp;&nbsp;
      <a class="auth_link" href="javascript:;" routerLink="/auth/login">
        {{ 'AUTH.LOGIN.BUTTON' | translate }}
      </a>
    </div>

  </div>
  <!--end::Check Email Verification-->

  <!--begin::Loading Spinner-->
  <div *ngIf="loading" class="spinner-overlay">
    <mat-spinner></mat-spinner>
  </div>
  <!--end::Loading Spinner-->

</div>
<!--end::Body-->