<div class="transaction">
  <h1 class="heading">{{ 'SETTINGS.TRANSACTIONS' | translate }} (Microcredit)</h1>

  <div *ngIf="access !== 'merchant'">
    <div>
      <div class="table container">
        <ng-container
          *ngFor="let item of transactions | paginate: { id: 'tr_paginator', itemsPerPage: 10, currentPage: p }">
          <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{item: item}"></ng-container>
        </ng-container>
      </div>
      <div class="pagination-wrapper">
        <pagination-controls autoHide="true" id='tr_paginator' (pageChange)="p=$event"></pagination-controls>
      </div>
    </div>

    <ng-template #itemTemplate let-item="item">
      <div class="transaction-receipt row">
        <div class="transaction-desc col"><span class="title">{{ 'SETTINGS.RECEIPT' | translate }}:</span> {{item.tx}}
        </div>
      </div>
      <div class="transaction-item transaction-subtitle row">
        <div class="transaction-info col">
          <span class="transaction-desc">{{ 'SETTINGS.SUPPORT' | translate }}: {{item.data.support_id}} <br> </span>
        </div>
      </div>
      <div class="transaction-details row">
        <div class="transaction-info col">
          <span class="transaction-title">{{item.createdAt | date:'medium' }}</span>
        </div>
        <div class="transaction-info col">
          <span class="transaction-title"><span class="title">{{ 'SETTINGS.MERCHANT' | translate }}:</span>
            {{item.data.campaign_title}}</span>
        </div>
        <div *ngIf="(item.type === 'PromiseFund') || ((item.type === 'SpendFund'))" class="transaction-info col">
          <span class="transaction-number" [ngClass]="(item.type==='PromiseFund') ? 'font-success' : 'font-danger'">
            {{ (item.type==='SpendFund') ? '-' : '+' }}
            {{item.data.tokens}} {{ 'SETTINGS.TOKENS' | translate }}
          </span>
        </div>
        <div *ngIf="(item.type === 'RevertFund') || ((item.type === 'ReceiveFund'))" class="transaction-info col">
          <span class="transaction-number" [ngClass]="(item.type==='ReceiveFund') ? 'font-success' : 'font-danger'">
            {{ (item.type==='ReceiveFund') ? ('SETTINGS.PAID' | translate) :  ('SETTINGS.UNPAID' | translate) }}
          </span>
        </div>
      </div>
    </ng-template>
  </div>

  <div *ngIf="access === 'merchant'">
    <div>
      <div class="table container">
        <ng-container
          *ngFor="let item of transactions | paginate: { id: 'mr_paginator', itemsPerPage: 10, currentPage: p }">
          <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{item: item}"></ng-container>
        </ng-container>
      </div>
    </div>
    <div class="pagination-wrapper">
      <pagination-controls autoHide="true" id='mr_paginator' (pageChange)="p=$event"></pagination-controls>
    </div>

    <ng-template #itemTemplate let-item="item">
      <div class="transaction-item transaction-receipt row">
        <div class="transaction-info col">
          <span class="transaction-desc">{{ 'SETTINGS.RECEIPT' | translate }}: {{item.tx}} <br> </span>
        </div>
      </div>
      <div class="transaction-item transaction-subtitle row">
        <div class="transaction-info col">
          <span class="transaction-desc">{{ 'SETTINGS.SUPPORT' | translate }}: {{item.data.support_id}} <br> </span>
        </div>
      </div>
      <div class="transaction-details row">
        <div class="transaction-info col">
          <span class="transaction-title">{{item.createdAt | date:'medium' }}</span>
        </div>
        <div class="transaction-info col">
          <span class="transaction-title"><span class="title">{{ 'SETTINGS.MERCHANT' | translate }}:</span>
            {{item.data.campaign_title}}</span>
        </div>
        <div *ngIf="(item.type === 'PromiseFund') || ((item.type === 'SpendFund'))" class="transaction-info col">
          <span class="transaction-number" [ngClass]="(item.type==='PromiseFund') ? 'font-success' : 'font-danger'">
            <div *ngIf="item.type==='PromiseFund'"> {{item.data.tokens | currency: 'EUR'}} </div>
            <div *ngIf="item.type!=='PromiseFund'"> ~ {{item.data.tokens}} {{'SETTINGS.TOKENS' | translate}} </div>
          </span>
        </div>
        <div *ngIf="(item.type === 'RevertFund') || ((item.type === 'ReceiveFund'))" class="transaction-info col">
          <span class="transaction-number" [ngClass]="(item.type==='ReceiveFund') ? 'font-success' : 'font-danger'">
            {{ (item.type==='ReceiveFund') ? ('SETTINGS.PAID' | translate) :  ('SETTINGS.UNPAID' | translate) }}
          </span>
        </div>
      </div>
    </ng-template>
  </div>

</div>
