.explore {
	.col-md-6 {
		margin-bottom: 50px;
		/*.swipper-footer {
			position: relative;
			bottom: 60px;
			z-index: 1;
		}*/
		.swiper-slide {
			position: relative;
			.slide-overlay {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: red;
				opacity: 0.1;
				z-index: 1;
			}
		}
	}
}