<div class="explore">
	<!-- Merchants List-->
	<div class="row section-list" *ngIf="merchants">
		<div class="col-md-12">
			<h3 class="list-tiltle">{{ 'LISTS.MERCHANT_LIST' | translate }}</h3>
			<owl-carousel-o [options]="customOptions">
				<ng-template carouselSlide *ngFor="let coop of (merchants)">
					<app-card-coop [coop]="coop" (mousedown)="mousedown()" (mousemove)="mousemove()"
						(mouseup)="mouseup(coop, 'coop')"></app-card-coop>
				</ng-template>
			</owl-carousel-o>
			<div class="section-list-footer"><a
					[routerLink]="['/coops']">{{ 'LISTS.MERCHANT_LIST_LINK' | translate }}</a></div>
		</div>
	</div>
	<!-- Offers List-->
	<div class="row section-list" *ngIf="offers">
		<div class="col-md-12">
			<h3 class="list-tiltle">{{ 'LISTS.OFFERS_LIST' | translate }}</h3>
			<owl-carousel-o [options]="customOptions">
				<ng-template carouselSlide *ngFor="let offer of (offers)">
					<app-card-offer [offer]="offer" type="all"></app-card-offer>
				</ng-template>
			</owl-carousel-o>
			<div class="section-list-footer"><a
					[routerLink]="['/offers']">{{ 'LISTS.OFFERS_LIST_LINK' | translate }}</a></div>
		</div>
	</div>
	<!-- Evenst & Posts List-->
	<div class="row section-list" *ngIf="posts">
		<div class="col-md-12">
			<h3 class="list-tiltle">{{ 'LISTS.NEWSEVENTS_LIST' | translate }}</h3>
			<owl-carousel-o [options]="customOptions">
				<ng-template carouselSlide *ngFor="let post of (posts)">
					<app-card-post [post]="post" (mousedown)="mousedown()" (mousemove)="mousemove()"
						(mouseup)="mouseup(post, 'post')"></app-card-post>
				</ng-template>
			</owl-carousel-o>
			<div class="section-list-footer"><a
					[routerLink]="['/posts']">{{ 'LISTS.NEWSEVENTS_LIST_LINK' | translate }}</a></div>
		</div>
	</div>
</div>

<!-- Coop Modal -->
<ng-template #coopModal let-c="close" let-d="dismiss">
	<button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
	<app-single-coop [singleCoop]="singleCoop"></app-single-coop>
</ng-template>

<!-- Post Event Modal -->
<ng-template #postModal let-c="close" let-d="dismiss">
	<button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
	<app-single-post [singlePost]="singlePost"></app-single-post>
</ng-template>