<div class="new-event">
	<mat-card>
		<mat-card-content>
			<form *ngIf="event" class="form container single-form" [formGroup]="submitForm">
				<div class="row">
					<div class="heading col-md-12">Edit Event</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<mat-form-field>
								<mat-label>Title</mat-label>
							<input matInput type="text"  formControlName="title" placeholder="Title">
							<mat-error *ngIf="isControlHasError('title','required')"
								class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</mat-error>
							<mat-error *ngIf="isControlHasError('title','minlength')"
								class="error text-danger">{{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}
								{{validator.title.minLength}}</mat-error>
							<mat-error *ngIf="isControlHasError('title','maxlength')"
								class="error text-danger">{{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}
								{{validator.title.maxLength}}</mat-error>
							<mat-hint class="form-text text-muted">Please enter post's/event's Title.</mat-hint>
							</mat-form-field>
						</div>
						<div class="form-group">
							<mat-form-field>
								<mat-label>Abstract</mat-label>
							<input matInput type="text" formControlName="itemAbstract" placeholder="Abstract">
							<mat-hint class="form-text text-muted">Please enter event Abstract.</mat-hint>
							</mat-form-field>
						</div>
						<div class="form-group">
							<mat-form-field>
								<mat-label>Description</mat-label>
							<textarea matInput type="text" formControlName="description" placeholder="Description" > </textarea>
							<mat-error *ngIf="isControlHasError('description','required')"
								class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</mat-error>
							<mat-error *ngIf="isControlHasError('description','minlength')"
								class="error text-danger">{{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}
								{{validator.description.minLength}}</mat-error>
							<mat-error *ngIf="isControlHasError('description','maxlength')"
								class="error text-danger">{{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}
								{{validator.description.maxLength}}</mat-error>
							<mat-hint class="form-text text-muted">Please enter post's/event's Description.</mat-hint>
							</mat-form-field>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<mat-form-field>
								<mat-label>Access</mat-label>
							<mat-select name="access"  formControlName="access">
								<mat-option value="public">Public to All</mat-option>
								<mat-option value="private">Only for registered Members</mat-option>
								<mat-option value="partners">Only for Coops</mat-option>
							</mat-select>
							<mat-error *ngIf="isControlHasError('Access','required')"
								class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</mat-error>
							<mat-hint class="form-text text-muted">Please enter post's/events's access.</mat-hint>
							</mat-form-field>
						</div>
						<div class="form-group">
							<mat-form-field>
								<mat-label>Location</mat-label>
							<input matInput type="text"  formControlName="location" placeholder="Location">
							<mat-error *ngIf="isControlHasError('location','required')"
								class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</mat-error>
							<mat-error *ngIf="isControlHasError('location','minlength')"
								class="error text-danger">{{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}
								{{validator.location.minLength}}</mat-error>
							<mat-error *ngIf="isControlHasError('location','maxlength')"
								class="error text-danger">{{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}
								{{validator.location.maxLength}}</mat-error>
							<mat-hint class="form-text text-muted">Please enter post's/events's location.</mat-hint>
							</mat-form-field>
						</div>
						<div class="form-group">
							<div class="form-group-inline">
								<div class="form-group-inline-date">
									<mat-form-field>
										<mat-label>Date</mat-label>
										<input matInput [matDatepicker]="eventDate" formControlName="eventDate" placeholder="Date">
										<mat-datepicker-toggle matSuffix [for]="eventDate"></mat-datepicker-toggle>
										<mat-datepicker #eventDate ></mat-datepicker>
										<mat-error *ngIf="isControlHasError('Access','required')"
											class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</mat-error>
										<mat-hint class="form-text text-muted">Please enter post's/events's date time.</mat-hint>
									</mat-form-field>
								</div>
								<div class="form-group-inline-time">
									<mat-form-field>
										<mat-label>Time</mat-label>
										<input matInput [ngxTimepicker]="timePicker" formControlName="eventTime" [format]="24">
										<ngx-material-timepicker #timePicker [theme]="timePickerTheme">
										</ngx-material-timepicker>
										<mat-error *ngIf="isControlHasError('eventTime','required')"
											class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</mat-error>
									</mat-form-field>
									<!--<ngx-timepicker-field [format]="24" [clockTheme]="timePickerTheme"></ngx-timepicker-field>-->
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="">{{'FIELDS.IMAGE.TITLE' | translate}}</label>
							<div class="">
								<div class="upload-img" >
									<div class="upload-img-container">
										<img *ngIf="event.event_imageURL" class="upload-img-holder" [src]="previewUrl">
										<div *ngIf="!originalImage" class="image-cancel">
											<span class="mdi mdi-close-circle" (click)="onImageCancel()">
											</span>
										</div>
									</div>
								</div>
								<button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
								<label class="avatar__upload" data-toggle="tooltip" title=""
									data-original-title="Change avatar">
									<input type="file" hidden (change)="fileProgress($event)" name="profile_avatar"
										accept=".png, .jpg, .jpeg" #fileInput>
								</label>						
							</div>
						</div>
					</div>
				</div>

				<!--begin: Form Actions -->
				<div class="row">
					<div class="form-actions col-md-12">
						<button mat-raised-button (click)="onSubmit()" (keyup.enter)="onSubmit()" class="btn btn-primary">
							{{ 'FORM.BUTTONS.SUBMIT' | translate }}
						</button>
					</div>
				</div>
				<!--end: Form Actions -->

			</form>
		</mat-card-content>
	</mat-card>
</div>
<div class="single-delete">
	<button mat-raised-button class="delete-text"(click)="deleteItemModal()">
		Delete Item
	</button>
</div>

<!-- Remove Item Modal -->
<ng-template #remove_item let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Delete Event</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div *ngIf="event" class="modal-body">
		Are you sure you would like to delete '{{event.title}}'?
	</div>
	<div class="modal-footer">
		<button mat-raised-button class="btn btn-secondary mr-3" (click)="deleteItem();c('Close click'); ">Delete</button>
		<button mat-raised-button class="btn" (click)="c('Close click');">Close</button>
	</div>
</ng-template>