<div class="change-password">
  <h1 class="heading">{{ 'SETTINGS.CHANGE_PASSWORD' | translate }}</h1>

  <!--begin::Form-->
  <form [formGroup]="submitForm" class="form">
    <div class="row">
      <div class="col-md-6">

        <!--begin::Form Group "Password(current)"-->
        <div class="form-group">
          <mat-form-field>
            <mat-label>{{ 'FIELDS.PROFILE.CURRENT_PASSWORD.TITLE' | translate }}</mat-label>
            <input matInput type="password" name="password" formControlName="oldPassword"
              autocomplete="current-password">
            <mat-error *ngIf="isControlHasError('oldPassword','required')" class="error text-danger">
              {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
            </mat-error>
            <mat-error *ngIf="isControlHasError('oldPassword','minlength')" class="error text-danger">
              {{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}: {{validator.password.minLength}}
            </mat-error>
            <mat-error *ngIf="isControlHasError('oldPassword','maxlength')" class="error text-danger">
              {{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}: {{validator.password.maxLength}}
            </mat-error>
            <mat-hint class="form-text text-muted">
              {{ 'FIELDS.PROFILE.CURRENT_PASSWORD.DESC' | translate }}
            </mat-hint>
          </mat-form-field>
        </div>
        <!--end::Form Group "Password(current)"-->

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

        <!--begin::Form Group "Password(new)"-->
        <div class="form-group">
          <mat-form-field>
            <mat-label>{{ 'FIELDS.PROFILE.NEW_PASSWORD.TITLE' | translate }}</mat-label>
            <input matInput type="password" name="password" formControlName="password" autocomplete="new-password">
            <mat-error *ngIf="isControlHasError('password','required')" class="error text-danger">
              {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
            </mat-error>
            <mat-error *ngIf="isControlHasError('newPassword','minlength')" class="error text-danger">
              {{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}: {{validator.password.minLength}}
            </mat-error>
            <mat-error *ngIf="isControlHasError('newPassword','maxlength')" class="error text-danger">
              {{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}: {{validator.password.maxLength}}
            </mat-error>
            <mat-hint class="form-text text-muted">
              {{ 'FIELDS.PROFILE.NEW_PASSWORD.DESC' | translate }}
            </mat-hint>
          </mat-form-field>
        </div>
        <!--end::Form Group "Password(new)"-->

      </div>
      <div class="col-md-6">

        <!--begin::Form Group "Password(confirm)"-->
        <div class="form-group">
          <mat-form-field>
            <mat-label>{{ 'FIELDS.PROFILE.CONFIRM_PASSWORD.TITLE' | translate }}</mat-label>
            <input matInput type="password" name="confirmPassword" formControlName="confirmPassword"
              autocomplete="new-password">
            <mat-error *ngIf="isControlHasError('confirmPassword','required')" class="error text-danger">
              {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
            </mat-error>
            <mat-error *ngIf="isControlHasError('confirmPassword','minlength')" class="error text-danger">
              {{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}: {{validator.password.minLength}}
            </mat-error>
            <mat-error *ngIf="isControlHasError('confirmPassword','maxlength')" class="error text-danger">
              {{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}: {{validator.password.maxLength}}
            </mat-error>
            <mat-error
              *ngIf="submitForm.get('confirmPassword').errors && submitForm.get('confirmPassword').errors.ConfirmPassword"
              class="error text-danger">
              {{ 'FORM.VALIDATION.PASSWORD_CONFIRMATION' | translate }}
            </mat-error>
            <mat-hint class="form-text text-muted">
              {{ 'FIELDS.PROFILE.CONFIRM_PASSWORD.DESC' | translate }}
            </mat-hint>
          </mat-form-field>
        </div>
        <!--end::Form Group "Password(confirm)"-->

      </div>
    </div>

    <!--begin::Form Actions-->
    <div class="form-actions">
      <button mat-raised-button class="btn btn-primary" (click)="onSubmit()" (keyup.enter)="onSubmit()">
        {{ 'FORM.BUTTONS.SUBMIT' | translate }}
      </button>
    </div>
    <!--end::Form Actions-->

  </form>
  <!--end::Form-->

</div>
