<div class="edit-post">
  <mat-card>
    <mat-card-content>
      <form *ngIf="post" class="form container single-form" [formGroup]="submitForm" id="kt_form">
        <div class="row">
          <div class="heading col-md-12">Edit Post: {{post.title}}</div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.POST.TITLE.TITLE' | translate}}</mat-label>
                <input matInput type="text" formControlName="title"
                  placeholder="{{'FIELDS.POST.TITLE.PLACEHOLDER' | translate}}">
                <mat-error *ngIf="isControlHasError('title','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</mat-error>
                <mat-error *ngIf="isControlHasError('title','minlength')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}
                  {{validator.content.minLength}}</mat-error>
                <mat-error *ngIf="isControlHasError('title','maxlength')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}
                  {{validator.content.maxLength}}</mat-error>
                <mat-hint class="form-text text-muted">{{'FIELDS.POST.TITLE.DESC' | translate}}</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label>Abstract</mat-label>
                <input matInput type="text" formControlName="subtitle" placeholder="Abstract">
                <mat-hint class="form-text text-muted">Please enter post Abstract.</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.POST.CONTENT.TITLE' | translate}}</mat-label>
                <textarea matInput class="short" type="text" formControlName="content"
                  placeholder="{{'FIELDS.POST.CONTENT.PLACEHOLDER' | translate}}"> </textarea>
                <mat-error *ngIf="isControlHasError('content','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</mat-error>
                <mat-error *ngIf="isControlHasError('content','minlength')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}
                  {{validator.content.minLength}}</mat-error>
                <mat-error *ngIf="isControlHasError('content','maxlength')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}
                  {{validator.content.maxLength}}</mat-error>
                <mat-hint class="form-text text-muted">{{'FIELDS.POST.CONTENT.DESC' | translate}}</mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.POST.ACCESS.TITLE' | translate}}</mat-label>
                <mat-select name="access" formControlName="access">
                  <mat-option value="public">{{'FIELDS.POST.ACCESS_CHOICES.A' | translate}}</mat-option>
                  <mat-option value="private">{{'FIELDS.POST.ACCESS_CHOICES.B' | translate}}</mat-option>
                  <mat-option value="partners">{{'FIELDS.POST.ACCESS_CHOICES.C' | translate}}</mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('access','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</mat-error>
                <mat-hint class="form-text text-muted">{{'FIELDS.POST.ACCESS.DESC' | translate}}</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-group">
              <label class="">{{'FIELDS.IMAGE.TITLE' | translate}}</label>
              <div class="">
                <div class="upload-img">
                  <div class="upload-img-container">
                    <img *ngIf="post.post_imageURL" class="upload-img-holder" [src]="previewUrl">
                    <div *ngIf="!originalImage" class="image-cancel">
                      <span class="mdi mdi-close-circle" (click)="onImageCancel()">
                      </span>
                    </div>
                  </div>
                </div>
                <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
                <label class="avatar__upload">
                  <input type="file" hidden (change)="fileProgress($event)" name="profile_avatar"
                    accept=".png, .jpg, .jpeg" #fileInput>
                </label>
              </div>
            </div>
          </div>
        </div>

        <!--begin: Form Actions -->
        <div class="row">
          <div class="form-actions col-md-12">
            <button mat-raised-button (click)="onSubmit()" (keyup.enter)="onSubmit()" class="btn btn-primary">
              {{ 'FORM.BUTTONS.SUBMIT' | translate }}
            </button>
          </div>
        </div>
        <!--end: Form Actions -->

      </form>
    </mat-card-content>
  </mat-card>
</div>
<div class="single-delete">
  <button mat-raised-button class="delete-text" (click)="deleteItemModal()">
    Delete Item
  </button>
</div>

<!-- Remove Item Modal -->
<ng-template #remove_item let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Delete Post</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="post" class="modal-body">
    Are you sure you would like to delete '{{post.title}}'?
  </div>
  <div class="modal-footer">
    <button mat-raised-button class="btn btn-secondary mr-3" (click)="deleteItem();c('Close click'); ">Delete</button>
    <button mat-raised-button class="btn" (click)="c('Close click');">Close</button>
  </div>
</ng-template>
