<div class="wallet_s_single_wrapper synergy-single microcredit-single row">
  <div class="s_single col-md-12">
    <div appSticky position="top" class="row s_single-title-container">
      <div class="col-md-12">
        <h1 class="s_single-title">{{microcredit.title}}</h1>
      </div>
    </div>
    <div class="row s_single-img-area">
      <div class="col-md-12 s_single-img-container">
        <div class="s_single-img">
          <img src={{microcredit.campaign_imageURL}} alt={{microcredit.title}} />
        </div>
        <div *ngIf="microcredit.expiresAt>seconds||seconds>microcredit.startsAt" class="s_archive-date">
          {{'GENERAL.TO' | translate}}
          {{microcredit.expiresAt | date: 'd.M'}}</div>
        <div *ngIf="seconds>microcredit.expiresAt" class="s_archive-date">
          {{'CAMPAIGN.STATUS.EXPIRED' | translate}}</div>
        <div *ngIf="microcredit.startsAt>seconds" class="s_archive-date">
          {{'CAMPAIGN.STATUS.EXPECTED' | translate}}</div>
      </div>
    </div>
    <div class="row s_single-details">
      <div class="col-md-12">
        <div class="row s_single-info-container">
          <div class="col-md-7 s_single-info">
            <div class="info-row terms">
              <h4>{{'CAMPAIGN.TERMS' | translate}}</h4>
              <p [innerHTML]="microcredit.terms"></p>
            </div>
            <div class="info-row">
              <span class="tag">{{'CAMPAIGN.REDEEM_PERIOD' | translate}}:</span>
              {{microcredit.redeemStarts | date: 'd.M.y'}} -
              {{microcredit.redeemEnds | date: 'd.M.y'}}<br>
              <span class="desc">{{'CAMPAIGN.REDEEM_PERIOD_SUB' | translate}}</span>
            </div>
          </div>
          <div class="col-md-5 s_single-credit">
            <div class="min-amount" *ngIf="microcredit.quantitative==true">
              <span class="hypertitle">
                {{'GENERAL.FROM' | translate}}
              </span>
              <span>
                {{microcredit.minAllowed | currency:'EUR' }}
              </span>
            </div>
            <div class="price-item">
              <span class="hypertitle" *ngIf="microcredit.quantitative!=true">{{'CAMPAIGN.PRICE' | translate}}</span>
              <span class="hypertitle"
                *ngIf="microcredit.quantitative==true&&microcredit.stepAmount>0">{{'CAMPAIGN.PRICE_PER_ITEM' | translate}}</span>
              <span
                *ngIf="microcredit.quantitative==true&&microcredit.stepAmount>0">{{microcredit.stepAmount | currency:'EUR' }}</span>
              <span *ngIf="microcredit.quantitative!=true">{{microcredit.minAllowed | currency:'EUR' }}</span>
            </div>
            <div matTooltip="{{'CAMPAIGN.PLEDGE_DISABLE' | translate}}" [matTooltipPosition]="'right'"
              [matTooltipDisabled]="!outOfPeriod">
              <button [disabled]="outOfPeriod" class="plegde-button" mat-raised-button
                (click)="pledgeModal(microcredit)">{{'CAMPAIGN.PLEDGE' | translate}}
              </button>
            </div>
          </div>
        </div>
        <div class="row s_single-description">
          <div class="col-md-4 partner-info s_single-info-container ">
            <h6>{{'CAMPAIGN.PARTNER' | translate}}</h6>
            <h5>{{microcredit.partner_name}}</h5>
            <img src="{{microcredit.partner_imageURL}}" alt="{{microcredit.partner_name}}">
            <div *ngIf="microcredit.partner_address" class="info-row"><span
                class="mdi mdi-pin"></span>{{microcredit.partner_address.street}},
              {{microcredit.partner_address.city}}</div>
            <div *ngIf="microcredit.partner_contact" class="info-row"><span
                class="mdi mdi-phone"></span>{{microcredit.partner_contact.phone}}</div>
            <div class="info-row"><span class="mdi mdi-email"></span>{{microcredit.partner_email}}</div>
          </div>
          <div class="col-md-8">
            <p [innerHTML]="microcredit.description"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>