@import "../../../../../variables.scss";

.s_single {
  &-info {
    .tag {
      color: #000;
    }
    .desc {
      font-size: 12px;
      font-style: italic;
    }
  }
  .terms {
    margin-left: 15px;
    border-left: 2px solid $tertiary;
    padding-left: 15px;
    h4 {
      font-size: 1.3rem;
      color: #000;
      margin-bottom: 12px;
    }
  }
  &-credit {
    text-align: right;
    .hypertitle {
      font-size: 10px;
      color: #000;
      text-transform: uppercase;
      margin-top: 13px;
      display: block;
      line-height: 3px;
    }
    .min-amount {
      .amount {
        font-size: 1.3rem;
        color: $amount-color;
        margin-bottom: 20px;
      }
    }
    .price-item {
      color: $primary-light;
      font-size: 1.6rem;
    }
    .plegde-button {
      margin-top: 20px;
      background-color: $primary;
      font-size: 18px;
      color: #fff;
      padding: 6px 20px 6px 20px;
    }
  }
  &-description {
    .partner-info {
      padding-right: 15px;
      padding-left: 15px;
      padding-top: 0px;
      border-bottom: 0px;
      h6 {
        text-transform: uppercase;
        color: $primary;
        font-size: 0.8rem;
      }
      img {
        max-width: 100%;
      }
    }
  }
}
