<div class="m-events">
  <div class="heading-container">
    <h1 class="heading"> {{'EVENT.PLURAL' | translate}} </h1>
  </div>

  <div class="row">

    <!--begin::Button (Create Event)-->
    <div class="item item-wrapper col-md-4">
      <mat-card class="item-card new-item-card" routerLink="create">
        <mat-card-content>
          <div class="new-item">{{'EVENT.CREATE' | translate}}</div>
        </mat-card-content>
      </mat-card>
    </div>
    <!--end::Button (Create Event)-->

    <!--begin::Events List-->
    <ng-container *ngIf="events">
      <div class="item item-wrapper col-md-4" *ngFor="let item of events">
        <sng-post_event-card [post_event]="item" routerLink="edit/{{item.event_id}}"></sng-post_event-card>
      </div>
    </ng-container>
    <!--end::Events List-->

  </div>
</div>
