.coop-card{
    .s_archive{
        &-img{
            background-color: #e9e9e9;
            img{
                max-width: 60%;
                margin: auto;
                display: block;
                max-height: 75%;
                width:auto !important;
                height: auto  !important;
            }
        }
        &-category{
            bottom: -23px;
        }
        &-heading{
            margin-top: 15px;
        }
    }
}



