@import "../../../../variables.scss";

.footer-wrapper {
	@extend .dark-shadow;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	width: 100%;
	padding: 10px;
	z-index: 1000;
	.footer-content {
		max-width: 350px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin: 0 auto;
		a {
			text-align: center;
			display: block;
			font-weight: 600;
			color: #000;
			&:hover{
				text-decoration: none;
			}
			.mdi {
				font-size: 40px;
				line-height: 1;
			}
			
		}
		.footer-menu-item {
			opacity: 0.5;
			margin: 2px 0;
			transition: opacity 0.3s;
			&-active {
				opacity: 1;
				a {
					color: $primary;
				}
			}
			&:hover {
				opacity: 1;
				a{
					color:$primary;
				}
			}
		}
	}
}