<div class="footer-wrapper">
	<div class="footer-content">
		<div class="footer-icon">
			<a href="">
				<img src="../../../assets/media/images/wallet.png" alt="wallet" />
				<div>
					Πορτοφόλι
				</div>
			</a>
		</div>
		<div class="footer-icon">
			<a href="">
				<img src="../../../assets/media/images/compass.png" alt="compass" />
					<div>
				Ανακάλυψε
				</div>
			</a>
		</div>
		<div class="footer-icon">
			<a href="">
				<img src="../../../assets/media/images/handshake.png" alt="handshake" />
				<div>
					Υποστήριξε
				</div>
			</a>
		</div>
	</div>
</div>
