<div class="transaction">
  <h1 class="heading">{{ 'HISTORY.TRANSACTIONS' | translate }} (Microcredit)</h1>

  <!--begin::Case !isPartner-->
  <div *ngIf="access !== 'partner'">

    <!--begin::Content (Transactions Table)-->
    <div class="table container">
      <ng-container
        *ngFor="let item of transactions | paginate: { id: 'tr_paginator', itemsPerPage: 10, currentPage: p }">
        <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{item: item}"></ng-container>
      </ng-container>
    </div>
    <!--end::Content (Transactions Table)-->

    <!--begin::Pagination (Transactions Table)-->
    <div class="pagination-wrapper">
      <pagination-controls autoHide="true" id='tr_paginator' (pageChange)="p=$event"></pagination-controls>
    </div>
    <!--end::Pagination (Transactions Table)-->

    <!--begin::Transaction Template-->
    <ng-template #itemTemplate let-item="item">
      <div class="transaction-receipt row">
        <div class="transaction-desc col"><span class="title">{{ 'HISTORY.RECEIPT' | translate }}:</span> {{item.tx}}
        </div>
      </div>
      <div class="transaction-item transaction-subtitle row">
        <div class="transaction-info col">
          <span class="transaction-desc">{{ 'HISTORY.CAMPAIGN' | translate }}: {{item.campaign_title}} <br> </span>
        </div>
      </div>
      <div class="transaction-item transaction-subtitle row">
        <div class="transaction-info col">
          <span class="transaction-title"><span class="title">{{ 'HISTORY.SUPPORT' | translate }}:</span>
            {{item.payment_id}}</span>
        </div>
      </div>
      <div class="transaction-details row">
        <div class="transaction-info col">
          <span class="transaction-title">{{item.createdAt | date:'medium' }}</span>
        </div>
        <div class="transaction-info col">
          <span class="transaction-title"></span>
        </div>
        <div *ngIf="(item.type === 'PromiseFund') || ((item.type === 'SpendFund'))" class="transaction-info col">
          <span class="transaction-number" [ngClass]="(item.type==='PromiseFund') ? 'font-success' : 'font-danger'">
            <!-- {{ (item.type==='SpendFund') ? '-' : '+' }} -->
            {{item.tokens}} {{ 'HISTORY.TOKENS' | translate }}
          </span>
        </div>
        <div *ngIf="(item.type === 'RevertFund') || ((item.type === 'ReceiveFund'))" class="transaction-info col">
          <span class="transaction-number" [ngClass]="(item.type==='ReceiveFund') ? 'font-success' : 'font-danger'">
            {{ (item.type==='ReceiveFund') ? ('HISTORY.PAID' | translate) :  ('HISTORY.UNPAID' | translate) }}
          </span>
        </div>
      </div>
    </ng-template>
    <!--end::Transaction Template-->

  </div>
  <!--end::Case !isPartner-->

  <!--begin::Case isPartner-->
  <div *ngIf="access === 'partner'">

    <!--begin::Content (Transactions Table)-->
    <div class="table container">
      <ng-container
        *ngFor="let item of transactions | paginate: { id: 'mr_paginator', itemsPerPage: 10, currentPage: p }">
        <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{item: item}"></ng-container>
      </ng-container>
    </div>
    <!--end::Content (Transactions Table)-->

    <!--begin::Pagination (Transactions Table)-->
    <div class="pagination-wrapper">
      <pagination-controls autoHide="true" id='mr_paginator' (pageChange)="p=$event"></pagination-controls>
    </div>
    <!--end::Pagination (Transactions Table)-->

    <!--begin::Transaction Template-->
    <ng-template #itemTemplate let-item="item">
      <div class="transaction-item transaction-receipt row">
        <div class="transaction-info col">
          <span class="transaction-desc">{{ 'HISTORY.RECEIPT' | translate }}: {{item.tx}} <br> </span>
        </div>
      </div>
      <div class="transaction-item transaction-subtitle row">
        <div class="transaction-info col">
          <span class="transaction-desc">{{ 'HISTORY.CAMPAIGN' | translate }}: {{item.campaign_title}} <br> </span>
        </div>
      </div>
      <div class="transaction-item transaction-subtitle row">
        <div class="transaction-info col">
          <span class="transaction-title"><span class="title">{{ 'HISTORY.SUPPORT' | translate }}:</span>
            {{item.payment_id}}</span>
        </div>
      </div>
      <div class="transaction-details row">
        <div class="transaction-info col">
          <span class="transaction-title">{{item.createdAt | date:'medium' }}</span>
        </div>
        <div class="transaction-info col">
          <span class="transaction-title"></span>
        </div>
        <div *ngIf="(item.type === 'PromiseFund') || ((item.type === 'SpendFund'))" class="transaction-info col">
          <span class="transaction-number" [ngClass]="(item.type==='PromiseFund') ? 'font-success' : 'font-danger'">
            <div *ngIf="item.type==='PromiseFund'"> {{item.tokens | currency: 'EUR'}} </div>
            <div *ngIf="item.type!=='PromiseFund'"> ~ {{item.tokens}} {{'HISTORY.TOKENS' | translate}} </div>
          </span>
        </div>
        <div *ngIf="(item.type === 'RevertFund') || ((item.type === 'ReceiveFund'))" class="transaction-info col">
          <span class="transaction-number" [ngClass]="(item.type==='ReceiveFund') ? 'font-success' : 'font-danger'">
            {{ (item.type==='ReceiveFund') ? ('HISTORY.PAID' | translate) :  ('HISTORY.UNPAID' | translate) }}
          </span>
        </div>
      </div>
    </ng-template>
    <!--end::Transaction Template-->

  </div>
  <!--end::Case isPartner-->

</div>
