<div class="a-users">
  <div class="heading-container">
    <h1 class="heading"> {{'OFFER.PLURAL' | translate}} </h1>
  </div>
  <div class="row">
    <div class="item item-wrapper col-md-4" [routerLink]="['customer']">
      <mat-card class="item-card new-item-card">
        <mat-card-content>
          <div class="new-item">{{'USER.CREATE_CUSTOMER' | translate}}</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="item item-wrapper col-md-4" [routerLink]="['merchant']">
      <mat-card class="item-card new-item-card">
        <mat-card-content>
          <div class="new-item">{{'USER.CREATE_MERCHANT' | translate}}</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
