<div class="microcredit">
  <h1 class="heading"> {{'CAMPAIGN.PLURAL' | translate}} </h1>
  <div class="row" *ngIf="campaigns">
    <div class="item item-wrapper col-md-4" routerLink="create">
      <mat-card class="item-card new-item-card">
        <mat-card-content>
          <div class="new-item">{{'CAMPAIGN.CREATE' | translate}}</div>
        </mat-card-content>
      </mat-card>
    </div>
    <ng-container *ngIf="campaigns">
      <div class="item item-wrapper col-md-4" *ngFor="let item of campaigns"
        [routerLink]="item.status=='draft' ? ['edit/'+item.campaign_id] : ['manage/'+item.campaign_id]">
        <app-card-microcredit [microcredit]="item" type="all"></app-card-microcredit>

        <!-- <mat-card class="item-card">
          <mat-card-content>
            <div class="col-sm-12 item-img-container">
              <div class="item-img">
                <img *ngIf="item.campaign_imageURL" src={{item.campaign_imageURL}} alt={{item.title}} />
                <div *ngIf="item.expiresAt>seconds||seconds>item.startsAt" class="s_archive-date">
                  {{'GENERAL.TO' | translate}}
                  {{item.expiresAt | date: 'd.M'}}</div>
                <div *ngIf="seconds>item.expiresAt" class="s_archive-date">
                  {{'CAMPAIGN.STATUS.EXPIRED' | translate}}</div>
                <div *ngIf="item.startsAt>seconds" class="s_archive-date">
                  {{'CAMPAIGN.STATUS.EXPECTED' | translate}}</div>
              </div>
            </div>
            <div class="col-sm-12 item-details">
              <div class="item-heading">
                <div class="item-title">{{item.title}}</div>
              </div>
              <div class="item-description partner">
                {{item.subtitle}}
              </div>
            </div>
          </mat-card-content>
        </mat-card> -->
      </div>
    </ng-container>
  </div>
</div>