@import "../../variables.scss";

// h5 {
//   margin-bottom: 30px;
// }

// .mat-mini-fab {
//   width: 30px;
//   height: 30px;
//   line-height: 27px;
//   font-size: 22px;
//   margin-left: 8px;
//   margin-top: 5px;

//   &.mat-accent {
//     background-color: $tertiary;
//   }
// }
