<div class="edit-post">
  <mat-card>
    <mat-card-content>

      <!--begin::Form-->
      <form class="form container single-form" [formGroup]="submitForm">

        <div class="row">
          <div class="heading col-md-12">{{'POST.EDIT' | translate}}: {{title}}</div>
        </div>

        <div class="row">
          <div class="col-md-6">

            <!--begin::Form Group "Title"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.POST.TITLE.TITLE' | translate}}</mat-label>
                <input matInput type="text" formControlName="title"
                  placeholder="{{'FIELDS.POST.TITLE.PLACEHOLDER' | translate}}">
                <mat-error *ngIf="isControlHasError('title','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-error *ngIf="isControlHasError('title','minlength')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}: {{validator.content.minLength}}
                </mat-error>
                <mat-error *ngIf="isControlHasError('title','maxlength')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}: {{validator.content.maxLength}}
                </mat-error>
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.POST.TITLE.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Title"-->

            <!--begin::Form Group "Access"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.POST.ACCESS.TITLE' | translate}}</mat-label>
                <mat-select name="access" formControlName="access">
                  <mat-option *ngFor="let item of accessList" value="{{item.value}}">{{item.title | translate}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('access','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.POST.ACCESS.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Access"-->

          </div>
          <div class="col-md-6">

            <!--begin::Form Group "Subtitle"-->
            <div class="form-group">
              <mat-form-field>
                <mat-label>{{'FIELDS.POST.SUBTITLE.TITLE' | translate}}</mat-label>
                <input matInput type="text" formControlName="subtitle"
                  placeholder="{{'FIELDS.POST.SUBTITLE.PLACEHOLDER' | translate}}">
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.POST.SUBTITLE.DESC' | translate}}
                </mat-hint>
              </mat-form-field>
            </div>
            <!--end::Form Group "Subtitle"-->

            <!--begin::Form Group "Image"-->
            <app-image-upload *ngIf="title" [parentForm]="submitForm" previousURL="{{initialImage}}">
            </app-image-upload>
            <!-- <div class="form-group">
              <label class="">{{'FIELDS.POST.IMAGE.TITLE' | translate}}</label>
              <div class="">
                <div class="upload-img">
                  <div class="upload-img-container">
                    <img *ngIf="initialImage" class="upload-img-holder" [src]="previewUrl">
                    <div *ngIf="!originalImage" class="image-cancel">
                      <span class="mdi mdi-close-circle" (click)="onImageCancel()">
                      </span>
                    </div>
                  </div>
                </div>
                <button type="button" mat-raised-button
                  (click)="fileInput.click()">{{'FIELDS.POST.IMAGE.ACTION' | translate}}</button>
                <label class="avatar__upload">
                  <input type="file" hidden (change)="fileProgress($event)" name="profile_avatar"
                    accept=".png, .jpg, .jpeg" #fileInput>
                </label>
              </div>
            </div> -->
            <!--end::Form Group "Image"-->

          </div>

          <div class="col-md-12">
            <!--begin::Form Group "Content"-->
            <div class="form-group">
              <app-content-images (finalize)="onFinalStep($event)" [formGroup]="submitForm"
                parentService='postContentImage'>
              </app-content-images>
              <!-- <mat-form-field>
                <mat-label>{{'FIELDS.POST.CONTENT.TITLE' | translate}}</mat-label>
                <textarea matInput class=" short" type="text" formControlName="content"
                placeholder="{{'FIELDS.POST.CONTENT.PLACEHOLDER' | translate}}">
                </textarea>
                <mat-error *ngIf="isControlHasError('content','required')" class="error text-danger">
                  {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-error *ngIf="isControlHasError('content','minlength')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}: {{validator.content.minLength}}
                </mat-error>
                <mat-error *ngIf="isControlHasError('content','maxlength')" class="error text-danger">
                  {{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}: {{validator.content.maxLength}}
                </mat-error>
                <mat-hint class="form-text text-muted">
                  {{'FIELDS.POST.CONTENT.DESC' | translate}}
                </mat-hint>
                </mat-form-field> -->
            </div>
            <!--end::Form Group "Content"-->

          </div>
        </div>


        <!--begin::Form Actions-->
        <div class="row">
          <div class="form-actions col-md-12">
            <button mat-raised-button (click)="onSubmit()" (keyup.enter)="onSubmit()" class="btn btn-primary">
              {{ 'FORM.BUTTONS.SUBMIT' | translate }}
            </button>
          </div>
        </div>
        <!--end::Form Actions-->

      </form>
      <!--end::Form-->

    </mat-card-content>
  </mat-card>
</div>

<!--begin::Button (Delete Post)-->
<div class="single-delete">
  <button mat-raised-button class="delete-text" (click)="deleteItemModal()">
    {{ 'POST.DELETE' | translate }}
  </button>
</div>
<!--end::Button (Delete Post)-->

<!--begin::Confirmation Modal (Remove Item)-->
<ng-template #remove_item let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'POST.DELETE' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ 'POST.DELETE_CONFIRM' | translate }} '{{title}}'?
  </div>
  <div class="modal-footer">
    <button mat-raised-button class="btn btn-secondary mr-3"
      (click)="deleteItem();c('Close click'); ">{{ 'POST.DELETE' | translate }}</button>
    <button mat-raised-button class="btn" (click)="c('Close click');">{{ 'POST.CANCEL' | translate }}</button>
  </div>
</ng-template>
<!--end::Confirmation Modal (Remove Item)-->
