@import "../../../../variables.scss";

// .form {
//   margin-bottom: 1.5rem;

//   .form-group {
//     padding-left: 30px;
//     padding-right: 30px;
//     margin-bottom: 1.5rem;
//   }

//   mat-form-field {
//     width: 100%;
//   }
// }
