<div class="step-amount">
  <h5>{{'MEMBER.WIZARD.SUB_AMOUNT.PLEDGE' | translate}}</h5>

  <!--begin::Form(Wizard Step 1)-->
  <form [formGroup]="stepperForm">

    <!--begin::Form Group "Support Amount"-->
    <div class="form-group">
      <label>{{'MEMBER.WIZARD.SUB_AMOUNT.AMOUNT' | translate}}</label>
      <div class="input-group">
        <span class="input-group-text">€</span>
        <input type="number" [readonly]="!campaign.quantitative||campaign.stepAmount>0" class="form-control"
          name="amount" formControlName="amount" placeholder="Amount" value="0">
        <div *ngIf="campaign.quantitative&&campaign.stepAmount>0" class="amount-controller">
          <button [disabled]="!showSubStep" mat-mini-fab class="remove" (click)="onChangeAmount(false)">
            -
          </button>
          <button [disabled]="!showAddStep" mat-mini-fab class="add" (click)="onChangeAmount(true)">
            +
          </button>
        </div>
      </div>
      <span *ngIf="isControlHasError('amount','required')" class="error text-danger">
        {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
      </span>
      <span *ngIf="isControlHasError('amount','min')" class="error text-danger">
        {{ 'FORM.VALIDATION.MIN_VALUE_FIELD' | translate }}: {{ campaign.minAllowed | currency: 'EUR'}}
      </span>
      <span *ngIf="isControlHasError('amount','max')" class="error text-danger">
        {{ 'FORM.VALIDATION.MAX_VALUE_FIELD' | translate }}: {{ campaign.maxAllowed | currency: 'EUR'}}
      </span>
    </div>
    <!--end::Form Group "Support Amount"-->

    <!--begin::Form Group "Payment Method"-->
    <div class="form-group">
      <label>{{'MEMBER.WIZARD.SUB_AMOUNT.PAYMENT' | translate}}</label>
      <select name="method" formControlName="method" class="browser-default custom-select" class="form-control"
        (change)="onChangePayment($event.target.value)">
        <option *ngFor="let payment of paymentsList" value="{{payment.bic}}">
          {{payment.title | translate}}
        </option>
      </select>
      <span *ngIf="isControlHasError('method','required')" class="error text-danger">
        {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
      </span>
    </div>
    <!--end::Form Group "Payment Method"-->

  </form>
  <!--end::Form(Wizard Step 1)-->

  <!--begin::Wizard Buttons-->
  <button *ngIf="!showPaypalButton" mat-raised-button (click)="onNextStep()">
    {{'MEMBER.WIZARD.NEXT_STEP' | translate}}
  </button>
  <ngx-paypal *ngIf="showPaypalButton" [config]="payPalConfig"></ngx-paypal>
  <!--end::Wizard Buttons-->
</div>
