//Basic Colors
$main-color: #435DAA;
$main-light:#6986db;
$second-color: #E2519D;
$third-color: #FEC92D;

/* Basic Colors SYNERGY 
$main-color: #2b3a59;
$second-color: #ef3f4a;
$third-color: #faa635;
*/

//Font Sizes

//Font colors
$main-font-color:#9d9d9d;