/*
/* Variables
*/

//Basic Colors
$primary: #415daa;
$primary-light: #6986db;
$secondary: #e4509e;
$tertiary: #fdca27;
$tertiary-dark: #a07b04;
$grey: #eee;

/* Basic Colors SYNERGY 
$primary: #2b3a59;
$secondary: #ef3f4a;
$tertiary: #faa635;
*/
//Font
$main-font:'Fira Sans';

//Font Colors
$main-font-color: #707070;
$amount-color: #575757;
$grey-font:#b6c1c9;

//Font Sizes
$main-font-size:0.9em;

//Shadow
.light-shadow {
  -webkit-box-shadow: 17px 22px 68px -2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 17px 22px 68px -2px rgba(0, 0, 0, 0.05);
  box-shadow: 17px 22px 68px -2px rgba(0, 0, 0, 0.05);
}
.dark-shadow {
  -webkit-box-shadow: 17px 22px 45px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 17px 22px 45px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 17px 22px 45px 8px rgba(0, 0, 0, 0.2);
}

