<div class="col-xl-12">
    <div class="col-xl-12">
        <!-- <h1 mat-dialog-title>Favorite Animal</h1>
            <h2 mat-dialog-title>Install Angular</h2> -->
        <!-- <mat-dialog-content> -->
        <h2><strong>Terms and Conditions</strong></h2>
        <p>Welcome to Synergy Web App!</p>
        <p>These terms and conditions outline the rules and regulations for the use of Synergy's Website,
            located at app.synergatika.gr.</p>
        <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use
            Synergy Web App if you do not agree to take all of the terms and conditions stated on this page.
        </p>
        <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer
            Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this
            website and compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We",
            "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client
            and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary
            to undertake the process of our assistance to the Client in the most appropriate manner for the
            express purpose of meeting the Client’s needs in respect of provision of the Company’s stated
            services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above
            terminology or other words in the singular, plural, capitalization and/or he/she or they, are
            taken as interchangeable and therefore as referring to same.</p>
        <h3><strong>Cookies</strong></h3>
        <p>We employ the use of cookies. By accessing Synergy Web App, you agreed to use cookies in
            agreement with the Synergy's Privacy Policy.</p>
        <p>Most interactive websites use cookies to let us retrieve the user’s details for each visit.
            Cookies are used by our website to enable the functionality of certain areas to make it easier
            for people visiting our website. Some of our affiliate/advertising partners may also use
            cookies.</p>
        <!-- </mat-dialog-content> -->
        <!-- <mat-dialog-actions>
                <button mat-button mat-dialog-close>Cancel</button>
                <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Agree</button>
            </mat-dialog-actions> -->
    </div>
</div>