<div class="kt-grid__item kt-grid__item--fluid kt-wizard-v3__wrapper">
    <form class="kt-form" [formGroup]="submitForm" id="kt_form">
        <div class="kt-heading kt-heading--md">Create a new Post / Event</div>
        <div class="kt-form__section kt-form__section--first">
            <div class="kt-wizard-v3__form">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" formControlName="title" placeholder="Title" value="title">
                    <span *ngIf="isControlHasError('title','required')"
                        class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</span>
                    <span *ngIf="isControlHasError('title','minlength')"
                        class="error text-danger">{{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}
                        {{validator.title.minLength}}</span>
                    <span *ngIf="isControlHasError('title','maxlength')"
                        class="error text-danger">{{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}
                        {{validator.title.maxLength}}</span>
                    <span class="form-text text-muted">Please enter post's/event's Title.</span>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea type="text" class="form-control" formControlName="description" placeholder="Description"
                        value="description"> </textarea>
                    <span *ngIf="isControlHasError('description','required')"
                        class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</span>
                    <span *ngIf="isControlHasError('description','minlength')"
                        class="error text-danger">{{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}
                        {{validator.description.minLength}}</span>
                    <span *ngIf="isControlHasError('description','maxlength')"
                        class="error text-danger">{{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}
                        {{validator.description.maxLength}}</span>
                    <span class="form-text text-muted">Please enter post's/event's Description.</span>
                </div>
                <div class="form-group">
                    <label>Access</label>
                    <select name="access" class="form-control" formControlName="access">
                        <option value="public">Public to All</option>
                        <option value="private">Only for registered Members</option>
                        <option value="partners">Only for Coops</option>
                    </select>
                    <span *ngIf="isControlHasError('Access','required')"
                        class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</span>
                    <span class="form-text text-muted">Please enter post's/events's access.</span>
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <input type="text" class="form-control" formControlName="location" placeholder="Location"
                        value="location">
                    <span *ngIf="isControlHasError('location','required')"
                        class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</span>
                    <span *ngIf="isControlHasError('location','minlength')"
                        class="error text-danger">{{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}
                        {{validator.location.minLength}}</span>
                    <span *ngIf="isControlHasError('location','maxlength')"
                        class="error text-danger">{{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}
                        {{validator.location.maxLength}}</span>
                    <span class="form-text text-muted">Please enter post's/events's location.</span>
                </div>
                <div class="form-group">
                    <label>Date and Time</label>
                    <input type="text" class="form-control" formControlName="dateTime" placeholder="DateTime"
                        value="dateTime">
                    <span *ngIf="isControlHasError('Access','required')"
                        class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</span>
                    <span class="form-text text-muted">Please enter post's/events's date time.</span>
                </div>
                <div class="form-group">
                    <label class="col-xl-3 col-lg-3 col-form-label">Avatar</label>
                    <div class="col-lg-9 col-xl-6">
                        <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar">
                            <img class="kt-avatar__holder" [src]="previewUrl">
                            <label class="kt-avatar__upload" data-toggle="kt-tooltip" title=""
                                data-original-title="Change avatar">
                                <i class="fa fa-pen"></i>
                                <input type="file" (change)="fileProgress($event)" name="profile_avatar"
                                    accept=".png, .jpg, .jpeg">
                            </label>
                            <span *ngIf="!originalImage" class="kt-avatar__cancel" (click)="onImageCancel()"
                                data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                                <i class="fa fa-times"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--begin: Form Actions -->
        <div class="kt-form__actions">
            <div (click)="onSubmit()" (keyup.enter)="onSubmit()"
                class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                data-ktwizard-type="action-submit">
                {{ 'FORM.BUTTONS.SUBMIT' | translate }}
            </div>
        </div>
        <!--end: Form Actions -->

    </form>
</div>