<div class="new-event">
	<mat-card>
		<mat-card-content>
			<form class="form" [formGroup]="submitForm" id="kt_form">
				<div class="heading heading--md">Create a new Post / Event</div>
				<div class="form__section form__section--first">
					<div class="wizard-v3__form">
						<div class="form-group">
							<mat-form-field>
								<mat-label>Title</mat-label>
							<input matInput type="text"  formControlName="title" placeholder="Title">
							<mat-error *ngIf="isControlHasError('title','required')"
								class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</mat-error>
							<mat-error *ngIf="isControlHasError('title','minlength')"
								class="error text-danger">{{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}
								{{validator.title.minLength}}</mat-error>
							<mat-error *ngIf="isControlHasError('title','maxlength')"
								class="error text-danger">{{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}
								{{validator.title.maxLength}}</mat-error>
							<mat-hint class="form-text text-muted">Please enter post's/event's Title.</mat-hint>
							</mat-form-field>
						</div>
						<div class="form-group">
							<mat-form-field>
								<mat-label>Description</mat-label>
							<textarea matInput type="text"  formControlName="description" placeholder="Description" > </textarea>
							<mat-error *ngIf="isControlHasError('description','required')"
								class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</mat-error>
							<mat-error *ngIf="isControlHasError('description','minlength')"
								class="error text-danger">{{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}
								{{validator.description.minLength}}</mat-error>
							<mat-error *ngIf="isControlHasError('description','maxlength')"
								class="error text-danger">{{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}
								{{validator.description.maxLength}}</mat-error>
							<mat-hint class="form-text text-muted">Please enter post's/event's Description.</mat-hint>
							</mat-form-field>
						</div>
						<div class="form-group">
							<mat-form-field>
								<mat-label>Access</mat-label>
							<mat-select name="access"  formControlName="access">
								<mat-option value="public">Public to All</mat-option>
								<mat-option value="private">Only for registered Members</mat-option>
								<mat-option value="partners">Only for Coops</mat-option>
							</mat-select>
							<mat-error *ngIf="isControlHasError('Access','required')"
								class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</mat-error>
							<mat-hint class="form-text text-muted">Please enter post's/events's access.</mat-hint>
							</mat-form-field>
						</div>
						<div class="form-group">
							<mat-form-field>
								<mat-label>Location</mat-label>
							<input matInput type="text"  formControlName="location" placeholder="Location">
							<mat-error *ngIf="isControlHasError('location','required')"
								class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</mat-error>
							<mat-error *ngIf="isControlHasError('location','minlength')"
								class="error text-danger">{{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}
								{{validator.location.minLength}}</mat-error>
							<mat-error *ngIf="isControlHasError('location','maxlength')"
								class="error text-danger">{{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}
								{{validator.location.maxLength}}</mat-error>
							<mat-hint class="form-text text-muted">Please enter post's/events's location.</mat-hint>
							</mat-form-field>
						</div>
						<div class="form-group">
							<mat-form-field>
								<mat-label>Date and Time</mat-label>
							<input matInput type="text"  formControlName="dateTime" placeholder="DateTime">
							<mat-error *ngIf="isControlHasError('Access','required')"
								class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</mat-error>
							<mat-hint class="form-text text-muted">Please enter post's/events's date time.</mat-hint>
							</mat-form-field>
						</div>
						<div class="form-group">
							<label class="col-xl-3 col-lg-3 col-form-label">Avatar</label>
							<div class="col-lg-9 col-xl-6">
								<div class="upload-img" id="kt_user_avatar">
									<img class="upload-img-holder" [src]="previewUrl">
									<label class="avatar__upload" data-toggle="tooltip" title=""
										data-original-title="Change avatar">
										<i class="fa fa-pen"></i>
										<input type="file" (change)="fileProgress($event)" name="profile_avatar"
											accept=".png, .jpg, .jpeg">
									</label>
									<span *ngIf="!originalImage" class="avatar__cancel" (click)="onImageCancel()"
										data-toggle="tooltip" title="" data-original-title="Cancel avatar">
										<i class="fa fa-times"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--begin: Form Actions -->
				<div class="form__actions">
					<div (click)="onSubmit()" (keyup.enter)="onSubmit()"
						class="btn btn-success btn-md btn-tall btn-wide font-bold font-transform-u"
						data-ktwizard-type="action-submit">
						{{ 'FORM.BUTTONS.SUBMIT' | translate }}
					</div>
				</div>
				<!--end: Form Actions -->

			</form>
		</mat-card-content>
	</mat-card>
</div>