@import "../../../../../variables.scss";

.hypertitle {
	font-size: 10px;
	color: #000;
	text-transform: uppercase;
	margin-top: 13px;
	display: block;
	line-height: 3px;
}
.s_archive-points {
	font-size: 1.1rem;
}
.init-amount {
	.amount {
		font-size: 1.3rem;
		color: $amount-color;
		margin-bottom: 20px;
	}
}
.current-amount {
	color: $primary-light;
	font-size: 1.6rem;
}

.tag {
	color: #000;
}
.desc {
	font-size: 12px;
	font-style: italic;
}
.s_archive-subtitle {
	margin-top: 25px;
}

.modal-content {
	background: none;
}
