<div class="kt-grid__item kt-grid__item--fluid kt-wizard-v3__wrapper">
    <form class="kt-form" [formGroup]="submitForm" id="kt_form">
        <div class="kt-heading kt-heading--md">{{'FIELDS.OFFER.DESC' | translate}}</div>
        <div class="kt-form__section kt-form__section--first">
            <div class="kt-wizard-v3__form">
                <div class="form-group">
                    <label>{{'FIELDS.OFFER.TITLE.TITLE' | translate}}</label>
                    <input type="text" class="form-control" name="Title" formControlName="title"
                        placeholder="{{'FIELDS.OFFER.TITLE.PLACEHOLDER' | translate}}" value="title">
                    <span *ngIf="isControlHasError('title','required')"
                        class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</span>
                    <span *ngIf="isControlHasError('title','minlength')"
                        class="error text-danger">{{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}
                        {{validator.title.minLength}}</span>
                    <span *ngIf="isControlHasError('title','maxlength')"
                        class="error text-danger">{{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}
                        {{validator.title.maxLength}}</span>
                    <span class="form-text text-muted">{{'FIELDS.OFFER.TITLE.DESC' | translate}}</span>
                </div>
                <div class="form-group">
                    <label>{{'FIELDS.OFFER.DESCRIPTION.TITLE' | translate}}</label>
                    <input type="text" class="form-control" name="Description" formControlName="description"
                        placeholder="{{'FIELDS.OFFER.DESCRIPTION.PLACEHOLDER' | translate}}" value="description">
                    <span *ngIf="isControlHasError('description','required')"
                        class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</span>
                    <span *ngIf="isControlHasError('description','minlength')"
                        class="error text-danger">{{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}
                        {{validator.description.minLength}}</span>
                    <span *ngIf="isControlHasError('description','maxlength')"
                        class="error text-danger">{{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}
                        {{validator.description.maxLength}}</span>
                    <span class="form-text text-muted">{{'FIELDS.OFFER.DESCRIPTION.DESC' | translate}}</span>
                </div>
                <div class="form-group">
                    <label>{{'FIELDS.OFFER.EXPIRATION.TITLE' | translate}}</label>
                    <select name="expiresAt" formControlName="expiration" class="form-control">
                        <option value="1">{{'FIELDS.OFFER.EXPIRATION_CHOICES.A' | translate}}</option>
                        <option value="2">{{'FIELDS.OFFER.EXPIRATION_CHOICES.B' | translate}}</option>
                        <option value="3">{{'FIELDS.OFFER.EXPIRATION_CHOICES.C' | translate}}</option>
                        <option value="4">{{'FIELDS.OFFER.EXPIRATION_CHOICES.D' | translate}}</option>
                    </select>
                    <span *ngIf="isControlHasError('expiration','required')"
                        class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</span>
                    <span class="form-text text-muted">{{'FIELDS.OFFER.EXPIRATION.DESC' | translate}}</span>
                </div>
                <div class="form-group">
                    <label>{{'FIELDS.OFFER.COST.TITLE' | translate}}</label>
                    <input type="number" class="form-control" name="points" formControlName="cost"
                        placeholder="{{'FIELDS.OFFER.COST.PLACEHOLDER' | translate}}" value="points">
                    <span *ngIf="isControlHasError('cost','required')"
                        class="error text-danger">{{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}</span>
                    <span *ngIf="isControlHasError('cost','min')"
                        class="error text-danger">{{ 'FORM.VALIDATION.MIN_VALUE_FIELD' | translate }}
                        {{validator.cost.minValue}}</span>
                    <span *ngIf="isControlHasError('cost','max')"
                        class="error text-danger">{{ 'FORM.VALIDATION.MAX_VALUE_FIELD' | translate }}
                        {{validator.cost.maxValue}}</span>
                    <span class="form-text text-muted">{{'FIELDS.OFFER.COST.DESC' | translate}}</span>
                </div>
                <div class="form-group">
                    <label class="col-xl-3 col-lg-3 col-form-label">{{'FIELDS.OFFER.IMAGE.TITLE' | translate}}</label>
                    <div class="col-lg-9 col-xl-6">
                        <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar">
                            <img class="kt-avatar__holder" [src]="previewUrl">
                            <label class="kt-avatar__upload" data-toggle="kt-tooltip" title=""
                                data-original-title="Change avatar">
                                <i class="fa fa-pen"></i>
                                <input type="file" (change)="fileProgress($event)" name="profile_avatar"
                                    accept=".png, .jpg, .jpeg">
                            </label>
                            <span *ngIf="!originalImage" class="kt-avatar__cancel" (click)="onImageCancel()"
                                data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                                <i class="fa fa-times"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--begin: Form Actions -->
        <div class="kt-form__actions">
            <div (click)="onSubmit()" (keyup.enter)="onSubmit()"
                class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                data-ktwizard-type="action-submit">
                {{ 'FORM.BUTTONS.SUBMIT' | translate }}
            </div>
        </div>
        <!--end: Form Actions -->

    </form>
</div>