<div class="m-posts">
  <div class="heading-container">
    <h1 class="heading"> {{'POST.PLURAL' | translate}} </h1>
  </div>
  <div class="row">
    <div class="item item-wrapper col-md-4" routerLink="create">
      <mat-card class="item-card new-item-card">
        <mat-card-content>
          <div class="new-item">{{'POST.CREATE' | translate}}</div>
        </mat-card-content>
      </mat-card>
    </div>
    <ng-container *ngIf="posts">
      <div class="item item-wrapper col-md-4" *ngFor="let item of posts" routerLink="edit/{{item.post_id}}">
        <!-- <app-card-post [post]="item"></app-card-post> -->
        <mat-card class="item-card">
          <mat-card-content>
            <div class="col-sm-12 item-img-container">
              <div class="item-img">
                <img src={{item.post_imageURL}} alt={{item.title}} />
                <div *ngIf="item.dateTime" class="item-expires"><span
                    class="white mdi mdi-calendar"></span>{{item.dateTime | date: 'd.M'}}</div>
              </div>
            </div>
            <div class="col-sm-12 item-details">
              <div class="item-heading">
                <div class="item-title">{{item.title}}</div>
              </div>
              <div class="item-description">
                {{item.subtitle}}
              </div>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>