@import "../../../../../variables.scss";

.s_single {
	&-img-container {
		min-height: 300px;
	}
	&-img {
		img {
			position: initial;
			width: auto;
			height: auto;
			max-width: 50%;
			max-height: 80%;
		}
	}
}
