<div class="wallet_s_single_wrapper synergy-single coop-single row">
  <div class="s_single col-md-12">
    <div appSticky position="top" class="row s_single-title-container">
      <div class="col-md-12">
        <h1 class="s_single-title">{{partner.name}}</h1>
      </div>
    </div>
    <div class="row s_single-img-area">
      <div class="col-md-12 s_single-img-container">
        <div class="s_single-img">
          <img src={{partner.imageURL}} alt={{partner.name}} />
        </div>
      </div>
      <div class="s_single-category">{{partner.sector}}</div>
    </div>
    <div class="row s_single-details">
      <div class="col-md-12">
        <div class="row s_single-info-container">
          <div class="col-md-6 s_single-info">
            <div *ngIf="partner.address" class="info-row"><span class="mdi mdi-pin"></span>{{partner.address.street}},
              {{partner.address.city}}</div>
            <div *ngIf="partner.contact" class="info-row"><span class="mdi mdi-phone"></span>{{partner.contact.phone}}
            </div>
            <div class="info-row"><span class="mdi mdi-email"></span>{{partner.email}}</div>
            <div *ngIf="partner.contact" class="info-row"><span class="mdi mdi-web"></span><a target="_blank"
                href="{{partner.contact.websiteURL}}">{{partner.contact.websiteURL}}</a></div>
          </div>
          <div *ngIf="partner.timetable" class="col-md-6 hours">
            <p [innerHTML]="partner.timetable"></p>
            <!-- <div *ngFor="let hour of (hours)">
              {{hour}}
            </div> -->
          </div>
        </div>
        <div class="row s_single-description">
          <div class="col-md-12">
            <p [innerHTML]="partner.description"></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Microcredit Campaigns -->
    <div class="row section-list" *ngIf="singleMicrocredits && singleMicrocredits.length">
      <div class="col-md-12">
        <h3 class="list-tiltle">{{'CAMPAIGN.PLURAL' | translate }}</h3>
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let microcredit of (singleMicrocredits)">
            <app-card-microcredit [microcredit]="microcredit" type="single" (mousedown)="mousedown()"
              (mousemove)="mousemove()" (mouseup)="mouseup(microcredit, 'microcredit')">
            </app-card-microcredit>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>

    <!-- Offers of Coop -->
    <div class="row section-list" *ngIf="singleOffers && singleOffers.length">
      <div class="col-md-12">
        <h3 class="list-tiltle">{{ 'OFFER.PLURAL' | translate }}</h3>
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let offer of (singleOffers);">
            <app-card-offer [offer]="offer" type="single"></app-card-offer>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>

    <!-- News & Events of Coop -->
    <div class="row section-list" *ngIf="singlePosts && singlePosts.length">
      <div class="col-md-12">
        <h3 class="list-tiltle">{{ 'POST_EVENT.PLURAL' | translate }}</h3>
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let post of (singlePosts)">
            <app-card-post [post]="post" type="single" (mousedown)="mousedown()" (mousemove)="mousemove()"
              (mouseup)="mouseup(post, 'post')"></app-card-post>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>

  </div>



</div>

<!-- Post Event Modal -->
<ng-template #postModal let-c="close" let-d="dismiss">
  <button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <app-single-post [singlePost]="singlePost"></app-single-post>
</ng-template>

<!-- Microcredit Campaign Modal -->
<ng-template #campaignModal let-c="close" let-d="dismiss">
  <button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <app-single-microcredit [microcredit]="singleMicrocredit"></app-single-microcredit>
</ng-template>